@import '../../../../../scss/commons.scss';

.info-newsletter {
  @media (max-width: map_get($grid-breakpoints, 'md')) {
    padding: 0 15px;
    max-width: 370px;
  }

  .newsletter {
    padding-left: 20px;
  }

  .cookies-link {
    cursor: pointer;
  }

  .unsuscribe-block {
    color: $greyText;
    background-color: rgb($greenBG, 0.2);
    padding: 16px;
    border-radius: 5px;
    font-size: 16px;

    a {
      color: rgb($greenBG, 0.9);
    }
  }

  .categories {
    background-color: $newsletterBG;
    border-radius: 5px;

    cf-check {
      color: $greyText;
    }
  }

  .cf-input-container {
    max-width: 278px;

    @media (max-width: map_get($grid-breakpoints, 'md')) {
      max-width: none;
    }
  }

  .subscribe-newsletter {
    position: relative;
    top: 5px;
  }

  .overlay-checks {
    opacity: 0.5;
    width: 100%;
    height: calc(100% + 16px);
    top: -10px;
    background: $white;
    position: absolute;
    z-index: 1111;
  }

  .text-checkbox {
    padding-top: 11px;
  }

  .button-container {
    @media (min-width: map_get($grid-breakpoints, 'md')) {
      width: fit-content;
      min-width: unset;
    }
  }
}
