<ng-container *transloco="let t">
  <div *ngIf="categories?.length" class="info-newsletter">
    <div class="row">
      <div class="newsletter-text t-m-regular mbs">
        <div class="newsletter-title t-h6-bold mbs">
          {{ t('global.contact-language.body') }}
        </div>
        <div class="newsletter-text t-m-regular">
          {{ t('page.contact-language.body') }}
        </div>
        <notification-language class="cf-input-container mt-l" [selected]="clonedUser.notificationLanguage"
          (returnData)="getLangInfo($event)">
        </notification-language>
      </div>
      <div class="row mbm plm">
        <div class="newsletter d-flex flex-column">
          <div class="newsletter-title t-h6-bold mbs">
            {{textSrv.getText('newsletter-title')}}
          </div>
          <div class="newsletter-text t-m-regular">
            {{textSrv.getText('cf-newsletter-text')}}
          </div>
          <div class="newsletter-text t-m-regular d-flex mt-m">
            <cf-check class="subscribe-newsletter" (checkedChange)="subscribeNewsletter()" [(checked)]="clonedUser.newsletterPermissionGiven" ></cf-check>
            <div class="text-checkbox">{{t('page.checkbox-subscribe-newsletter.text-info')}}</div>
          </div>
        </div>
      </div>
      <div class="col-12 d-flex flex-column ptm pbm categories">
        <div class="categories-header t-s-medium">
          {{textSrv.getText('newsletter-header')}}
        </div>
        <div class="row">
          <div *ngIf="!clonedUser.newsletterPermissionGiven" class="overlay-checks"></div>
          <div *ngFor="let category of categories; index as id" class="col-12 col-md-6 d-flex mts mbs">
            <cf-check id="category._m_name.en" [(checked)]="selectedCats[category._id]">
              {{category | translation: 'name'}}
            </cf-check>
          </div>
        </div>
      </div>
      <div class="col-12 p-0">
        <div class="mts mbs newsletter-text t-m-regular pt-m" *ngIf="clonedUser.newsletterPermissionGiven">
          {{textSrv.getText('newsletter-select-all-error')}}
        </div>
        <div class="button-container">
          <cf-button class="col-12" [width]="'auto'" id="change-user-info-btn"
          (click)="updateCategories()">
            {{textSrv.getText('Update')}}
          </cf-button>
        </div>
      </div>
    </div>
  </div>
</ng-container>
