@import '../../../scss/colors.scss';
@import '../../../scss/variables.scss';

.quotes-block {
  @media (max-width: map_get($grid-breakpoints, 'md')) {
    text-align: center;
  }

  .quote {
    position: absolute;
    width: 136px;
    left: 0;
    top: 0;

    @media (max-width: map_get($grid-breakpoints, 'md')) {
      width: 68px;
      left: 0;
      top: 0;
    }
  }

  .text {
    .info {
      font-style: italic;
      text-align: left;

      @media (max-width: map_get($grid-breakpoints, 'md')) {
        text-align: center;
      }
    }
  }

  .picture {
    width: 160px;
    min-width: 160px;
    height: 160px;
    border-radius: 50%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    @media (max-width: map_get($grid-breakpoints, 'md')) {
      width: 80px;
      min-width: 80px;
      height: 80px;
    }
  }
}

.grey-block {
  background-color: map_get($color, 'grey-1');
}

.objectives-block {
  .objectives {
    &-img {
      width: 128px;
      height: 128px;
      border-radius: 50%;
      background-position: center;
      background-repeat: no-repeat;
      background-size: contain;

      @media (max-width: map_get($grid-breakpoints, 'md')) {
        width: 80px;
        height: 80px;
      }
    }

    &-text {
      max-width: 244px;
    }
  }
}

/* .wave-container {
  width: 100%;
  height: 7vw;
  position: relative;
  overflow: hidden;
  @media (max-width: map_get($grid-breakpoints, "md")) {
    height: 25vw;
  }
  .wave {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    @media (max-width: map_get($grid-breakpoints, "md")) {
      width: 350%;
    }
  }
} */

.green-block {
  background-color: map_get($color, 'primary');
  margin-top: -10px;
}

.gasol-img {
  margin: -30% 0;
}

.img-logo {
  max-width: 85%;
}

@media (max-width: map_get($grid-breakpoints, 'md')) {
  .t-d2-blackW {
    font-size: 20px;
    line-height: 24px;
  }
}
