@import './variables.scss';

.green-banner-activated {
  #wrapper-mobile-menu {
    top: 100px;
  }

  #oh-cta {
    @media (min-width: map_get($grid-breakpoints, 'md')) {
      &.fixed {
        top: 100px;
      }
    }
  }

  .up-page {
    #options-bar.fixed {
      top: 30px;
    }

    #up-card-sticky {
      margin-top: 100px;

      @media (min-width: map_get($grid-breakpoints, 'xl')) {
        top: 132px;
        margin-top: 22px;
      }
    }
  }

  app-checkout checkout-cart-section .checkout-cart .sticky-col {
    @media (min-width: map_get($grid-breakpoints, 'md')) {
      top: 115px !important;
    }
  }
}
