/* Centering */
@import '../scss/commons.scss';

.center-total {
  display: flex;
  justify-content: center;
  align-items: center;
}

.center-horizontal {
  display: flex;
  justify-content: center;
}

.center-vertical {
  display: flex;
  align-items: center;
}

.align-vertical {
  text-align: center;
}

/* Columns */

.column-75 {
  width: 75%;
  float: left;
}

.column-25 {
  width: 25%;
  float: left;
}

/* Text */

/* Padding */

.pl-10 {
  padding-left: 10px;
}

.pr-10 {
  padding-right: 10px;
}

//Helper landing waves

.light-wave > * {
  background: linear-gradient(to bottom, white 40px, $bgWaveLigth 40px, $bgWaveLigth 100%, white 99%);
  padding: 25px 0;
  position: relative;

  @media (min-width: map_get($grid-breakpoints, 'lg')) {
    margin-bottom: 120px !important;
  }

  &::before {
    content: '';
    background: url('../assets/icon/home/Divider-desktop-1A.svg') repeat-x;
    width: 100%;
    display: block;
    height: 110px;
    position: absolute;
    left: 0;
    top: 24px;

    @media (min-width: map_get($grid-breakpoints, 'md')) {
      height: 80px;
      top: 2px;
    }

    @media (min-width: map_get($grid-breakpoints, 'lg')) {
      top: -8px;
    }
  }

  &::after {
    content: '';
    background: url('../assets/icon/home/Divider-desktop-1B.svg') repeat-x;
    width: 100%;
    height: 110px;
    display: block;
    position: absolute;
    bottom: -110px;
    left: 0;
    top: 100%;
  }
}

.dark-wave > * {
  background: linear-gradient(to bottom, white 40px, $bgWaveDark 40px, $bgWaveDark 100%, white 99%);
  padding: 25px 0;
  position: relative;

  @media (min-width: map_get($grid-breakpoints, 'lg')) {
    margin-bottom: 120px !important;
  }

  &::before {
    content: '';
    background: url('../assets/icon/home/Divider-desktop-2A.svg') repeat-x;
    width: 100%;
    height: 110px;
    display: block;
    left: 0;
    position: absolute;
    top: 24px;

    @media (min-width: map_get($grid-breakpoints, 'md')) {
      top: 2px;
    }

    @media (min-width: map_get($grid-breakpoints, 'lg')) {
      top: -8px;
    }
  }

  &::after {
    content: '';
    background: url('../assets/icon/home/Divider-desktop-2B.svg') repeat-x;
    left: 0;
    width: 100%;
    display: block;
    height: 110px;
    position: absolute;
    bottom: -81px;
    top: 100%;
  }
}

.dark-wave {
  .text-video-container {
    &::after {
      content: '';
      background: url('../assets/icon/home/Divider-desktop-2B.svg') repeat-x;
      left: 0;
      width: 100%;
      display: block;
      height: 110px;
      position: absolute;
      bottom: -99px;
    }
  }
}

.dark-wave,
.light-wave {
  &.lastElement {
    ::after {
      display: none;
    }
  }

  &.lastElement > * {
    @media (min-width: map_get($grid-breakpoints, 'lg')) {
      margin-bottom: 0 !important;
      padding-bottom: 60px;
    }
  }
}
