@import './colors.scss';

.stripe-element {
  background: white;
  border-radius: 5px;
  border: 1px solid rgba(0, 0, 0, 0.3);

  &:not(.ideal) {
    height: 50px;
    padding: 14px 6px 14px 16px;
  }

  &__error {
    font-size: 14px;
    color: $red;
  }

  &.hidden {
    opacity: 0;
  }
}
