@use 'sass:math';

$grid-breakpoints: (
  xs: 0,
  xsm: 359px,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
  xxl: 1440px,
) !default;

$flag-icon-css-path: 'https://www.crowdfarming.com/assets/icon/flags' !default;
$flag-icon-width: 30px !default;

$flags-rows: 6;
$max-height-country-selector: 360px;
$flags-row-height: math.div($max-height-country-selector, $flags-rows);

// Map to relate the general height to the flags scrollbar height
// We show 6, 5, 3, 2, 1 flag rows in function of the general height
$total-flags-scroll: (
  '710px': $flags-row-height * 5,
  '652px': $flags-row-height * 3,
  '539px': $flags-row-height * 2,
  '484px': $flags-row-height,
);
