@import '../../../../../scss/commons.scss';

.order-ok {
  &__header {
    background-color: map_get($color, 'primary');

    @media (min-width: map_get($grid-breakpoints, 'md')) {
      min-height: 64px;
    }
  }

  &__body {
    @media (min-width: map_get($grid-breakpoints, 'md')) {
      margin: 24px 0;
    }

    .section-container {
      &.summary {
        background: map_get($color, 'grey-1');
        border-bottom: 1px solid map_get($color, 'grey-2');
        margin-bottom: 24px;

        @media (min-width: map_get($grid-breakpoints, 'md')) {
          background: transparent;
          border-bottom: none;
          margin-bottom: 0;
        }
      }
    }
  }

  &-card {
    border-radius: 5px;
  }

  .post-img-container {
    width: 100%;
    height: 100%;
    border-radius: 5px;
    overflow: hidden;

    img {
      width: 100%;
      object-fit: cover;
      background-position: center;
    }
  }

  .invitation-box {
    padding: 16px;
    border-radius: 5px;
    background-color: $greenBG3;
  }

  .farmers-thanks-placeholder {
    width: 80px;
    height: 80px;
    overflow: hidden;
    margin: 0 auto 8px auto;

    img {
      width: 100%;
      object-fit: cover;
    }
  }
}
