<div class="autocomplete" [ngClass]="{ invalid: inputFC.errors }">
  <custom-input
    #input
    [formControl]="inputFC"
    [label]="label"
    [icon]="icon"
    (input)="onInput($event)"
    (inputFocus)="onFocus()"
    (inputBlur)="onBlur()"></custom-input>
  <ul class="autocomplete-list" *ngIf="showOptsList">
    <ng-container *ngFor="let item of filteredOpts">
      <li class="autocomplete-list__elem" (click)="onOptionSelected(item)">
        <ng-container *ngIf="item.img">
          <div class="img flag-icon {{ item.img }}" *ngIf="isFlagIcon(item)"></div>
        </ng-container>
        <span class="t-black-T t-s-medium">{{ item.label }}</span>
      </li>
    </ng-container>
  </ul>
</div>
