<div class="confirmation-popup-container" id="confirmation-popup-block">
  <div class="confirmation-popup-msg popup-header-title">{{title}}</div>

  <div class="confirmation-popup-msg mb-l t-grey-o t-m-regular">{{subMsg}}</div>

  <div class="confirmation-popup-msg mb-l t-grey-o t-m-regular">{{msg}}</div>

  <div class="justify-content-end d-flex flex-md-row flex-column">
    <cf-button *ngIf="!showCancelButton" [ngClass]="domSrv.getIsDeviceSize() ? 'hide-desktop w-100': 'hide-mobile'"
      id="cancel-confirmation-btn" class="hide-mobile" [flat]="true" (click)="onClose()" [width]="'fit'">
      {{cancelAction}}
    </cf-button>

    <cf-button id="accept-confirmation-btn" class="mob-mb-s" [ngClass]="{'w-100': domSrv.getIsDeviceSize()}"
      (click)="onClose(true)" [width]="domSrv.getIsDeviceSize() ? 'auto' : 'fit'">
      {{okAction}}
    </cf-button>
  </div>

  <div *ngIf="!goHideMsg" class="confirmation-popup-advise popup-text-advise text-grey">{{advise}}</div>
</div>
