@import '../../../scss/commons.scss';

.invest-page {
  overflow: hidden;

  .green-block {
    background-color: map_get($color, 'primary');
    position: relative;
    padding: 64px 160px 0 160px;

    @media (max-width: map_get($grid-breakpoints, 'md')) {
      padding: 40px 16px 315px 16px;
    }

    .text {
      width: 100%;
      padding-bottom: 88%;

      @media (max-width: map_get($grid-breakpoints, 'md')) {
        padding-bottom: 10%;
      }

      @media (min-width: map_get($grid-breakpoints, 'xxl')) {
        padding-bottom: 88vh;
      }

      .header {
        max-width: 640px;
        font-size: 32px;
        font-weight: bold;
        line-height: 1.25;
        color: map_get($color, 'white-1');
        margin-bottom: 24px;

        @media (max-width: map_get($grid-breakpoints, 'md')) {
          margin-bottom: 16px;
          font-size: 25px;
          line-height: 32px;
        }
      }

      .body {
        max-width: 640px;
        font-size: 18px;
        font-weight: 500;
        line-height: 1.56;
        color: map_get($color, 'white-1');
        margin-bottom: 24px;

        @media (max-width: map_get($grid-breakpoints, 'md')) {
          font-size: 16px;
        }
      }

      .button {
        max-height: 48px;

        div {
          height: 100%;
          box-shadow: inset 0 0 0 1px #2e9e93;

          &:hover {
            color: map_get($color, 'primary');
            background-color: map_get($color, 'white-1');
          }
        }

        @media (max-width: map_get($grid-breakpoints, 'md')) {
          margin-top: 16px;

          cf-button {
            div {
              width: 100%;
            }
          }
        }
      }

      cf-input {
        margin: 0 16px 0 0;
        max-width: 144px;
        background-color: map_get($color, 'primary');

        .cf-input-box {
          margin: 0;
          background-color: map_get($color, 'white-1');
        }

        @media (max-width: map_get($grid-breakpoints, 'md')) {
          max-width: 100%;
        }

        input {
          text-align: end;
          padding-right: 23px;

          &::-webkit-inner-spin-button {
            -webkit-appearance: none;
            margin: 0;
          }
        }

        i {
          color: map_get($color, 'black-1');
          position: absolute;
          top: 30%;
          right: 10px;
          font-size: 14px;
          font-style: normal;
        }
      }
    }

    .wave-and-team {
      transform: scaleX(-1);
      position: absolute;
      width: 100%;
      bottom: -1%;
      left: 0;
      height: 38%;
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;

      @media (min-width: map_get($grid-breakpoints, 'xxl')) {
        height: 20%;
      }

      @media (max-width: map_get($grid-breakpoints, 'md')) {
        height: 1px;
      }
    }

    .image {
      position: absolute;
      left: 9%;
      bottom: 48%;

      @media (max-width: map_get($grid-breakpoints, 'md')) {
        left: 0%;
        bottom: 240px;
        width: 100vw;
        height: 90px;
      }

      .watermark {
        opacity: 0.24;
        font-size: 83px;
        font-weight: bold;
        line-height: 1.16;
        letter-spacing: normal;
        color: map_get($color, 'white-1');

        @media (max-width: map_get($grid-breakpoints, 'md')) {
          font-size: 32px;
          text-align: center;
        }
      }

      .team {
        position: absolute;
        top: 85%;
        left: 15%;
        width: 70vw;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        height: 540px;
        max-width: 960px;

        @media (max-width: map_get($grid-breakpoints, 'md')) {
          top: 37%;
          left: 0%;
          padding-bottom: 42%;
          max-width: 450px;
          width: 100%;
          height: 55vh;
        }
      }
    }
  }

  .quotes-block {
    padding: 64px 256px;

    @media (max-width: map_get($grid-breakpoints, 'md')) {
      padding: 40px 16px;
      text-align: center;
    }

    .container {
      position: relative;
      min-height: 160px;

      .quote {
        position: absolute;
        width: 136px;
        left: -70px;
        top: 0;

        @media (max-width: map_get($grid-breakpoints, 'md')) {
          width: 68px;
          left: 0;
          top: 0;
        }
      }

      max-width: 1134px;

      .text {
        margin-right: 32px;

        @media (max-width: map_get($grid-breakpoints, 'md')) {
          margin-right: 0;
        }

        .info {
          font-size: 18px;
          font-style: italic;
          line-height: 1.56;
          color: map_get($color, 'grey-7');
          text-align: left;

          @media (max-width: map_get($grid-breakpoints, 'md')) {
            text-align: center;
          }
        }

        .author {
          .name {
            font-size: 18px;
            font-weight: bold;
            line-height: 1.56;
            color: map_get($color, 'black-1');
          }

          .rol {
            font-size: 18px;
            line-height: 1.56;
            color: map_get($color, 'black-1');
          }
        }
      }

      .picture {
        width: 160px;
        height: 160px;
        border-radius: 50%;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;

        @media (max-width: map_get($grid-breakpoints, 'md')) {
          width: 80px;
          height: 80px;
        }
      }
    }
  }

  .gallery {
    position: relative;
    padding: 120px 160px 40px 160px;
    background-color: map_get($color, 'grey-1');

    @media (max-width: map_get($grid-breakpoints, 'xl')) {
      padding: 144px 0 24px 0;
    }

    @media (max-width: map_get($grid-breakpoints, 'md')) {
      padding: 100px 0 24px 0;
    }

    .header {
      position: absolute;
      top: 48px;
      opacity: 0.16;
      font-size: 83px;
      font-weight: bold;
      line-height: 1.16;
      color: map_get($color, 'grey-7');

      @media (max-width: map_get($grid-breakpoints, 'md')) {
        font-size: 58px;
      }
    }

    .scrolling {
      display: flex;
      flex-wrap: nowrap;
      overflow-x: auto;
      width: 100%;

      .content {
        margin: 0;
        width: 100%;

        @media (max-width: map_get($grid-breakpoints, 'md')) {
          width: 300%;
          padding: 0 30px 0 30px;
        }

        .card {
          max-width: 352px;
          width: 30%;
          height: 564px;

          @media (max-width: map_get($grid-breakpoints, 'md')) {
            width: 256px;
            height: 410px;
          }

          flex: 0 0 auto;
        }
      }

      &::-webkit-scrollbar {
        display: none;
      }
    }
  }

  .data-block {
    padding: 120px 160px;
    position: relative;

    @media (max-width: map_get($grid-breakpoints, 'md')) {
      padding: 40px 16px;
    }

    .container {
      .data-row {
        max-width: 1200px;
        margin-bottom: 70px;

        @media (max-width: map_get($grid-breakpoints, 'md')) {
          margin-bottom: 40px;
        }

        .row-header {
          font-size: 14px;
          padding-bottom: 14px;
          font-weight: normal;
          color: map_get($color, 'grey-7');
          border-bottom: 2px solid map_get($color, 'grey-2');
        }

        .row-data {
          margin-bottom: 24px;

          .data {
            font-size: 83px;
            font-weight: bold;
            color: map_get($color, 'primary');

            @media (max-width: map_get($grid-breakpoints, 'md')) {
              font-size: 32px;
              width: 30%;
              padding-right: 8px;
              text-align: end;
            }
          }

          .info {
            @media (max-width: map_get($grid-breakpoints, 'md')) {
              width: 70%;
            }

            .text {
              font-size: 20px;
              font-weight: 500;
              color: map_get($color, 'grey-7');

              @media (max-width: map_get($grid-breakpoints, 'md')) {
                font-size: 16px;
              }
            }

            .date {
              font-size: 12px;
              color: map_get($color, 'grey-7');

              @media (max-width: map_get($grid-breakpoints, 'md')) {
                font-size: 16px;
              }
            }
          }
        }
      }
    }

    .wave {
      position: absolute;
      bottom: -1%;
      left: -1%;
      width: 103%;

      @media (max-width: map_get($grid-breakpoints, 'md')) {
        width: 465%;
      }
    }
  }

  .supply-block {
    background-color: map_get($color, 'grey-1');
    position: relative;
    padding-top: 120px;

    @media (max-width: map_get($grid-breakpoints, 'md')) {
      padding-top: 40px;
    }

    .text {
      padding-bottom: 25%;

      @media (max-width: map_get($grid-breakpoints, 'md')) {
        max-width: 90%;
      }

      .header {
        max-width: 736px;
        font-size: 28px;
        font-weight: bold;
        text-align: center;
        color: map_get($color, 'black-1');

        @media (max-width: map_get($grid-breakpoints, 'md')) {
          font-size: 22px;
          line-height: 28px;
        }
      }

      .body {
        max-width: 544px;
        font-size: 18px;
        font-weight: 500;
        line-height: 1.56;
        text-align: center;
        color: map_get($color, 'black-1');

        @media (max-width: map_get($grid-breakpoints, 'md')) {
          font-size: 16px;
          line-height: 24px;
        }
      }
    }

    .wave {
      position: absolute;
      bottom: -1%;
      left: -1%;
      width: 100%;

      img {
        width: 130%;
      }

      .points {
        position: absolute;
        width: 100%;
        display: flex;
        flex-wrap: nowrap;
        overflow-x: auto;

        .supply {
          flex: 0 0 auto;

          &-img {
            width: 128px;
            height: 128px;
            border-radius: 50%;
            background-position: center;
            background-repeat: no-repeat;
            background-size: contain;

            @media (max-width: map_get($grid-breakpoints, 'md')) {
              width: 80px;
              height: 80px;
            }
          }

          &-text {
            max-width: 244px;
            font-size: 16px;
            font-weight: bold;
            line-height: 1.5;
            text-align: center;
            color: map_get($color, 'black-1');
          }
        }

        &::-webkit-scrollbar {
          display: none;
        }
      }
    }
  }

  .direct-purchase {
    padding: 64px 160px 60px 160px;

    @media (max-width: map_get($grid-breakpoints, 'md')) {
      padding: 170px 0 0 0;
    }

    .content {
      max-width: 1120px;

      .header {
        text-align: start;
        font-size: 32px;
        font-weight: bold;
        line-height: 1.25;
        padding-right: 120px;
        color: map_get($color, 'grey-7');

        @media (max-width: map_get($grid-breakpoints, 'md')) {
          font-size: 28px;
          line-height: 36px;
          padding-right: 0;
        }
      }

      .picture {
        min-width: 80px;
        height: 80px;
        border-radius: 50%;
        margin-right: 32px;
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;

        @media (max-width: map_get($grid-breakpoints, 'md')) {
          margin-right: 0;
        }
      }

      .text {
        margin-top: 8px;

        @media (max-width: map_get($grid-breakpoints, 'md')) {
          text-align: center;
        }

        .sub-header {
          font-size: 20px;
          font-weight: bold;
          line-height: 1.2;
          color: map_get($color, 'black-1');
        }

        .sub-body {
          font-size: 16px;
          line-height: 1.5;
          color: map_get($color, 'black-1');
        }
      }
    }
  }
}

.thanks {
  height: 100vh;
  background-color: map_get($color, 'grey-1');
  position: relative;
  overflow: hidden;

  @media (max-width: map_get($grid-breakpoints, 'md')) {
    height: 864px;
  }

  .msg {
    max-width: 544px;
    margin-top: 172px;

    @media (max-width: map_get($grid-breakpoints, 'md')) {
      margin-top: 80px;
    }

    .fa {
      font-family: 'Noah', sans-serif;
      font-size: 27px;
      font-weight: 800;
      letter-spacing: normal;
      color: map_get($color, 'primary');

      &.cf-icon-crowdfarming-bold {
        font-size: 57px;
        font-weight: 300;
      }

      &.cf-icon-text-light {
        margin-left: 5px;
        font-family: 'Noah', sans-serif;
        font-size: 27px;
        font-weight: 800;
        line-height: 1.56;
        color: map_get($color, 'primary');
      }
    }

    .header {
      text-align: center;
      margin-top: 65px;

      @media (max-width: map_get($grid-breakpoints, 'md')) {
        font-size: 25px;
      }
    }

    .sub-header {
      text-align: center;
      margin: 24px 0;

      @media (max-width: map_get($grid-breakpoints, 'md')) {
        font-size: 16px;
      }
    }

    cf-button {
      max-width: 241px;

      @media (max-width: map_get($grid-breakpoints, 'md')) {
        max-width: 100%;
      }
    }
  }

  img {
    position: absolute;
    width: 100%;
    bottom: 72px;

    @media (max-width: map_get($grid-breakpoints, 'md')) {
      width: 300%;
    }
  }

  .wave-base {
    position: absolute;
    width: 100%;
    height: 72px;
    bottom: 0%;
    background-color: map_get($color, 'white-1');
  }
}
