@import '../../../scss/commons.scss';

.crowdgiving-pg {
  &__body {
    margin: 40px 0;
    position: relative;

    .back-icon {
      cursor: pointer;
      margin-bottom: 12px;

      @media (min-width: map_get($grid-breakpoints, 'md')) {
        position: absolute;
        top: 0;
        left: 0;
        margin-bottom: 0;
      }
    }

    .crowdgiving-block {
      display: grid;
      grid-template-rows: repeat(3, auto);
      row-gap: 40px;

      &__header {
        img {
          width: 56px;
          height: 56px;

          @media (min-width: map_get($grid-breakpoints, 'md')) {
            width: 112px;
            height: 112px;
          }
        }

        h3 {
          font-size: 16px;
          font-weight: 600;
          line-height: 24px;

          @media (min-width: map_get($grid-breakpoints, 'md')) {
            font-size: 20px;
            line-height: 32px;
          }
        }

        h2 {
          font-size: 18px;
          font-weight: 600;
          line-height: 28px;

          @media (min-width: map_get($grid-breakpoints, 'md')) {
            font-size: 24px;
            line-height: 32px;
          }
        }
      }

      // &__body {}
    }
  }
}
