<div *transloco="let t" class="crowdgiving-pg">
  <div *ngIf="canDisplayContent" class="container">
    <div class="crowdgiving-pg__body">
      <i *ngIf="canShowBackButton$ | async" class="eva eva-arrow-back-outline t-h4-medium t-green-primary back-icon" (click)="goBack()"></i>

      <div class="row justify-content-center">
        <div class="col-lg-10 col-xl-8">
          <div class="crowdgiving-block">
            <div class="crowdgiving-block__header">
              <div class="row align-items-center">
                <div class="col-auto">
                  <img width="112" height="112" src="../../../assets/img/crowdgiving/donation.svg" />
                </div>

                <div class="col">
                  <h3 class="t-grey">{{t('page.crowdgiving-title.title ')}}</h3>
                  <h2 class="t-black-T">{{t('page.crowdgiving-subtitle.title ')}}</h2>
                </div>
              </div>
            </div>

            <div class="crowdgiving-block__body">
              <ng-container [ngSwitch]="sectionKey$ | async">
                <ng-container *ngSwitchCase="'ngos'">
                  <app-crowdgiving-ngos [ngosList]="ngosList" [(selectedId)]="selectedNgoId"></app-crowdgiving-ngos>
                </ng-container>

                <ng-container *ngSwitchCase="'products'">
                  <app-crowdgiving-products
                    [selectedNgo]="selectedNgo"
                    [productsList]="productsListMapTo"
                    [totalPrice]="totalPrice"
                    [credits]="credits"
                    [selectedItemsIds]="selectedProductsIds"
                    (selectedItemsQuantityChange)="selectedItemsQuantityChangeHandler($event)"
                    (selectedItemsIdsChange)="selectedItemsIdsChangeHandler($event)">
                  </app-crowdgiving-products>
                </ng-container>

                <ng-container *ngSwitchCase="'payment'">
                  <app-crowdgiving-payment
                    [totalPrice]="totalPrice"
                    [credits]="credits"
                    [user]="user"
                    [allowedPaymentMethods]="allowedPaymentMethods"
                    [cart]="cart$ | async"
                    [currentIso]="project?.address?.country"
                    [purchaseDataExtra]="cgPaymentExtraData"
                    [(selectedPaymentId)]="selectedPaymentId"
                    (payCart)="payCartHandler($event)">
                  </app-crowdgiving-payment>
                </ng-container>
              </ng-container>
            </div>

            <div *ngIf="canShowContinueButton$ | async; else summaryTpl" class="crowdgiving-block__footer">
              <div class="button-wrapper mb-m">
                <ds-button
                  variant="primary"
                  width="full"
                  [content]="t('global.continue.text-link')"
                  [disabled]="isContinueButtonDisabled"
                  (buttonClick)="continue()">
                </ds-button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<ng-template #summaryTpl>
  <app-crowdgiving-summary [selectedNgo]="selectedNgo" [selectedProducts]="selectedProducts"></app-crowdgiving-summary>
</ng-template>