<div *transloco="let t" class="gift-info-popup-container p-5 mob-pl-m mob-pr-m" id="gift-info-popup-block">
  <h4 class="t-h3-bold t-black-H">{{t('page.how-gift-works.title')}}</h4>
  <p class="t-grey-o t-l-regular mt-3">{{t('page.how-gift-works.body')}}</p>
  <ul *ngIf="itemsList" class="d-none d-lg-block pl-0">
    <li *ngFor="let item of itemsList" class="my-3 d-flex align-items-center">
      <img [src]="item.img" [alt]="item.text">
      <p class="t-grey-o t-l-regular ml-3 mb-0">{{t(item.text)}}</p>
    </li>
  </ul>

  <div class="steps mt-5">
    <div #carousel class="carousel d-lg-none">
      <div class="carousel-arrow left">
        <cf-arrow [size]="'s'" [left]="true" [disabled]="step === 1" (click)="onArrowClick(-1, carousel?.offsetWidth)"></cf-arrow>
      </div>
      <div #carouselContent class="carousel-content d-inline-flex align-items-start justify-content-around">
        <div *ngFor="let step of itemsList" class="step-col d-flex justify-content-center" [style.width.px]=" carousel?.offsetWidth">
          <div class="step-col__content text-center d-flex flex-column align-items-center">
            <img class="step-col__content-img mb-2" [src]="'../../../assets/img/group-order/' + step.img">
            <p class="t-grey-o t-l-regular text-center nom w-75">{{t(step.text)}}</p>
          </div>
        </div>
      </div>
      <div class="carousel-arrow right">
        <cf-arrow
          [size]="'s'"
          [right]="true"
          [disabled]="step === itemsList.length"
          (click)="onArrowClick(1, carousel?.offsetWidth)">
        </cf-arrow>
      </div>
    </div>
    
</div>