@import '../../../../../scss/colors.scss';
@import '../../../../../scss/variables.scss';

.checkout-navigation {
  background: map_get($color, 'grey-1');
  border-bottom: 1px solid map_get($color, 'grey-2');

  &__section {
    display: flex;
    align-items: center;
    color: $darkTexts;

    @media (min-width: map_get($grid-breakpoints, 'md')) {
      min-height: 64px;
    }

    &.active {
      color: map_get($color, 'primary');
    }

    &.forward {
      color: map_get($color, 'grey-4');
    }

    h6 {
      display: none;

      @media (min-width: map_get($grid-breakpoints, 'md')) {
        display: block;
      }
    }
  }

  .country-selector-col {
    border-top: 1px solid map_get($color, 'grey-2');

    @media (min-width: map_get($grid-breakpoints, 'md')) {
      border-top: none;
    }
  }
}
