@import '@crowdfarming/ds-library/src/styles/global';

.carousel {
  position: relative;
  overflow: hidden;

  &-inner {
    display: flex;
    transition: transform 0.3s ease-in-out;
  }

  &-item {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 330px;
    width: 100%;
    background-size: cover;
    background-position: center center;
    transition: transform 0.3s ease-in-out;

    @include bp(device-s) {
      height: 350px;
    }

    @include bp(device-m) {
      height: 375px;
    }

    @include bp(device-l) {
      height: 400px;
    }
  }

  &-content {
    width: 100vw;
    background: linear-gradient(90.12deg, rgba(0, 0, 0, 0.3) 0.11%, rgba(217, 217, 217, 0) 99.89%);
    height: 100%;
    align-items: center;
    display: flex;

    h2 {
      color: $ds--color-basic-white;
      margin-bottom: 32px;

      @include bp(device-m) {
        max-width: 600px;
        line-height: 56px;
      }
    }
  }

  &-dots {
    position: absolute;
    display: flex;
    bottom: 30px;

    .dot {
      width: 8px;
      height: 8px;
      border-radius: 8px;
      background-color: $ds--color-basic-white;
      margin: 0 4px;
      cursor: pointer;
    }

    .dot.active {
      width: 24px;
    }
  }
}

.loading {
  background: linear-gradient(to right, #eee 8%, #ddd 18%, #eee 33%);
  background-size: 200% 100% !important;
  animation-name: loadAnimation;
  animation-duration: 5s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  width: 100%;
  height: 330px;

  @include bp(device-s) {
    height: 350px;
  }

  @include bp(device-m) {
    height: 375px;
  }

  @include bp(device-l) {
    height: 400px;
  }
}

@keyframes loadAnimation {
  0% {
    background-position: 100% 0;
  }

  20% {
    background-position: 100% 0;
  }

  100% {
    background-position: -100% 0;
  }
}
