<div *transloco="let t" class="option-card-container"
  [ngClass]="{'cf-shadow-m' : optionSelected || favouriteSelected, 'border-primary-1x' : optionSelected, 'border-supp-2-1x' : favouriteSelected}">
  <div class="option-card-content pa-m" [ngClass]="{'option-card-selected': optionSelected,
    'option-card-favourite': favouriteSelected, ' justify-content-between': favourite }" (click)="clickRadio()">
    <div class="option-card-circle mr-s mt-xs" (click)="clickRadio()" stop-propagation *ngIf="option">
      <div class="option-card-fill"></div>
    </div>
    <ng-content select="[option-card-content]"></ng-content>
    <div class="option-card-star mr-s mt-xs" (click)="clickRadio()" stop-propagation *ngIf="favourite || (fromPurchase && favouriteSelected)">
      <i class="f13 eva" aria-hidden="true" [ngClass]="{'eva-star' : favouriteSelected, 'eva-star-outline' : !favouriteSelected, 'pointer': pointer}"></i>
    </div>
  </div>
  <div class="w-100 d-flex justify-content-end">
    <div class="option-card-delete text-right pa-s t-xs-regular text-grey text-underline pointer"
    *ngIf="activeDelete" (click)="clickDelete()">
      {{t('global.delete.text-link')}}
    </div>
    <cf-button [flat]="true" [size]="'s'" [icon]="true"*ngIf="activeEdit && (!onlySelected || (onlySelected && optionSelected))" (click)="clickEdit()">
      <i aria-hidden="true" class="eva eva-edit-outline t-l-regular"></i>
      {{t('global.Edit.body')}}
    </cf-button>
  </div>
</div>
