@import '../../../scss/variables.scss';
@import '../../../scss/colors.scss';

option-card {
  display: block;
}

.option-card {
  &-container {
    border-radius: 5px;
    transition: all 0.35s ease-out;
  }

  &-content {
    display: flex;
    border-radius: 5px;
    transition: background 0.5s ease-out;
    color: map_get($color, 'black-2');
  }

  &-circle {
    height: 15px;
    width: 16px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    border: 2px solid map_get($color, 'grey-3');
    transition: border 0.4s ease;
  }

  &-fill {
    height: 8px;
    width: 8px;
    background: map_get($color, 'primary');
    border-radius: 50%;
    opacity: 0;
    transition: opacity 0.4s ease;
  }

  &-star {
    color: map_get($color, 'grey-7');
  }

  &-selected {
    &.option-card- {
      &content {
        background: rgba(46, 158, 147, 0.08);
      }
    }

    .option-card- {
      &circle {
        border: 2px solid map_get($color, 'primary');
      }

      &fill {
        opacity: 1;
      }
    }
  }

  &-favourite {
    &.option-card- {
      &content {
        background: rgb(235, 191, 5, 0.08);
      }
    }

    .option-card- {
      &star {
        color: map_get($color, 'supp-2');
      }
    }
  }

  .pointer {
    cursor: pointer;
  }
}
