@import '../../../../../scss/colors.scss';
@import '../../../../../assets/icon/scss/eva-icons-font';

.subscription-box {
  border: 1px solid map_get($color, 'grey-12');
  border-radius: 8px;

  &-title {
    font-weight: 600;
  }

  &.w-auto {
    display: inline-block;
  }

  .icon {
    width: 24px;
    height: 24px;
  }

  ul {
    list-style: none;
    padding: 0;
    margin: 0;

    span {
      color: map_get($color, 'grey-11');

      &.info {
        font-weight: 600;
      }

      &.icon {
        font-family: 'Eva-Icons', sans-serif;
        font-size: 22px;
        color: map_get($color, 'primary');
        position: relative;
        top: 6px;
        width: 24px;
        height: 24px;
        margin-right: 5px;
        display: inline-block;

        &.cf-icon-farmer {
          font-size: 20px;
          top: 3px;
          left: 3px;
        }
      }
    }
  }
}
