<div id="location-selector-popover"
  [ngClass]="{'location-selector-popover-open': isOpen, 'location-selector-popover-space': topSpace}"
  class="location-selector-popover popover-container pa-l">

  <div class="grid-country-lang-selector d-flex flex-column justify-content-between">
    <div class="country-lang-wrapper">
    <!-- Countries -->
    <div class="location-selector-popover-dropdown mt-xs">
      <!-- Country Header -->
      <div class="mb-16">
        <!-- Country Header Title -->
        <div class="country-lang-title fw6 f16 mb-8 lh-24">
          {{textSrv.getText('Choose the delivery country')}}
        </div>
        <!-- Country Header Subtitle -->
        <div class="country-subtitle fw4 f14">
          {{textSrv.getText('To which country do you want us to deliver your orders')}}
        </div>
      </div>
      <!-- Countries Selector -->
      <div class="country-selector">
        <!-- Countries Selector Container -->
        <div *ngFor="let country of countries; let i = index" (click)="newCountry = country.iso"
          [ngClass]="{'pointer': newCountry !== country?.iso}" class="country-selector-container">
          <!-- Country Flag -->
          <div class="country-selector-container-flag">
            <img src="{{env.domain}}/assets/icon/flags-with-border/{{country.iso}}.svg" alt="{{country.name}}"/>
          </div>
          <!-- Country Name -->
          <span class="country-selector-container-name fw6 f15 lh-24"
            [ngClass]="{'country-lang-selected': newCountry === country?.iso}">
            {{country | translation: 'name'}}
          </span>
          <!-- Check Icon - Only for Selected Country -->
          <img *ngIf="newCountry === country?.iso"
            class="country-lang-selector-check"
            src="https://common.crowdfarming.com/uploaded-images/1640277717993-34ce03eb-3e06-4769-8f4d-35c496ac2424.svg"
            alt="Check">
        </div>
      </div>
    </div>

    <!-- Divider -->
    <hr class="desktop-line">

    <!-- Languages -->
    <div class="location-selector-popover-dropdown">
      <!-- Languages Header -->
      <div class="mb-16">
        <!-- Languages Title -->
        <div class="country-lang-title fw6 f16 lh-24">
          {{textSrv.getText('Choose your language')}}
        </div>
      </div>
      <!-- Languages Selector -->
      <div class="language-selector">
        <!-- Languages Selector Container -->
        <div *ngFor="let lang of languages; let i = index" (click)="newLang = lang" class="language-selector-container"
          [ngClass]="{'pointer': newLang?.shortName !== lang?.shortName}">
          <!-- Language Name -->
          <div class="language-selector-container-name fw6 f15 lh-24"
            [ngClass]="{'country-lang-selected': newLang?.shortName === lang?.shortName}">
            {{lang.longName}}
          </div>
          <!-- Check Icon - Only for Selected Country -->
          <img *ngIf="newLang?.shortName === lang?.shortName"
            class="country-lang-selector-check"
            src="https://common.crowdfarming.com/uploaded-images/1640277717993-34ce03eb-3e06-4769-8f4d-35c496ac2424.svg"
            alt="Check">
        </div>
        </div>
      </div>
    </div>

    <!-- Save Button -->
    <div class="accept-button w-100 mt-m d-flex justify-content-end">
      <cf-button (click)="accept()">
        {{textSrv.getText('Save changes')}}
      </cf-button>
    </div>
  </div>
</div>
