@import '@crowdfarming/ds-library/src/styles/global';

.cf-product-item {
  position: relative;
  display: flex;
  padding-top: pxToRem(10);
  gap: pxToRem(16);
  margin-bottom: pxToRem(10);

  &__content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    gap: pxToRem(3.5);
    padding-bottom: pxToRem(16);
    border-bottom: pxToRem(1) solid map-get($globalColors, 'ds--color-grey-16');

    &--last {
      border-bottom: 0;
      padding-bottom: 0;
    }

    @include bp(device-s) {
      flex-direction: row;
      gap: pxToRem(16);

      &--last {
        padding-bottom: pxToRem(16);
      }
    }
  }

  &__summary {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  &__img {
    min-width: pxToRem(48);
    width: pxToRem(56);
  }

  &__right-data {
    display: flex;
    flex-direction: column;
    gap: pxToRem(8);

    @include bp(device-s) {
      align-items: center;
      flex-direction: row;
      gap: pxToRem(0);
    }
  }

  &__props {
    display: flex;
    align-items: center;
    gap: pxToRem(24);
  }

  &__unit-price {
    display: flex;
    justify-content: space-between;

    @include bp(device-s) {
      justify-content: flex-end;
    }
  }

  &__units {
    @include bp(device-s) {
      min-width: pxToRem(96);
      text-align: end;
    }
  }

  &__price {
    min-width: pxToRem(72);
    text-align: end;
  }
}
