<!-- New Home -->
<div [ngClass]="{ 'd-none': !newHome}">
  <!-- Hero slide -->
  <ng-container *ngIf="(slides$ | async) as slides">
    <app-carousel-hero  id="hero-block" [slides]="slides" [isLoadingSlide]="isLoadingSlide"></app-carousel-hero>
  </ng-container>

  <!-- Bullets -->
  <bullets-container></bullets-container>

  <div *transloco="let t" class="mt-5">
    <!-- Search bar -->
    <div class="search-bar container">
      <ds-search
        id="search-bar"
        [placeholder]="t('global.find-a-project.form')"
        (searchValue)="search($event)"
        (searchSuggestion)="search($event)"></ds-search>
    </div>

    <!-- Accelerators -->
    <accelerators *ngIf="accelerators$ | async as accelerators" [accelerators]="accelerators" [animate]="animateAccelerators"></accelerators>

    <!-- Sales block model -->
    <div class="container">
      <sales-model></sales-model>
    </div>

    <!-- Agroupments -->
    <!-- The input isNewHome is provisional, once new one was the only one, We can delete it. -->
    <home-projects-block id="farmers-block" [isNewHome]="true"></home-projects-block>

    <!-- Counters -->
    <counters class="mt-l pv-xxl color-block" [loadCounters]="loadCounters" [isMobile]="isMobile" [showIlustration]="false"></counters>

    <div class="container mt-5">
      <!-- Download App -->
      <download-app></download-app>
    </div>

    <!-- Blog -->
    <div class="blog-posts my-5 py-5 color-block">
      <blog-block *ngIf="blogPosts?.length > 0" [blogPosts]="blogPosts" id="blog-posts-block"></blog-block>
    </div>

    <!-- Newsletter -->
    <home-newsletter-block id="newsletter-block"></home-newsletter-block>
  </div>

  <!-- Old home -->
  <div [ngClass]="{ 'd-none': newHome}">
    <!-- Headers -->
    <global-header></global-header>

    <!-- Cards -->
    <waves-container [waveColor]="'blue'">
      <farmer-market-cards class="mt-l mb-l" id="farmer-market-cards-block"></farmer-market-cards>
    </waves-container>

    <!-- Filters -->
    <home-market-cards class="mt-l mb-l" id="market-cards-block" ></home-market-cards>

    <!-- Counters -->
    <waves-container [waveColor]="'brown'" id="counters-block">
      <counters class="mt-l" [loadCounters]="loadCounters" [isMobile]="isMobile"></counters>
    </waves-container>

    <!-- Projects -->
    <home-projects-block id="farmers-block"></home-projects-block>

    <!-- Slider -->
    <home-feedback-block
      [feedbacks]="feedbacks"
      [titleKey]="'page.real-feedback-real-people.title'"
      id="feedbacks-block"></home-feedback-block>

    <!-- promos-block -->
    <waves-container [waveColor]="'brown'">
      <home-promos-block id="promo-block"></home-promos-block>
    </waves-container>

    <!-- Three blog post -->
    <blog-block *ngIf="blogPosts?.length > 0" [blogPosts]="blogPosts" id="blog-posts-block"></blog-block>

    <!-- Media Logos -->
    <waves-container [waveColor]="'blue'">
      <media-logos [loadMediaLogos]="loadMediaLogos" [isMobile]="isMobile" class="mt-l"></media-logos>
    </waves-container>

    <!-- Newsletter -->
    <home-newsletter-block [spacing]="true" id="newsletter-block"></home-newsletter-block>
  </div>
</div>
