@import '../../../../../scss/commons.scss';
@import '../../../../../scss/accordion.scss';

:host {
  width: 100%;
  margin-left: 16px;

  @media (max-width: map_get($grid-breakpoints, 'md')) {
    margin-left: 0;
  }
}

.tab-label {
  font-weight: 400;
}

.private-zone {
  &-method {
    max-width: 544px;

    &-list {
      &-add {
        border-top: 2px solid map_get($color, 'grey-2');
        border-bottom: 2px solid map_get($color, 'grey-2');
      }
    }
  }
}
