<div class="payment sepa">
  <div class="row">
    <div class="col">
      <custom-input [formControl]="nameFC" placeholder="{{ 'page.name-surname.form' | transloco }}"></custom-input>
    </div>
  </div>
  <div class="row mt-m">
    <div class="col">
      <div #sepaElement class="stripe-element sepa" [ngClass]="{ hidden: !showStripe }"></div>
      <p class="stripe-element__error nom mt-s" *ngIf="sepaError">{{ sepaError }}</p>
    </div>
  </div>
  <div class="mt-m">
    <cf-check [(checked)]="isFavourite">{{ 'page.choose-default-payment-method.button' | transloco }}</cf-check>
  </div>
  <div class="mt-l">
    <cf-button [width]="'auto'" [disabled]="!nameFC.valid || !isSepaDataComplete || !!sepaError" (click)="onAdd()">
      {{ 'global.add.form' | transloco }}
    </cf-button>
  </div>
</div>
