@import '@crowdfarming/ds-library/src/styles/global';
@import '../../../../../scss/commons';

.text-image-block {
  margin-top: 30px;

  &-container {
    .header {
      text-align: left;

      @media (max-width: map_get($grid-breakpoints, 'md')) {
        text-align: center;
      }
    }

    &.content {
      flex-direction: column-reverse;

      @include bp(device-s) {
        flex-direction: initial;
      }

      @media (max-width: map_get($grid-breakpoints, 'sm')) {
        gap: 24px;
      }
    }

    &.image-content {
      margin-top: 0;

      @include bp(device-s) {
        margin-top: 32px;
      }
    }

    &.centered {
      align-items: center;
    }

    &.inverted {
      flex-direction: row-reverse;
    }

    .main-title {
      color: map_get($color, 'black-4');
      font-weight: 800;
      font-size: 28px;
      line-height: 40px;
      letter-spacing: -0.6px;

      @include bp(device-s) {
        font-size: 40px;
        line-height: 48px;
        padding: 10px 0;
      }
    }

    .subtitle {
      font-size: 16px;
      line-height: 24px;
      letter-spacing: -0.4px;
      color: map-get($color, 'grey-11');

      @include bp(device-s) {
        font-size: 20px;
        line-height: 32px;
      }
    }

    .image-with-bg {
      height: 375px;
      overflow: hidden;
    }

    .image {
      width: 100%;
    }

    .text-align-bg {
      position: absolute;
      z-index: 1;
      text-align: center;
    }

    .list {
      padding: 0;
      margin: 0;

      li {
        margin-bottom: 10px;
      }
    }
  }
}
