<div *transloco="let t" class="text-image-block">
  <div class="container">
    <div
      class="row text-image-block-container content justify-content-center py-2 px-4 p-md-5"
      [ngClass]="{
        'content': info?.button,
        centered: !blocksToDisplay?.paragraph,
        inverted: blocksToDisplay?.inverse
      }">
      <div
        class="col-12 col-md-6 d-flex justify-content-center flex-column"
        [ngClass]="blocksToDisplay?.imageBg ? 'col-md-12 text-align-bg' : 'col-md-6'">
        <div
          *ngIf="info?.header && blocksToDisplay?.title"
          [ngClass]="{ 'main-title': info?.button, 't-h1-bold mt-3': !info?.button, 'mb-xs': isHeader }"
          class="header t-grey mb-s">
          {{ t(info?.header) }}
        </div>
        <div *ngIf="info?.subtitle && blocksToDisplay?.subtitle" 
          class="subtitle t-l-regular t-black-T mb-l">
          {{ t(info?.subtitle) }}
        </div>
        <div
          *ngIf="info?.paragraph && blocksToDisplay?.paragraph"
          class="body t-l-regular t-grey mb-l"
          [innerHTML]="t(info?.paragraph)"></div>
        <ul *ngIf="info?.list && blocksToDisplay?.paragraph">
          <li *ngFor="let item of info?.list" class="body t-l-regular t-grey mb-l list">{{ t(item) }}</li>
        </ul>

        <cta-btn-component class="ml-md-0 mx-auto"
          *ngIf="info?.button?.text && blocksToDisplay?.button"
          (outputScrollEmitter)="handleScrollEvent()"
          [info]="info">
        </cta-btn-component>
      </div>
      <div
        class="col-12 col-md-6 d-flex align-items-center justify-content-center image-content"
        [ngClass]="blocksToDisplay?.imageBg ? 'col-md-12 image-with-bg' : 'col-md-6'">
        <div *ngIf="info?.image" [ngClass]="{ imageBg: blocksToDisplay?.imageBg }">
          <img class="image" [src]="info?.image.url | cdn" [alt]="t(info?.image.alt)" />
        </div>
      </div>
    </div>
  </div>
</div>