<!-- Back mobile -->
<div *ngIf="!app" class="private-zone-back hide-tablet flex-center">
  <div class="private-zone-back-container border-bottom-grey-2-2x d-flex w-100">
    <div class="flex-center" (click)="openPrivateMobileMenu()">
      <i class="eva eva-arrow-ios-back-outline f26 mr-s" aria-hidden="true"></i>
      {{textSrv.getText('My Account')}}
    </div>
  </div>
</div>

<ng-container *ngIf="favourites$ | async as favourites">
  <div id="favourite-projects" class="private-zone-section private-zone-favourites w-100" *transloco="let t">
    <h3 class="t-h3-bold t-black-H">{{t('global.favourites.text-info')}}</h3>
    <ds-tabs
      [currentTab]="activePosition$.getValue().tab"
      [tabs]="favouriteSectionTabs"
      [isMaxWidth]="true"
      (currentTabChange)="changeTab($event)">
    </ds-tabs>

    <projects-wrapper
      *ngIf="favourites.totalFavs"
      [projects]="favourites.list"
      [isOH]="activePosition$.getValue().tab === 1">
    </projects-wrapper>

    <div *ngIf="!favourites.totalFavs" class="empty-favourites d-flex flex-column flex-center">
      <img src="{{env.domain}}/assets/img/favourites/favourites-empty.png">
      <h3 class="t-heading-s mv-m">{{t('page.empty-state-favourites.title')}}</h3>
      <p class="t-component-regular-l mb-m">{{t('page.empty-state-favourites.body')}}</p>
      <ds-button
        [content]="projectType$.getValue() === 'adoptions' ? t('page.explore-adoptions.button') :  t('page.explore-boxes.button')"
        (buttonClick)="navigateToCatalogue()">
      </ds-button>
    </div>
    <div *ngIf="favourites.list.length || favourites.list.length > pageLimit" class="d-flex justify-content-center mt-xxxl">
      <ds-pagination
        [activePage]="currentPage"
        [totalPages]="favourites.totalFavs/pageLimit | ceil"
        (pageChange)="changePage($event, projectType$.getValue())">
      </ds-pagination>
    </div>
  </div>
</ng-container>



