<ng-container *transloco="let t">
  <div *ngIf="projects?.length" class="catalogue-wrapper">
    <header-projects-list
      [title]="title"
      subtitle="{{farmersMarketSrv.getMetaDataAdoptions()?.total + ' ' + t('page.Farmers-ship-to.text-info') + ' ' + currentCountry?._m_name?.[currentLang]}}"
      [type]="type"
      [showButtons]="showFiltersButtons">
    </header-projects-list>
    <div *transloco="let t" id="catalogue-container-adoptions" class="catalogue-container catalogue-wrapper__grid--adoptions">
      <ds-adoption-card
        *ngFor="let project of projects; let i = index"
        id="project-card-{{i}}"
        [hasFavourite]="favouriteSrv.favouriteFM$ | async"
        [imageUrl]="project.up.pictureURL"
        [imgAlt]="'Picture'"
        [overline]="cardSrv.getAdoptionText(project.up, type)"
        [title]="project.up | translation: 'title'"
        [farmerName]="project.farmer.name"
        [farmName]="project.farm.name"
        [country]="project.farm.country"
        [deliveryDate]="cardSrv.getMbAdoptionFirstDate(project)"
        [price]="cardSrv.getMbAdoptionPrice(project) | currency"
        [multipleMbsFromText]="t('global.Adopt.From')"
        [minWeight]="cardSrv.getWeight(project)"
        [areMultipleMbs]="cardSrv.areMultipleMasterBoxesInOneShot(project)"
        [seals]="project.upSeals?.header | translateSeals"
        [tagState]="cardSrv.getTagState(project, type)"
        [imageTagIcon]="stateSrv.giftEnabled && project.filters.giftAvailable ? 'gift' : null"
        [tagText]="t(cardSrv.getTagText(project, type).key, { units: cardSrv.getTagText(project, type).params })"
        (isFavouriteChange)="favouriteSrv.handleFavourite(project, {index: i, agroupmentName: null}, type)"
        [isFavourite]="favouriteSrv.isFavourite(type, project.up.id)"
        (click)="domSrv.setScrollPosition($event.pageY)"
        (cardClick)="handleCardClick(project, i)"
        >
      </ds-adoption-card>
    </div>
    <!-- Pagination -->
    <ds-pagination
      [activePage]="farmersMarketSrv.getCurrentPages()?.[type]"
      [totalPages]="farmersMarketSrv.getMetaDataAdoptions()?.total/farmersMarketSrv.getMetaDataAdoptions()?.limit | ceil"
      (pageChange)="changePage($event, type)">
    </ds-pagination>
  </div>
</ng-container>

