@import '@crowdfarming/ds-library/src/styles/global';

.ec-detail {
  position: relative;

  &__main-data {
    position: relative;
    display: grid;
    column-gap: pxToRem(32);
    row-gap: pxToRem(24);

    &--info-sep {
      border-top: pxToRem(1) solid map-get($layerBorderColors, 'border-3');
      margin-top: pxToRem(40);
    }
  }

  &__left {
    max-width: 100%;
    width: 100%;
    border-radius: pxToRem(8);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    aspect-ratio: 3/2;
  }

  &__data {
    position: relative;
  }

  @include bp(device-m) {
    &__main-data {
      display: flex;
      flex-direction: row;

      &--info-sep {
        border-top: 0;
        margin-top: 0;
      }
    }

    &__left {
      max-width: 60%;
    }
  }
}
