@import '../../../../../scss/commons.scss';
@import '../../../../../scss/colors.scss';

.impact-message-loader {
  position: absolute;
  top: calc(50% + 170px);
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  max-width: 328px;
  text-align: center;

  @media (min-width: map_get($grid-breakpoints, 'md')) {
    max-width: 728px;
    top: calc(50% + 132px);
  }

  h3 {
    font-size: 18px;
    font-weight: 600;
    letter-spacing: -0.4px;
    line-height: 28px;
    color: map-get($color, 'black-4');
  }
}
