<section class="cf-order-user-info" *ngIf="countriesByIso">
  <h3 class="t-title-s text-primary-88 mb-8">{{ addressTitle }}</h3>
  <span class="t-body-s text-grey-56">{{ address.name }} {{ address.surnames }}</span>
  <span class="t-body-s text-grey-56">{{ address.street }} {{ address.number }}</span>
  <span class="t-body-s text-grey-56">{{ address.zip }} {{ address.city }}</span>
  <span class="t-body-s text-grey-56">
    {{ countriesByIso[address.country] | translation : 'name' }}
    {{ address.phone ? address.phone.prefix + ' ' + address.phone.number : '' }}
  </span>
  <div class="ec-btn__custom-order-ds-button mt-16" *ngIf="isChangeDirection">
    <ds-button
      size="s"
      variant="secondary"
      [content]="btnText"
      [hasIcon]="true"
      icon="pin"
      (buttonClick)="changeDirection.emit($event)"
    ></ds-button>
  </div>
</section>
