<ng-container *transloco="let t">
  <div *ngIf="loaded">
    <div *ngFor="let item of crossSellingPromos | keyvalue; let i=index">
      <div *ngIf="item.value.length && item.key && specifications?.[item.key] && (activeCS?.includes(item.key)) || !activeCS"
        class="d-flex flex-column cs-block">
        <div *ngIf="specifications[item.key]?.header"
          class="t-h4-bold t-black-T cs-title justify-content-center justify-content-md-start">
          {{t(specifications[item.key].header)}}
        </div>
        <div class="d-flex align-items-stretch mt-xs" [ngClass]="[params.limit === CROSS_SELLING_ELEMENTS ? 'justify-content-between' : 'justify-content-start',
            isLateralCs ? 'flex-column cs-lateral-promos' : 'flex-row cs-promos pb-l']">
          <cross-selling-promo *ngFor="let promo of item.value | slice:0:CROSS_SELLING_ELEMENTS; let j = index;"
            [csType]="item.key"
            [project]="promo"
            [i]="j"
            [lang]="langSrv.getCurrentLang()"
            [buyNowText]="buyNowText"
            [isLateralCs]="isLateralCs"
            (addProduct)="addToCartHandler($event.csType, $event.i)"
            class="d-flex justify-content-center"
            [ngClass]="isLateralCs ? 'w-100' : 'mr-m'">
          </cross-selling-promo>
        </div>
      </div>
    </div>
  </div>
</ng-container>
