<section class="images-mosaic">
  <div
    #mosaicGrid
    class="images-mosaic__grid"
    [ngClass]="{
      'images-mosaic__item--shadow': isShadow,
      'images-mosaic__grid--order': isOrder,
      'images-mosaic__grid--list': isItemList,
      'images-mosaic__grid--radius-fixed': isRadiusFixed
    }">
    <ng-container *ngFor="let item of images; let i = index">
      <div *ngIf="item; else emptyImg"
        class="images-mosaic__item"
        [ngStyle]="{ 'background-image': 'url(' + item.src + ')' }"
        [ngClass]="{
          'images-mosaic__item--more': areMoreImages,
          'images-mosaic__item--not-available': !item.available
        }"></div>
    </ng-container>
    <ng-container *ngIf="!images.length">
      <div class="images-mosaic__item">
        <ec-img-empty></ec-img-empty>
      </div>
    </ng-container>
  </div>
</section>

<ng-template #emptyImg>
  <div class="images-mosaic__item">
    <ec-img-empty></ec-img-empty>
  </div>
</ng-template>