@import '../../../../scss/commons.scss';

.info-cards-section {
  &-content {
    background: #fbf4e9;
    border-radius: 8px;
    min-height: 180px;
    width: 180px;
    margin: 8px;
    align-items: center;

    @media (max-width: map_get($grid-breakpoints, 'md')) {
      box-shadow:
        0 0 4px rgba(187, 196, 195, 0.12),
        0 2px 4px rgba(4, 37, 34, 0.16);
      min-height: 124px;
      width: 124px;
    }

    & img {
      max-width: 110px;

      @media (max-width: map_get($grid-breakpoints, 'md')) {
        max-width: 88px;
      }
    }
  }

  @media (max-width: map_get($grid-breakpoints, 'md')) {
    .scroll-overlay {
      overflow-x: scroll;
    }

    .market-cards-icons {
      width: 700px;
    }
  }

  .category-item {
    cursor: pointer;

    p {
      font-weight: 600;
    }

    :hover {
      box-shadow: 0 5px 10px -1px map_get($color, 'grey-3');

      img,
      p {
        box-shadow: none;
      }
    }
  }
}
