<div *transloco="let t" class="invest-popover cf-shadow-m">
  <div class="d-flex flex-column flex-md-row align-items-center justify-content-between">
    <div class="d-flex flex-column col-12 col-md-8">
      <div class="text" *ngIf="!domSrv.getIsDeviceSize()">{{t('page.help-us-expand-sale.text-info')}}</div>
      <div class="max-min" *ngIf="!domSrv.getIsDeviceSize()">{{t('page.register-interest-before.body')}}</div>
    </div>
    <div class="ineract d-flex flex-column flex-md-row">
      <cf-button [width]="'auto'" (click)="scrollToGreenBlock()"> {{t('page.register-interest.button')}} </cf-button>
    </div>
  </div>
</div>
