<ng-container *transloco="let t">
  <ng-container *ngIf="plan$ | async as plan">
    <!-- Hero -->
    <ds-hero
      [background]="heroColor"
      [description]="t('discoverybox.page.landing.body')"
      [imageSrc]="heroImageSrc"
      [size]="heroSize"
      [primaryButton]="tryButtonText(plan.price)"
      [title]="t('discoverybox.page.landing.title')"
      (clickPrimaryButton)="goToNextStep()"></ds-hero>

    <!-- Bullets -->
    <div class="py-3 bullets-container mb-32">
      <div class="container row mx-auto p-0">
        <div *ngFor="let bullet of bullets" class="col-4">
          <div class="row">
            <img [src]="bullet.img" [alt]="t(bullet.title)" />
            <p class="t-black-T fw-4 d-flex align-items-center ml-3 text-center text-md-start">{{ t(bullet.title) }}</p>
          </div>
        </div>
      </div>
    </div>

    <!-- Next box -->
    <div *ngIf="plan.boxes[plan.nextBox] as nextBox" class="container row mx-auto mb-32 p-0 next-box">
      <div class="next-box--title mb-16">
        <h2 class="t-component-semibold-l">{{ t('discoverybox.page.landing.label') }}</h2>
      </div>

      <div class="next-box--wrapper d-flex">
        <img [src]="nextBox.image" [alt]="t('discoverybox.global.' + nextBox.monthText + '.month')" class="mr-16" />
        <div class="content d-flex flex-column flex-grow-1 justify-content-center">
          <p class="t-component-semibold-m title">{{ nextBox.multiLangTitle[currentLangIso$ | async] }}</p>
          <p>{{t('page.Estimated-delivery.body')}}: {{ nextBox.deliveryDate | date:'dd/MM/yyyy' }}</p>
          <p>{{t('discoverybox.page.landing.order-before.label')}}: {{ nextBox.processDate | date:'dd/MM/yyyy' }}</p>
        </div>
      </div>
    </div>

    <!-- Subscription detail -->
    <div class="container row mx-auto mb-32 p-0">
      <div class="subscription-detail--include">
        <div class="subscription-detail--price">
          <img src="{{env.domain}}/assets/img/subscription-box/subscription-detail.png" />
          <h4 class="title t-component-semibold-xl">{{ t('discoverybox.page.subscription-details-box.title') }}</h4>
          <p class="t-heading-m">
            {{ plan.price | currency:'EUR' }}
            <span class="f16">{{ t('discoverybox.page.subscription-details-per-month.body') }}</span>
          </p>
          <ds-button
            class="button"
            variant="primary"
            width="full"
            [hasContent]="true"
            [content]="t('discoverybox.page.subscription-details-box.button')"
            (click)="goToNextStep()"></ds-button>
        </div>
        <div class="subscription-detail--include-items">
          <h2 class="f24 subscription-detail--title">{{ t('discoverybox.page.landing-subscription-details.title') }}</h2>
          <div *ngFor="let bulletText of bulletPoints" class="subscription-detail--include-item">
            <ds-icon class="item-icon" name="checkmark" size="ds--size-20" [color]="'semantic-primary-medium'"></ds-icon>
            <span class="t-component-regular-m f18">{{ t(bulletText) }}</span>
          </div>
        </div>
      </div>
    </div>

    <!-- Months grid -->
    <waves-container [waveColor]="'blue'">
      <div class="months-grid-container">
        <div class="container row mx-auto months-grid p-0">
          <h2 class="title mb-16 f32 w-100">{{ t('discoverybox.page.landing-module-months.title') }}</h2>
          <p class="months-grid--description t-component-regular-l mb-8">{{ t('discoverybox.page.landing-module-months.body') }}</p>
          <div class="months-grid--grid w-100">
            <div class="months-grid--grid--month-card col-6 col-sm-4 col-md-4 col-lg-3 col-xl-2 mt-32" *ngFor="let box of plan.boxes">
              <img [src]="box.image" alt="" />
              <h3 class="month f18 mt-8">{{ t('discoverybox.global.' + box.monthText + '.month') }} {{ box.year }}</h3>
              <p *ngIf="box.multiLangTitle" class="description f14">{{ box.multiLangTitle[currentLangIso$ | async] }}</p>
            </div>
          </div>
          <div class="months-grid--cta w-100 d-flex justify-content-center cta">
            <ds-button
              class="button"
              variant="primary"
              width="full"
              [hasContent]="true"
              [content]="tryButtonText(plan.price)"
              (click)="goToNextStep()"></ds-button>
          </div>
        </div>
      </div>
    </waves-container>

    <!-- Accordion -->
    <div class="container row mx-auto mb-32 mt-32 p-0">
      <h2 class="title mb-16 f32 w-100 text-center">{{ t('page.frequently-asked-questions.title') }}</h2>
      <ds-accordion *ngFor="let item of faqItems" [title]="t(item.title)" class="w-100">
        <div body class="ds-accordion-panel-description t-component-regular-m" [innerHTML]="t(item.description)"></div>
      </ds-accordion>
    </div>
  </ng-container>
</ng-container>
