@import '../../../../../../scss/colors.scss';
@import '../../../../../../scss/variables.scss';
@import '../../../../../../scss/general.scss';

:host {
  padding: 0;
}

.private-zone {
  min-height: 60vh;
  display: flex;
  color: $black;

  .container {
    max-width: 100%;
  }

  .border-dashed {
    border: 1px dashed #4e4e4f;
    margin: 30px 0;
  }

  .link-decoration {
    text-decoration: underline;
  }

  info-newsletter {
    width: 100%;
    padding-right: 10px;
    padding-left: 10px;
  }

  info-personal {
    width: 100%;
  }

  tabs-nav {
    min-width: 100%;
  }
}

@media (max-width: map_get($grid-breakpoints, 'sm')) {
  :host ::ng-deep cf-tabs .cf-tabs-box {
    justify-content: start;
  }

  .cf-tabs-wrapper {
    margin: 0 -16px;
  }

  ::ng-deep cf-tabs .cf-tabs .cf-tabs-tab {
    font-size: 18px;
  }
}
