@import '../../../../../../scss/commons.scss';
@import '../../../../../../scss/general.scss';

.oh-header {
  .images-block {
    .gallery {
      border-radius: 5px;
      overflow: hidden;
      position: relative;
      max-width: 100%;
      height: 264px;

      @media (min-width: map_get($grid-breakpoints, 'md')) {
        width: 448px;
        height: 552px;
      }
    }
  }

  .info-block {
    width: 100%;

    cf-selector {
      position: relative;
    }

    &-selector {
      max-width: 304px;

      @media (max-width: map_get($grid-breakpoints, 'md')) {
        max-width: 100%;
      }

      .savingText {
        color: $text-yellow-secondary;
      }

      .mb-not-available {
        cursor: no-drop;
        color: map_get($color, 'grey-13');
      }

      .mb-not-available-selector {
        color: map_get($color, 'grey-13');
      }
    }

    .buy-now {
      max-width: 352px;

      @media (max-width: map_get($grid-breakpoints, 'md')) {
        max-width: 100%;
      }
    }

    @media (max-width: map_get($grid-breakpoints, 'md')) {
      .text {
        &-info {
          font-size: 16px;
          line-height: 24px;
        }

        &-delivery {
          font-size: 14px;
          line-height: 20px;
        }

        &-price {
          font-size: 18px;
          line-height: 24px;
        }

        &-vat {
          font-size: 16px;
          line-height: 24px;
        }
      }
    }
  }

  .subscription-block {
    margin-top: 26px;
    display: flex;
    align-items: center;
    column-gap: 2px;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;

    i {
      font-size: 20px;
      margin-right: 8px;
    }

    a:hover {
      text-decoration: underline;
    }
  }
}
