<div *ngIf="up" class="oh-header oh-header d-flex flex-column flex-md-row pt-xxl pb-xl mob-pv-m ">
  <div class="images-block mob-mb-m" [ngClass]="{'mr-xl': !domSrv.getIsDeviceSize()}" *transloco="let t">
    <div>
      <div
        *ngIf="up.selectedMasterBox"
        class="d-flex d-md-none t-h4-blackW t-black-H">
        {{up.selectedMasterBox  | translation: 'name'}}
      </div>
      <div class="d-md-none">
        <header-seals [seals]="seals"></header-seals>
      </div>
      <p class="d-flex d-md-none nop nom t-xl-bold t-grey mb-m">
        {{utilsSrv.numberForFront(up.selectedMasterBox?.weight)}}
        {{up.selectedMasterBox?.weightUnit}}{{t('global.box.title')}}
      </p>
      <div class="position-relative">
        <favourite-btn [isOH]="true" [project]="up" [path]="detailKey"></favourite-btn>
      </div>
      <div
        *ngIf="up?.overharvest?.ohPictureURLs?.length > 0"
        class="gallery">
        <image-gallery [images]="up.overharvest.ohPictureURLs" [currentImage]="0" [arrows]="true">
        </image-gallery>
      </div>
    </div>
  </div>
  <div class="info-block" *transloco="let t">
    <!-- general info -->
    <div>
      <div
        *ngIf="up.selectedMasterBox"
        class="d-none d-md-flex t-h1-blackW t-black-H">
        {{up.selectedMasterBox | translation: 'name'}}
      </div>
      <div class="d-none d-md-flex">
        <header-seals [seals]="seals"></header-seals>
      </div>
      <p class="d-none d-md-flex nop nom t-h4-bold t-grey mb-m">
        {{utilsSrv.numberForFront(up.selectedMasterBox?.weight)}}
        {{up.selectedMasterBox?.weightUnit}}{{t('global.box.title')}}
      </p>
      <div class="text-info t-xl-medium t-black-H">
        {{t('page.directly-without-intermediareies.body')}}
      </div>
      <div class="text-info t-xl-bold t-black-H">
        {{t('page.limited-seasonal.body')}}
      </div>
      <div class="separator inner mt-m mb-m"></div>
    </div>
    <!-- Avalaible OH units -->
    <div *ngIf="maxUnits < 1">
      <span class="t-l-medium  text-delivery t-black-H">{{t('global.project-with-no-boxes.label')}}</span>
      <div class="separator inner mt-m mb-m"></div>
    </div>

    <!-- Delivery Country -->
    <div *ngIf="maxUnits > 0">
      <div class="mb-s">
        <span class="t-l-medium  text-delivery t-black-H" [innerHTML]="t(getRightMessage())"></span>&nbsp;
        <span *ngIf="up?.overharvestAllowed" class="t-l-medium  text-delivery t-green-primary text-underline pointer"
          (click)="openLocationSelector()">{{countriesByIso[location] | translation: 'name' }}</span>
        <i class="ml-xs t-green-primary fa fa-angle-down t-xl-medium"></i>
        <div class="separator inner mt-m mb-m"></div>
      </div>
    </div>

    <!-- SELECT TYPE OF BOX -->
    <div *ngIf="up.masterBoxes?.length > 1"
      class="mt-m info-block-selector">
      <div>
        <span class="text-delivery t-l-medium t-black-H">
          {{t('global.select-your-box.text-info')}}
        </span>
      </div>
      <cf-select #masterBoxSelector [(selected)]="up.selectedMasterBox" [whiteSelect]="true">
        <!-- Selected master box -->
        <div selected *ngIf="up.selectedMasterBox" class="cf-select-selected overflow-text p-relative">
          <div>
            <span [ngClass]="{'mb-not-available-selector': !isMbAvailable(up?.selectedMasterBox)}">
              {{getOptionMasterBoxValue(up?.selectedMasterBox)}}
              <span *ngIf="up?.selectedMasterBox.price?.discount  > MINIMUM_DISCOUNT" class="savingText fw6">
                {{t('global.discount-percentage.text-info', {discount: up?.selectedMasterBox.price.discount})}}
              </span>
            </span>
          </div>
        </div>
        <!-- Rest of master boxes -->
        <div options *ngIf="up.masterBoxes" class="cf-select-options">
          <div *ngFor="let mb of up.masterBoxes; let i = index" (click)="emitSelectMasterBox(mb, i)">
            <div class="cf-select-option overflow-text" [ngClass]="{'mb-not-available': !isMbAvailable(mb)}">
              <span>{{getOptionMasterBoxValue(mb)}}
                <span *ngIf="mb.price?.discount  > MINIMUM_DISCOUNT" class="savingText fw6">
                  {{t('global.discount-percentage.text-info', {discount: mb.price.discount})}}
                </span>
              </span>
            </div>
          </div>
        </div>
      </cf-select>
      <div class="mt-m mb-m"></div>
    </div>

    <!-- Quantity Selector -->
    <div *ngIf="up?.overharvestAllowed && availableDates?.length">
      <div class="quantity mb-m">
        <div class="t-s-medium t-black-H mb-xs">{{t('global.Quantity.text-info')}}</div>
        <div class="d-flex align-items-end">
          <cf-quantity [size]="'s'" (step)="addSubsctractBoxes($event)" [quantity]="totalBoxes" [min]="1"
            [max]="maxUnits">
          </cf-quantity>
          <p class="nop nom t-m-regular t-grey-o ml-s">
            {{utilsSrv.numberForFront(up.selectedMasterBox?.weight * totalBoxes)}}
            {{up.selectedMasterBox?.weightUnit}}
          </p>
        </div>
      </div>
      <div class="separator inner mt-m mb-m"></div>
    </div>

    <!-- Calendar Info - Estimated delivery -->
    <div *ngIf="up?.overharvestAllowed && availableDates?.length && maxUnits > 0">
      <div class="mb-s">
        <div>
          <span class="text-delivery t-l-medium t-black-H">
            {{t('page.Estimated-delivery.body')}}
          </span>
        </div>
        <div class="info-block-selector mt-s">
          <cf-selector id="date-selector" [title]="utilsSrv.dateForFront(selectedDate)" [size]="'m'"
            [value]="selectedDate" [isOpen]="calendarSelectorOpen" (click)="shipmentPopover()"></cf-selector>
        </div>
        <div *ngIf="subscriptionAvailability?.active && isSubscriptionAvailable$ | async" id="subscription-block" class="subscription-block">
          <i class="eva eva-calendar-outline" aria-hidden="true"></i>
          <p class="t-m-regular t-black-H m-0">{{t('page.recurrent-order.text-info')}}
            <span class="t-green-primary mr-s text-underline">
              <a id="subscription-start-btn" (click)="handleClickSubscriptionLink()">{{t('page.recurrent-order.text-link')}}</a>
            </span>
          </p>
        </div>
      </div>
      <div class="separator inner mt-m mb-m"></div>
    </div>

    <!-- Price Info -->
    <div *ngIf="up?.overharvestAllowed && availableDates?.length">
      <div class="price mb-m mt-m">
        <span class="text-price t-h4-bold t-black-H">{{t('page.Final-price.title')}}</span>&nbsp;
        <span class="text-price t-h4-bold t-black-H">{{price?.amount | currency}}</span>&nbsp;
        <span class="text-vat t-m-medium t-grey">{{t('global.vat-included.text-info')}}</span>
      </div>
      <div class="buy-now">
        <cf-button [width]="'auto'" (click)="addProductCart()" [id]="'oh-page-top-oh-btn'" [disabled]="maxUnits <= 0">
          {{t('page.cart.buttom')}}
        </cf-button>
      </div>
      <div class="d-flex flex-column flex-lg-row">
        <div class="d-flex align-items-center icons t-m-medium mr-m mt-m mob-mt-s">
          <i class="eva eva-car-outline t-green-primary mr-s"></i>
          <div class="t-grey">
            {{t('page.deliver-included.body')}}
          </div>
        </div>
        <div class="d-flex align-items-center icons t-m-medium mt-m mob-mt-s mr-xxl mob-no-mr">
          <i class="eva eva-lock-outline t-green-primary mr-s"></i>
          <div class="t-grey">
            {{t('global.secure-payment.body')}}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
