@import '../../../scss/colors';

.infobox {
  position: relative;
  overflow: hidden;

  & .infobox-strip {
    position: absolute;
    width: 8px;
    height: 100%;
    top: 0;
    left: 0;
  }

  &.grey {
    & .infobox-strip {
      background-color: $grey;
    }

    & .infobox-icon {
      color: $grey;
    }
  }

  &.blue {
    & .infobox-strip {
      background-color: map_get($color, 'supp-4');
    }

    & .infobox-icon {
      color: map_get($color, 'supp-4');
    }
  }

  &.green {
    & .infobox-strip {
      background-color: map_get($color, 'supp-1');
    }

    & .infobox-icon {
      color: map_get($color, 'supp-1');
    }
  }

  &.yellow {
    & .infobox-strip {
      background-color: map_get($color, 'supp-2');
    }

    & .infobox-icon {
      color: map_get($color, 'supp-2');
    }
  }

  &.red {
    & .infobox-strip {
      background-color: map_get($color, 'supp-3');
    }

    & .infobox-icon {
      color: map_get($color, 'supp-3');
    }
  }
}
