@import '../../../scss/colors.scss';
@import '../../../scss/commons';

:host {
  .fixed-height- {
    &container {
      height: 100%;
    }

    &actived .image-gallery-container {
      @media (max-height: 920px) {
        height: 85%;
      }

      @media (max-height: 740px) {
        height: 80%;
      }

      @media (max-height: 670px) {
        height: 70%;
      }
    }
  }

  .image-gallery- {
    &container {
      height: 100%;
      width: 100%;
      overflow: hidden;
    }

    &effect {
      height: 100%;
      display: flex;
      transition: transform 0.75s ease-in-out;
    }

    &background {
      display: flex;
      position: relative;

      & img {
        object-fit: cover;
        width: 100%;
        object-position: center 20%;
      }
    }

    &circle {
      position: absolute;
      top: calc(50% - 25px);
      z-index: 2;
      cursor: pointer;
    }

    &left {
      left: 20px;
    }

    &right {
      right: 20px;
    }
  }

  #home-feeback-image {
    box-shadow: 0 4px 6px 0 $blackShadow;
  }
}
