<div *transloco="let t" class="crowdgiving pa-m">
  <div class="row align-items-center">
    <div class="col-auto">
      <div class="img-container">
        <img src="../../../../../assets/icon/crowdgiving.svg" width="48" />
      </div>
    </div>

    <div class="col">
      <h5 class="t-black-T t-m-medium mb-xs">{{ t('page.crowdfarming-with-ukraine.title') }}</h5>
      <p class="t-grey t-s-medium nom">{{ t('page.ukraine-send-products.body') }}</p>
    </div>

    <div class="col-auto">
      <cf-toggle [value]="isActive" (valueChange)="onIsActiveChange($event)"></cf-toggle>
    </div>
  </div>
</div>
