<ng-container *transloco="let t">
  <main class="order-detail-group-container">
    <div class="mb-s d-flex t-s-regular hide-mobile mb-xl">
      <breadcrumbs *ngIf="breadcrumbs.length" [items]="breadcrumbs"></breadcrumbs>
    </div>
    <section class="header">
      <div>
        <images-group [size]="imageSize" [images]="images"></images-group>
      </div>
      <div class="name-container">
        <p>{{t('global.group-order.text-info')}}</p>
        <span class="order-number">{{order.purchaseNumber}}<span class="date">{{formatCreateDay}}</span></span>
        <!-- Guests + promoter -->
        <span [ngClass]="{'cancel': isCancelled}">
          {{t('global.number-people.text-info', {'number': order.guests.length + 1})}}
        </span>
        <order-status-chip *ngIf="isCancelled" [statusParams]="setCancelStatus()"></order-status-chip>
      </div>
    </section>
    <status-box *ngIf="isOutdated" color="red">
      <p class="nop nom">{{t('notifications.time-expired.text-info')}}</p>
    </status-box>
    <div class="separator"></div>

    <section *ngIf="!isCancelled" class="participants-block">
      <h4 class="t-l-medium mb-s">{{t('page.participants.title')}}</h4>
      <div class="participants-container">
        <article class="participants">
          <!-- participants who have paid list -->
          <div *ngFor="let participant of participantsWhoPaid; let i = index" class="members">
            <div class="name">
              <i class="eva eva-checkmark-circle"></i>
              <span *ngIf="participant.id === user._id" class="highlight">{{t('page.you.text-info')}} </span>
              <span class="highlight">{{participant.name}}</span>
              <span *ngIf="isPromoter || participant._id === user._id" class="highlight"> {{participant.surnames}}</span>
            </div>
            <span class="amount">{{participant.individualAmountToPay | currency }}</span>
          </div>
          <div>
            <div *ngFor="let n of slots()" class="members">
              <span class="name"><i class="eva eva-close-outline"></i><span>{{t('page.slot-not-filled.text.info')}}</span></span>
            </div>
          </div>
          <article *ngIf="isPromoter && !isCancelled && !isAllPaid" class="invitation-block">
            <h5 class="cursor-pointer" (click)="sendInvitation()">{{t('page.invite-group-order.text-link')}}</h5>
            <div class="toggle-container">
              <cf-toggle [value]="assumePayment" (valueChange)="promoterAssumesPayment()"></cf-toggle>
              <p>{{t('page.assume-payment-guests.text-info')}}
                <span (click)="moreInfoCheckboxClick($event)">{{t('global.more-information.text-link')}}</span>
              </p>
            </div>
          </article>
        </article>

        <article *ngIf="!isCancelled" [ngClass]="{'paid': isAllPaid || isTimeRemainingHidden}" class="payment-state">
          <div class="payment">
            <div class="amount">
              <!-- Progess bar -->
              <div *ngIf="!isCancelled && !hasBeenCancelled" class="progress-bar">
                <div [ngStyle]="{'width': ((order.currentPaid / order.totalToPay.amount) * 100) + '%'}"></div>
              </div>
              <p *ngIf="!isAllPaid; else finishPayBlock">{{ order.currentPaid | currency }}</p>
              <ng-template #finishPayBlock><p>100%</p></ng-template>
              <span>{{t('page.paid-of.text-info')}} {{ order.totalToPay.amount | currency }}</span>
            </div>
            <div *ngIf="!isCancelled && !isAllPaid && !isTimeRemainingHidden" class="days-left">
              <p>{{formatTime}}</p>
              <span>{{t('page.time-left.text-info')}}</span>
            </div>
          </div>

        </article>
      </div>
    </section>

    <section class="order-block">
      <h4 class="t-l-medium mb-s">{{t('page.products.title')}}</h4>
      <order-card *ngFor="let groupOrder of ordersInGroup; index as id"
      [order]="groupOrder" [isFromGroupOrder]="order.id" [isPromoter]="isPromoter" [app]="false" id="order-number-{{id}}">
      </order-card>
    </section>
    <div class="separator"></div>
    <section class="address">
      <h4 class="t-l-medium mb-s">{{t('page.shipping-address.title')}}</h4>
      <div *ngIf="address" class="address-data">
        <p>{{address.name}} <span *ngIf="isPromoter">{{address.surnames}}</span></p>
        <p *ngIf="isPromoter">{{address.street}}, {{address.number}}, {{address.details}}</p>
        <p>{{address.zip}} {{address.city}}</p>
        <p *ngIf="isPromoter">{{address.country}}</p>
        <p *ngIf="isPromoter">{{address.phone.prefix}} {{address.phone.number}}</p>
        <div class="button-container">
          <cf-button *ngIf="changeAddressAvailable && isPromoter" class="change-address-button" [icon]="true" [iconLeft]="true" [secondary]="true" [size]="'s'"
          [width]="'auto'" (click)="autoLoginValidation('changeAddressInfo', false, false, ordersPlanned)">
          <i class="eva eva-pin-outline f20"></i>
          {{t('page.Change-shipping-address.body')}}
        </cf-button>
        </div>
      </div>
    </section>
    <section *ngIf="!isCancelled" class="cancel">
      <div class="separator"></div>
      <span class="link" (click)="cancelGroupOrder()">
        {{t('page.cancel-order.text-link')}}
      </span>
    </section>
  </main>
</ng-container>
