@import '../../../scss/variables.scss';
@import '../../../scss/colors.scss';

.subscription-selector {
  margin: 20px 0 0 0;
  width: 100%;
  display: grid;
  row-gap: 16px;

  @media (min-width: map_get($grid-breakpoints, 'md')) {
    margin: 20px 0;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 16px;
  }

  & cf-selector {
    width: 100%;
    position: relative;
  }
}
