@import '../../../../../scss/colors.scss';
@import '../../../../../scss/variables.scss';

.liberate-adoption-confirmation-popup-img {
  img {
    width: 216px;
    height: 248px;
  }
}

@media (min-width: map_get($grid-breakpoints, 'md')) {
  .liberate-adoption-confirmation-popup-container {
    width: 624px;
    max-width: 624px;
  }

  .liberate-adoption-confirmation-popup-title {
    font-size: 18px !important;
  }

  .liberate-adoption-confirmation-popup-msg {
    margin-bottom: 40px;
  }
}

@media (max-width: map_get($grid-breakpoints, 'md')) {
  .liberate-adoption-confirmation-popup-img {
    display: none;
  }
}
