<div class="stripe-sepa-container row-no-margin flex-center pt-1">
  <div class="stripe-sepa-form w-100">
    <cf-input *ngIf="stripeRef">
      <input name="name" placeholder="{{'page.name-surname.form' | transloco}}" [(ngModel)]="stripeRef.name"
        (keyup)="checkName()">
      <div *ngIf="errorName" class="cf-input-error-msg">
        {{'notofication.Mandatory-field.body' | transloco}}
      </div>
    </cf-input>
    <cf-input *ngIf="!stripeRef">
      <input name="name" placeholder="{{'page.name-surname.form' | transloco}}" [(ngModel)]="sepaName"
        (keyup)="checkName()">
      <div *ngIf="errorName" class="cf-input-error-msg">
        {{'notofication.Mandatory-field.body' | transloco}}
      </div>
    </cf-input>
    <div class="stripe-sepa-element mt-l" #sepaElement>
    </div>
  </div>
  <div *ngIf="sepaErrors" class="stripe-sepa-error w-100 mt-s ph-l">
    {{sepaErrors}}
  </div>
  <div *ngIf="askDefault" class="w-100 mt-m mb-m">
    <cf-check [(checked)]="sepaAsDefault">
      {{'page.choose-default-payment-method.button' | transloco}}
    </cf-check>
  </div>
</div>
