@import '../../../scss/colors.scss';

.privacy {
  width: 100%;
  min-height: 100%;

  a {
    color: $CF1;
    text-decoration: underline;

    &:hover {
      color: $CF1;
      text-decoration: none;
    }

    &:visited {
      color: $CF1;
    }
  }

  &-title {
    background: $CF2;
  }

  &-header {
    background-image: url('https://common.crowdfarming.com/uploaded-images/1554820866592-0261c4da-e37c-4748-bd7a-d331bc7802b8.jpg');
    background-position: center;
    background-size: cover;
    height: 30vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -7px;
    color: white;
  }

  .greyBG {
    background: $greyBG;
  }

  &-introduction {
    color: white;

    a {
      color: white;

      &:hover {
        color: white;
      }

      &:visited {
        color: white;
      }
    }
  }
}
