<div *transloco="let t" class="newsletter p-5 pb-xl mob-mt-s mob-pt-xs mob-pb-xs" [ngClass]="{'spacing' : spacing}">
  <div class="row py-5">
    <div class="col-12 col-md-6 d-flex align-items-center">
      <div class="mr-md-s mr-0 img mt-md-0 mt-4">
        <image-lazy [index]="1" [startLazyAt]="0" [imageId]="'mobile-promo-first-image'" [imageURL]="imgBlock">
        </image-lazy>
      </div>
    </div>
    <div class="col-12 mob-pl-m col-md-6 d-flex flex-column justify-content-center" [ngClass]="!domSrv.getIsDeviceSize() ? 'no-pl' : ''">
      <h2 class="title t-black-T t-h2-blackW nom pb-l pr-md-5">
        {{t(titleKey)}}
      </h2>
      <div class="row-no-margin form-block">
        <form #subscribe class="w-100">
          <div class="col-12 col-no-padding">
            <cf-input class="col-12 col-md-7 col-no-padding" [error]="formErrors.name">
              <input name [value]="crowdfarmer.name" (input)="crowdfarmer.name = $event.target.value"
                placeholder="{{t('page.Your-name.form')}}" (blur)="minLengthIsValid('name', true)"
                (keyup)="minLengthIsValid('name')" (focus)="dontShowNewsletterModal()"/>
              <div *ngIf="formErrors.name" class="cf-input-error-msg">
                {{t('page.must-be-between-1-and-40-characters.body')}}
              </div>
            </cf-input>
          </div>

          <div class="col-12 col-no-padding row-no-margin">
            <cf-input class="col-12 col-md-7 col-no-padding" [error]="formErrors.email">
              <input email [value]="crowdfarmer.email" (input)="crowdfarmer.email = $event.target.value"
                placeholder="{{t('page.email-address.form')}}" autocomplete="off" (blur)="emailIsValid(true)"
                (keyup)="emailIsValid()" (focus)="dontShowNewsletterModal()"/>
              <div *ngIf="formErrors.email" class="cf-input-error-msg">
                {{crowdfarmer.email.length <= 0 ? t('page.must-be-between-1-and-40-characters.body') : t('page.format-not-valid.text-info')}} </div>
            </cf-input>

            <div class="d-none d-md-block col-md-5 mt-m pl-m">
              <cf-button [size]="'m'" (click)="register(subscribe)">
                {{t('page.subscribe.button')}}
              </cf-button>
            </div>

            <!-- Privacy Mobile -->
            <div class="d-flex d-md-none col-12 col-no-padding mt-m">
              <cf-check [(checked)]="privacy" (checkedChange)="privacyIsValid()"
                [colour]="formErrors.privacy ? 'red' : ''">
              </cf-check>
              <p class="t-s-regular nom pb-s" [innerHTML]="utilsSrv.getPrivacyText() | safeHtml"
                [ngClass]="formErrors.privacy ? 't-supp-red' : 't-grey'">
              </p>
            </div>

            <div class="d-block d-md-none col-12 col-no-padding mt-m">
              <cf-button [width]="'auto'" (click)="register(subscribe)">
                {{t('page.subscribe.button')}}
              </cf-button>
            </div>
          </div>

          <!-- Privacy Desktop -->
          <div class="d-none d-md-flex col-12 col-no-padding mob-mt-m align-items-center">
            <cf-check [(checked)]="privacy" (checkedChange)="privacyIsValid()"
              [colour]="formErrors.privacy ? 'red' : ''">
            </cf-check>
            <p class="t-s-regular nom privacy-text" [innerHTML]="utilsSrv.getPrivacyText() | safeHtml">
            </p>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
