@import '@crowdfarming/ds-library/src/styles/global';

.banner-custom-box {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom right;
  border-radius: pxToRem(16);
  padding: pxToRem(16);
  color: map_get($layerBackgroundColors, 'background-1');
  z-index: 1;

  &__content {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: pxToRem(16);
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.3) 0%, rgba(0, 0, 0, 0) 100%);
    z-index: -1;
  }

  &__title {
    @extend .t-heading-l;

    margin-bottom: pxToRem(4);
  }

  &__desc {
    @extend .t-body-s;

    margin-bottom: pxToRem(16);
  }

  @include bp(device-s) {
    background-size: 100%;
    padding: pxToRem(24);

    &__content {
      background: linear-gradient(89.27deg, rgba(0, 0, 0, 0.3) 0.63%, rgba(0, 0, 0, 0) 99.37%);
    }

    &__title {
      margin-bottom: pxToRem(8);
    }

    &__desc {
      margin-bottom: pxToRem(24);
      width: 60%;
    }
  }

  @include bp(device-m) {
    padding: pxToRem(32);
  }

  @include bp(device-l) {
    padding: pxToRem(48);
  }

  &__btn-content {
    width: 100%;

    @include bp(device-s) {
      width: fit-content;
    }
  }
}
