// Imported in general
// @import '@crowdfarming/ds-library/src/styles/global';

$base-color: map_get($semanticNeutralColors, 'semantic-neutral-light');
$shine-color: map_get($layerBackgroundColors, 'background-1');
$animation-duration: 1.4s;

@keyframes loadAnimation {
  0% {
    background-position: 100% 0;
  }

  20% {
    background-position: 100% 0;
  }

  100% {
    background-position: -100% 0;
  }
}

.ec-skeleton {
  position: relative;
  width: 100%;
  border-radius: map-get($sizes, 'ds--size-8');
  background: linear-gradient(90deg, $base-color 8%, rgb(201, 208, 208, 0.6) 18%, $base-color 28%);
  background-size: 200% 100%;
  animation-name: loadAnimation;
  animation-duration: $animation-duration;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  background-repeat: inherit;

  &__circle {
    border-radius: pxToRem(50);
  }
}
