// Text ecommerce classes

.text-primary-88 {
  color: $ds--color-primary-88;
}

.text-primary-48 {
  color: $ds--color-primary-48;
}

.text-grey-56 {
  color: $ds--color-grey-56;
}

.text-red-48 {
  color: $ds--color-red-48;
}

.text-color-grey-72 {
  color: $ds--color-grey-72;
}
