<div class="checkout">
  <ng-container *ngIf="getStoreDataObservable('isPageLoaded') | async">
    <ng-container *ngIf="$hasProducts | async; else emptyCartTpl">
      <div class="checkout__navigation" *ngIf="$displayBreadcrumbs | async">
        <checkout-navigation
          [sections]="getStoreData('sections')"
          [activeSection]="activeSection"
          [countriesByIso]="getStoreDataObservable('countriesByIso') | async"
          (openLocation)="openLocationHandler()"></checkout-navigation>
      </div>

      <div class="checkout__body">
        <div class="container" [ngClass]="{'white-bckg': getStoreDataObservable('summaryOpen') | async}">
          <div class="row">
            <div
              class="checkout__section-col"
              [ngClass]="{'col-md-6 order-2 order-md-1': getStoreData('sectionQuery') !== 'cart', 'col': getStoreData('sectionQuery') === 'cart'}">
              <div class="checkout__section">
                <ng-container [ngSwitch]="getStoreData('sectionQuery')">
                  <ng-container *ngSwitchCase="'cart'">
                    <checkout-cart-section
                      [(accepted18)]="accepted18"
                      [(warning18)]="warning18"
                      [products]="getStoreDataObservable('products') | async"
                      [seals]="seals"
                      [continueDisabled]="getStoreDataObservable('invalidShipmentCountry') | async"
                      [hasUnavailableProducts]="getStoreDataObservable('hasUnavailableProducts') | async"
                      [currentIso]="getStoreDataObservable('currentIso') | async"
                      [currentCurrency]="getStoreDataObservable('currentCurrency') | async"
                      [isGroupOrderAvailable]="getStoreData('isGroupOrderAvailable')"
                      [allowedPaymentMethods]="$allowedPaymentMethods | async"
                      [credits]="getStoreData('credits')"
                      [creditsToSpend]="getStoreData('creditsToSpend')"
                      [showCreditsTooltip]="getStoreDataObservable('showCreditsTooltip') | async"
                      [isUserLogged]="getStoreDataObservable('isUserLogged') | async"
                      [isApplePayEnabled]="$isApplePayEnabled | async"
                      [isBrowserSafari]="isBrowserSafari"
                      [isProductSubscriptionAvailable]="getStoreData('isProductSubscriptionAvailable')"
                      [isAnyProductSubscriptionActive]="getStoreDataObservable('isAnyProductSubscriptionActive') | async"
                      [isProductGiftAvailable]="getStoreData('isProductGiftAvailable')"
                      [displayKlarnaAdvertising]="$displayKlarnaAdvertising | async"
                      (productRemove)="removeCartProductHandler($event)"
                      (productUpdate)="updateCartProductHandler($event)"
                      (nextSection)="changeSectionHandler(1)"
                      (openLocation)="openLocationHandler()"></checkout-cart-section>
                  </ng-container>

                  <ng-container *ngSwitchCase="'shipment'">
                    <checkout-shipment-section
                      #shipmentSectionCmp
                      [addresses]="getStoreDataObservable('userAddresses') | async"
                      [selectedAddressId]="getStoreDataObservable('selectedUserAddressId') | async"
                      [countriesByIso]="getStoreDataObservable('countriesByIso') | async"
                      [currentIso]="getStoreDataObservable('currentIso') | async"
                      [shipperMsg]="shipperMsg"
                      [dedicatoryMsg]="dedicatoryMsg"
                      [hasUnavailableProducts]="getStoreDataObservable('hasUnavailableProducts') | async"
                      [isGroupOrder]="getStoreDataObservable('isGroupOrder') | async"
                      [isCartInvalid]="getStoreDataObservable('isCartInvalid') | async"
                      (changeSection)="changeSectionHandler($event)"
                      (selectedAddressChange)="onSelectedAddressChangeHandler($event)"
                      (addressesOnChange)="addressesOnChangeHandler($event)"
                      (msgActiveChange)="msgActiveOnChangeHandler($event)"
                      (msgValueChange)="msgValueOnChangeHandler($event)"></checkout-shipment-section>
                  </ng-container>

                  <ng-container *ngSwitchCase="'payment'">
                    <checkout-payment-section
                      [availablePaymentMethods]="getStoreDataObservable('availablePaymentMethods') | async"
                      [allowedPaymentMethods]="$allowedPaymentMethods | async"
                      [selectedPaymentMethod]="getStoreData('selectedPaymentMethod')"
                      [stripeRef]="getStoreData('stripeRef')"
                      [isGroupOrder]="getStoreData('isGroupOrder')"
                      [isAnyProductSubscriptionActive]="getStoreDataObservable('isAnyProductSubscriptionActive') | async"
                      [countriesByIso]="getStoreData('countriesByIso')"
                      [isGroupOrderGuestPaymentMode]="getStoreData('isGroupOrderGuestPaymentMode')"
                      [finalPrice]="getStoreData('finalPrice')"
                      [displayKlarnaAdvertising]="$displayKlarnaAdvertising | async"
                      (changeSection)="changeSectionHandler(-1)"
                      (payCart)="payCartHandler($event)"
                      (payWithNewCard)="payWithNewCardHandler($event)"
                      (payWithNewPayPal)="payWithNewPayPalHandler()"
                      (payWithNewKlarna)="payWithKlarnaHandler()"></checkout-payment-section>
                  </ng-container>
                </ng-container>
              </div>
            </div>

            <div class="col-md-6 order-1 order-md-2 checkout__summary-col" *ngIf="getStoreData('sectionQuery') !== 'cart'">
              <div class="checkout__summary">
                <checkout-summary
                  [products]="getStoreDataObservable('products') | async"
                  [price]="getStoreData('price')"
                  [finalPrice]="getStoreDataObservable('finalPrice') | async"
                  [summaryOpen]="getStoreDataObservable('summaryOpen') | async"
                  [canUpdateProduct]="getStoreData('sectionQuery') !== 'payment'"
                  [currentIso]="getStoreDataObservable('currentIso') | async"
                  [hideHeader]="getStoreDataObservable('isGroupOrderGuestPaymentMode') | async"
                  [isGroupOrder]="getStoreDataObservable('isGroupOrder') | async"
                  [credits]="getStoreData('credits')"
                  [creditsToSpend]="getStoreData('creditsToSpend')"
                  [isProductSubscriptionAvailable]="getStoreData('isProductSubscriptionAvailable')"
                  [isProductGiftAvailable]="getStoreData('isProductGiftAvailable')"
                  [isInCheckout]="true"
                  (titleClick)="handleSummaryTitleClick()"
                  (changeAddress)="changeAddressFromSummaryHandler()"
                  (deleteProduct)="removeCartProductHandler($event)"
                  (updateProduct)="updateCartProductHandler($event)"></checkout-summary>
              </div>
            </div>
          </div>
        </div>
      </div>
    </ng-container>

    <div [hidden]="getStoreData('sectionQuery') !== 'cart' || !isCsActive" class="container cross-selling mb-xxl mt-xxl">
      <div [hidden]="loadingProjects">
        <cross-selling-block-component
          #CSBlockCmp
          [params]="csParams"
          [specifications]="csSpecifications"
          [loadOnInit]="getStoreData('products')?.length > 0 ? false : true"
          (crossSellingProductAdded)="addCSProductHandler()"
          (crossSellingProductReceived)="onCrossSellingProductReceived()"></cross-selling-block-component>
      </div>

      <div *ngIf="loadingProjects" class="rowNoMargin d-flex">
        <project-card
          id="project-card-cont"
          *ngFor="let dummy of [1, 2, 3, 4]; let i = index"
          class="project-card-cont mtb mbm pointer col-12 col-md-6 col-lg-3"></project-card>
      </div>
    </div>
  </ng-container>
</div>

<ng-template #emptyCartTpl>
  <div class="empty-cart" *transloco="let t">
    <div class="empty-cart__illustration"></div>
    <div class="empty-cart__projects container">
      <div class="empty-cart__projects-title flex-center t-h6-bold mt-xl t-black-T">{{t('page.cart-empty-flowers.title')}}</div>
      <div class="empty-cart__projects-text flex-center t-m-regular mt-xs t-grey-o">{{t('page.enyoy-the-experience.body')}}</div>
      <div class="empty-cart__projects-button mt-m mb-xxl d-md-flex">
        <ds-button
          *ngFor="let link of links"
          [variant]="link?.secondaryStyle"
          [content]="t(link.key)"
          (buttonClick)="routerSrv.navigateToFarmersMarket(link.link)"
          class="mb-3 mb-md-0 mx-1"
          width="full"></ds-button>
      </div>
    </div>
  </div>
</ng-template>
