<div class="farmers-carousel border-disabled-1x">
  <h4 class="text-center t-l-bold mb-l t-black-H">{{ 'page.Thank-you-behalf.text-info' | transloco }}</h4>

  <div class="section-images" *ngIf="farmers">
    <div class="section-images__carousel" [ngClass]="{ active: isActiveCarousel }" #carousel>
      <div *ngIf="isActiveCarousel" class="section-images__carousel-arrow left">
        <cf-arrow [size]="'m'" [left]="true" [disabled]="step === 1" (click)="onArrowClick(-1, carousel?.offsetWidth)"></cf-arrow>
      </div>
      <div class="section-images__carousel-content d-inline-flex align-items-start justify-content-around" #carouselContent>
        <div
          class="farmer-col d-flex justify-content-center"
          [style.width.px]="isActiveCarousel ? carousel?.offsetWidth : carousel?.offsetWidth / farmers.length"
          *ngFor="let farmer of farmers; let i = index">
          <div class="farmer-col__content text-center d-flex flex-column align-items-center">
            <div class="farmer-picture mb-xs" [style.backgroundImage]="'url(' + (farmer.profile | cdn: 100) + ')'"></div>
            <div class="t-s-medium text-black">
              {{ farmer.name }}
              <br />
              {{ farmer.surnames }}
            </div>
            <div class="t-s-regular text-grey">{{ farmer | translation: 'farm' }}</div>
          </div>
        </div>
      </div>
      <div *ngIf="isActiveCarousel" class="section-images__carousel-arrow right">
        <cf-arrow
          [size]="'m'"
          [right]="true"
          [disabled]="step === this.farmers.length"
          (click)="onArrowClick(1, carousel?.offsetWidth)"></cf-arrow>
      </div>
    </div>
  </div>
</div>
