<div class="up-header" *ngIf="up && ss" [ngClass]="{'mt-xl': !domSrv.getIsDeviceSize()}">
  <div class="upper-block d-flex flex-column flex-xl-row justify-content-between">
    <div *ngIf="up && up.introPicturesURLs && up.introPicturesURLs.length > 0" class="image cf-shadow-s w-100">
      <favourite-btn [isOH]="false" [project]="up" [path]="detailKey"></favourite-btn>
      <img src="{{up.introPicturesURLs[0] | cdn: 800}}" alt="{{up | translation:'production'}}">
    </div>
    <div class="info" [ngClass]="{'container': domSrv.getIsDeviceSize()}">
      <div class="info-content h-100 d-flex flex-column justify-content-between">
        <div class="mob-mt-m mob-mb-m">
          <h6 class="farm t-h6-medium t-green-brand">
            {{farm | translation:'name'}}
          </h6>
          <h2 class="production t-h2-blackW t-black-H text-capitalize">
            {{up | translation:'production'}}
          </h2>
          <header-seals [seals]="seals"></header-seals>
          <div class="status mt-s">
            <!-- Component that shows the correct info message depends on the seasonState -->
            <up-header-messages [up]="up" [ss]="ss" [selectedCountry]="selectedCountry" [countriesByIso]="countriesByIso"
              [availableCountriesByISO]="availableCountriesByISO">
            </up-header-messages>
          </div>
        </div>
        <div id="adopt-buy-btn">
          <cf-button
            *ngIf="(ss.upsAvailable && ss.inSeason) || (ss.ohAvailable && !ss.upsAvailable && !ss.cantSendCountry && !ss.noDatesLeft); else otherProjects"
            (click)="manageAdding(ss.upsAvailable && ss.inSeason || (ss.ohAvailable && !ss.upsAvailable && !ss.cantSendCountry && !ss.noDatesLeft)); $event.stopPropagation();"
            [width]="'auto'" [id]="ss.upsAvailable && ss.inSeason ? 'adopt-page-top-adopt-bt' : 'adopt-page-top-oh-btn'">
            {{textSrv.getText(ss.upsAvailable && ss.inSeason ? 'Adopt' : 'Buy loose box')}}
          </cf-button>

          <ng-template #otherProjects>
            <cf-button
              (click)="manageAdding(ss.upsAvailable && ss.inSeason || (ss.ohAvailable && !ss.upsAvailable && !ss.cantSendCountry && !ss.noDatesLeft)); $event.stopPropagation();"
              [secondary]="true" [width]="'auto'">
              {{textSrv.getText('See other projects')}}
            </cf-button>
          </ng-template>
        </div>
      </div>
    </div>
  </div>

  <div *ngIf="ss.upsAvailable && ss.inSeason"
    class="down-block d-flex flex-column flex-lg-row mt-l mob-mt-m"
    [ngClass]="{'container': domSrv.getIsDeviceSize()}">
    <div
      class="info-box pa-m w-100 t-a-center d-flex justify-content-start justify-content-md-center align-items-center mr-l mob-no-mr mob-mb-s">
      <span class="cf-icon-farm t-h4-medium t-green-primary">
      </span>
      <span class="t-m-medium t-grey ml-s mr-s">
        {{textSrv.getText('units left')}}:
      </span>
      <span class="t-m-medium t-green-primary">
        {{headerBoxesInfo.remainingUnits <= 500 ? headerBoxesInfo.remainingUnits : '+500' }} </span>
    </div>
    <div *ngIf="headerBoxesInfo.daysLeft && headerBoxesInfo.daysLeft > 0"
      class="info-box pa-m w-100 t-a-center d-flex justify-content-start justify-content-md-center align-items-center"
      [ngClass]="{'mr-l mob-no-mr mob-mb-s': headerBoxesInfo.nextDelivery}">
      <span class="eva eva-calendar-outline t-h4-medium t-green-primary">
      </span>
      <span class="t-m-medium t-grey ml-s mr-s">
        {{textSrv.getText('days left')}}:
      </span>
      <span class="t-m-medium t-green-primary">
        {{headerBoxesInfo.daysLeft}}
      </span>
    </div>
    <div *ngIf="headerBoxesInfo.nextDelivery"
      class="info-box pa-m w-100 t-a-center d-flex justify-content-start justify-content-md-center align-items-center">
      <span class="eva eva-car-outline t-h4-medium t-green-primary">
      </span>
      <span class="t-m-medium t-grey ml-s mr-s">
        {{textSrv.getText('next delivery')}}:
      </span>
      <span class="t-m-medium t-green-primary">
        {{utilsSrv.dateForFront(headerBoxesInfo.nextDelivery)}}
      </span>
    </div>
  </div>
</div>
