@import '../../../../../../scss/commons';
@import '../../../../../../scss/general';

.block {
  .header {
    .category {
      width: 64px;
      height: 64px;

      @media (max-width: map_get($grid-breakpoints, 'md')) {
        width: 32px;
        height: 32px;
      }
    }
  }

  .gallery {
    width: 100%;
    height: 368px;
    position: relative;
    border-radius: 5px;
    overflow: hidden;

    @media (max-width: map_get($grid-breakpoints, 'md')) {
      height: 160px;
    }
  }

  .what-text {
    max-height: 560px;
    overflow: hidden;

    &.unfold {
      max-height: none;
    }

    p {
      margin-bottom: 24px;
    }
  }

  .why-adopt {
    .image {
      height: 200px;
      background-color: $orangeBG;
      border-radius: 5px;

      img {
        width: 100%;
      }
    }

    .reason {
      padding: 20px 24px;
      border-bottom: 1px dashed $greyHeavyBorder;
    }

    .fa,
    .eva {
      min-width: 32px;
      text-align: center;
    }
  }
}
