<div class="alcohol-section">
  <!-- Title and Icon -->
  <div class="alcohol-section-title">
    <div class="alcohol-section-title-icon eva eva-alert-triangle-outline"></div>
    <div class="alcohol-section-title-text">{{textSrv.getText('Alcoholic beverages warning')}}</div>
  </div>
  <!-- Alchohol information -->
  <div class="alcohol-section-info">
    <ul class="alcohol-section-info-list">
      <li *ngFor="let info of alcoholInfoArray">{{textSrv.getText(info)}}</li>
    </ul>
  </div>
</div>
