@import '../../../../../scss/colors';

.alcohol-section {
  min-height: 144px;

  &-title {
    align-items: center;
    display: flex;
    flex-direction: row;

    &-icon {
      font-size: 24px;
      width: 24px;
      height: 24px;
      margin-right: 8px;
      color: map_get($color, 'primary');
    }

    &-text {
      font-weight: 600;
      font-size: 16px;
      line-height: 24px;
      letter-spacing: -0.2px;
      color: map_get($color, 'black-4');
    }
  }

  &-info {
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: map_get($color, 'grey-10');
    margin-top: 8px;

    &-list {
      padding-left: 26px;
    }
  }
}
