@import '../../../../../scss/colors.scss';
@import '../../../../../scss/variables.scss';
@import '@crowdfarming/ds-library/src/styles/global';

.sorting-component {
  position: relative;

  @media (min-width: map_get($grid-breakpoints, 'md')) {
    width: 288px;
  }
}

ds-icon {
  position: absolute;
  z-index: 99;
  left: 17px;
  top: 9px;
}

// Inactive
ng-deep dropdown-select {
  .ds-select-box,
  .ds-select {
    border-color: map-get($globalColors, 'ds--color-grey-16') !important;
  }

  span {
    color: map-get($globalColors, 'ds--color-grey-56');
  }
}

// Pressed/Hover
:host:hover ::ng-deep dropdown-select,
:host:active ::ng-deep dropdown-select,
:host:focus ::ng-deep dropdown-select {
  .ds-select-box,
  .ds-select {
    border-color: map-get($contentStateColors, 'content-pressed') !important;
  }

  ds-icon svg path,
  span {
    fill: map-get($contentStateColors, 'content-pressed');
    color: map-get($contentStateColors, 'content-pressed');
  }
}

// Autofocus
:host:focus-within ::ng-deep dropdown-select {
  .ds-select-box,
  .ds-select {
    border-color: map-get($semanticPrimaryColors, 'semantic-primary-medium') !important;
  }

  ds-icon svg path,
  span {
    fill: map-get($contentStateColors, 'content-pressed');
    color: map-get($contentStateColors, 'content-pressed');
  }
}
