@import '../../../../../scss/commons.scss';

$grid-gap: 2px;
$border-radius: 5px;

.img-group {
  width: 128px;
  height: 128px;

  &.small {
    width: 84px;
    height: 84px;
  }

  @media (max-width: map_get($grid-breakpoints, 'md')) {
    width: 96px;
    height: 130px;
  }

  & figure {
    height: 100%;
    width: 100%;
    margin-bottom: 2px;
    border-radius: $border-radius;
  }

  & img {
    border-radius: $border-radius;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  &--with-2 {
    display: grid;
    grid-template-areas: 'img-1 img-1' 'img-2 img-2';
    grid-template-rows: 50% 50%;
    grid-template-columns: auto auto;
    gap: $grid-gap;

    & img {
      height: 100%;
    }

    & figure:nth-child(1) {
      grid-area: img-1;
    }

    & figure:nth-child(2) {
      grid-area: img-2;
    }
  }

  &--with-3 {
    display: grid;
    gap: $grid-gap;
    grid-template-areas: 'img-1 img-2' 'img-3 img-3';
    grid-template-rows: 50% 50%;
    grid-template-columns: auto auto;

    & img {
      height: 100%;
    }

    & figure:nth-child(1) {
      grid-area: img-1;
    }

    & figure:nth-child(2) {
      grid-area: img-2;
    }

    & figure:nth-child(3) {
      grid-area: img-3;
    }
  }

  &--with-4 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: $grid-gap;
  }

  &--more-than-4 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: $grid-gap;

    & figure:nth-child(4) {
      background-color: #09413b;
      position: relative;
      opacity: 1;

      &::after {
        content: '\eb69';
        display: flex;
        font-family: 'Eva-Icons', sans-serif;
        justify-content: center;
        align-items: center;
        position: absolute;
        margin: auto;
        width: 50%;
        height: 50%;
        font-size: 26px;
        font-weight: 300;
        color: white;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
      }

      & > img {
        opacity: 0.6;
      }
    }
  }
}
