@import '../../../../../scss/commons.scss';

.delete-account {
  margin-top: 2rem;

  &__text-info {
    color: map_get($color, 'grey-11');
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
  }

  &__btn-delete {
    padding: 0;
    font-size: 14px;
    font-weight: 400;
    color: map_get($color, 'black-4');
    background: transparent;
    border: none;
    text-decoration: underline;
    text-decoration-color: map_get($color, 'black-4');
    outline: none;
  }
}

hr {
  border-top: 1px solid map_get($color, 'grey-12');
}
