@import '../../../../../scss/colors.scss';
@import '../../../../../scss/variables.scss';

$border-radius: 5px;

.subscription-popup {
  width: 100vw;
  padding: 16px 24px;
  position: relative;
  transition: transform 0.35s ease, opacity 0.35s ease;
  background: map_get($color, 'white-1');
  box-shadow: $popupShadow 0 0 15px;
  border-top-right-radius: $border-radius;
  border-top-left-radius: $border-radius;
  text-align: center;

  @media (min-width: map_get($grid-breakpoints, 'md')) {
    width: 592px;
    border-radius: $border-radius;
  }

  &__close-button {
    margin: 0;
    outline: none;
    font-size: 22px;
    border: none;
    background-color: transparent;
    color: map_get($color, 'black-4');
    position: absolute;
    right: 22px;
    top: 22px;
  }

  &__content {
    margin-top: 32px;
  }

  & figure {
    width: 100%;
  }

  & img {
    max-width: 165px;
    height: auto;
  }

  &__button-area {
    margin-top: 21px;
    width: 100%;

    & cf-button {
      width: 100%;
    }
  }
}
