<div *ngIf="canDeleteAccount" class="delete-account-page">
  <ng-container *transloco="let t">
    <breadcrumbs *ngIf="breadcrumbs.length" [items]="breadcrumbs"></breadcrumbs>
    <h3 class="delete-account-page__title">{{t('global.delete-account.text-info')}}</h3>
    <p class="delete-account-page__description">{{t('page.delete-account.body')}}</p>
    <ul class="delete-account-page__steps-list">
      <li *ngFor="let translationKey of translationKeys">{{t(translationKey)}}</li>
    </ul>
    <button class="delete-account-page__confirm-btn" [disabled]="error || isLoading || hasBeenSentMail"
      (click)="handleClickDeleteAccount()">{{t('global.delete-account.text-info')}}</button>
  </ng-container>
</div>
