<div class="stripe-ideal-container row-no-margin flex-center pt-1" [ngClass]="{ 'h-box' : setHeight === 'open', 'no-h-box' : setHeight === 'close' }">
  <div class="stripe-ideal-form w-100">
    <cf-input *ngIf="stripeRef">
      <input name="name" placeholder="{{'page.name-surname.form' | transloco}}" [(ngModel)]="stripeRef.name" (keyup)="checkName()">
        <div *ngIf="errorName" class="cf-input-error-msg">
          {{'notofication.Mandatory-field.body' | transloco}}
        </div>
    </cf-input>
    <cf-input *ngIf="!stripeRef">
      <input name="name" placeholder="{{'page.name-surname.form' | transloco}}" [(ngModel)]="idealName" (keyup)="checkName()">
        <div *ngIf="errorName" class="cf-input-error-msg">
          {{'notofication.Mandatory-field.body' | transloco}}
        </div>
    </cf-input>
    <div class="stripe-ideal-element mt-l" [ngClass]="{ 'h-box': setHeight === 'open', 'no-h-box': setHeight === 'close'}" #idealElement></div>
  </div>
  <div *ngIf="idealErrors" class="stripe-ideal-error w-100 mt-s ph-l">
    {{idealErrors}}
  </div>
  <ng-content></ng-content>
  <div class="w-100 mt-m mb-m" *ngIf="askDefault">
    <cf-check [(checked)]="idealAsDefault">
      {{'page.choose-default-payment-method.button' | transloco}}
    </cf-check>
  </div>
</div>
