@import '../../../../../scss/commons.scss';

.select-field {
  position: relative;

  &__label {
    display: block;
    font-size: 12px;
    line-height: 16px;
    margin-bottom: 4px;
  }

  &__container {
    position: relative;
    display: flex;
    align-items: center;
    width: 100%;
    border: 1px solid rgba(0, 0, 0, 0.3);
    border-radius: 5px;

    &.disabled {
      opacity: 0.5;
      cursor: default;
      pointer-events: none;
    }

    .flag-icon {
      margin: 0 8px 0 16px;
    }

    .fake-select {
      width: 100%;
      max-width: calc(100% - 40px);
      border: none;
      padding: 14px 0;
      font-size: 14px;
      line-height: 20px;
      outline: none;
      color: #000;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;

      &.grey {
        color: #79838f;
      }
    }

    .arrow-icon {
      position: absolute;
      right: 8px;
      font-size: 24px;
      top: 50%;
      margin-top: -12px;
    }

    &.focus {
      outline: map_get($color, 'primary') auto 1px;
    }
  }

  .options-list {
    position: absolute;
    top: calc(100% + 8px);
    left: 0;
    right: 0;
    z-index: 20;
    background-color: map_get($color, 'white-1');
    border: 1px solid map_get($color, 'primary');
    border-radius: 5px;
    box-shadow: 0 8px 16px 0 rgb(121 131 143 / 32%);

    &__searchbar {
      padding: 16px;
      border-bottom: 1px solid #c9d0d0;

      .input-wrapper {
        position: relative;
        width: 100%;
        border-radius: 5px;
        border: 1px solid rgba(0, 0, 0, 0.3);

        input {
          width: 100%;
          padding: 14px 40px 14px 16px;
          border-radius: 5px;
          font-size: 16px;
          line-height: 20px;
          border: none;
          outline: none;

          &::placeholder {
            color: rgba(0, 0, 0, 0.38);
            font-family: 'Montserrat', Helvetica, sans-serif;
            font-size: 14px;
          }
        }

        i {
          position: absolute;
          transform: translateY(50%);
          right: 8px;
        }
      }
    }

    &__list {
      list-style: none;
      overflow-x: hidden;
      overflow-y: auto;
      padding: 0;
      margin: 0;
      max-height: 250px;

      &.elem {
        cursor: pointer;
        display: flex;
        align-items: center;
        padding: 16px;
        background-color: map_get($color, 'white-1');
        transition: background-color 0.25s ease-out;

        &:hover {
          background-color: $greenBG3;

          span {
            color: $CF1;
          }
        }

        &:not(:last-child) {
          border-bottom: 1px solid #c9d0d0;
        }

        &.selected {
          background-color: rgba(46, 158, 147, 0.08);
        }

        .img {
          margin-right: 6px;
        }
      }
    }
  }
}
