
<ng-container *transloco="let t">
  <div class="pasword-popup-container col-12" id="change-password-popup">
    <!-- Company logo -->
    <div class="d-flex justify-content-center mb-l" *ngIf="config.data.company" [attr.data-cy]="'change-password-company-logo'">
      <img class="company-logo" [src]="config.data.company" />
    </div>
  
    <div class="popup-header-title">
      {{ t('page.define-password.button') }}
    </div>
  
    <div class="w-100 d-flex flex-column">
      <!-- Current password -->
      <cf-input *ngIf="!config.data.isAutoLogin" class="w-100">
        <input
          id="change-pass-currentpass"
          type="password"
          name="oldPassword"
          [(ngModel)]="oldPassword"
          [placeholder]="t('page.Current-password.title')" />
      </cf-input>
  
      <!-- New password -->
      <cf-input class="w-100 position-relative">
        <input
          id="change-pass-newpass"
          [type]="typeInput"
          name="newPassword"
          [(ngModel)]="newPassword"
          [placeholder]="t('page.enter-new-password.form')"
          #newPasswordF=""
          (change)="validate(1, newPasswordF.value)"
          (keyup)="validate(1, newPasswordF.value)" />
  
        <div class="cf-input-error-msg">
          <span *ngIf="formErrors.passLength">
            {{ t('page.6-and-64-characters.body') }}
          </span>
          <span *ngIf="formErrors.passNumber">
            {{ t('page.minimum-one-number.text-info') }}
          </span>
          <span *ngIf="formErrors.passLetter">
            {{ t('page.Minimum-capital-small.text-info') }}
          </span>
          <span *ngIf="formErrors.passSpace">
            {{ t('page.blank-spaces.title') }}
          </span>
        </div>
        <toggle-password-component (typeInputE)="changeVisible($event, 1)"></toggle-password-component>
      </cf-input>
  
      <!-- Repasword -->
      <cf-input class="w-100 position-relative" [error]="confirmPassword.length >= 3 && formErrors.repass">
        <input
          id="change-pass-repass"
          [type]="typeInputRep"
          name="confirmPassword"
          #confirmPasswordF="ngModel"
          [(ngModel)]="confirmPassword"
          [placeholder]="t('page.Confirm-new-password.body')"
          (change)="validate(2, confirmPasswordF.value)"
          (keyup)="validate(2, confirmPasswordF.value)" />
  
        <div class="cf-input-error-msg" *ngIf="confirmPassword.length >= 3 && formErrors.repass">
          {{ t('page.Passwords-not-match.body') }}
        </div>
        <toggle-password-component (typeInputE)="changeVisible($event, 2)"></toggle-password-component>
      </cf-input>
  
      <!-- Err -->
      <div class="error-line capi-error text-left mbs" *ngIf="publicMessagePassword" [innerHTML]="publicMessagePassword | safeHtml"></div>
  
      <!-- Save -->
      <cf-button class="mt-s" id="change-password-btn" [disabled]="!formValid()" (click)="changePassword()" [width]="'auto'">
        {{ t('page.save.button') }}
      </cf-button>
    </div>
  </div>

</ng-container>
