@import '@crowdfarming/ds-library/src/styles/global';

.info-cards-section {
  overflow-x: auto;
  margin: 30px auto;
  width: 100%;
  display: inline-flex;

  @include bp(device-m) {
    padding: 80px auto;
  }

  @include bp(device-xl) {
    overflow-x: hidden;
  }

  &-content {
    align-items: center;
    margin: auto 0;
    cursor: pointer;

    &:hover {
      text-decoration: underline;
      color: var(--light-content-1, #042522);
    }

    @include bp(device-m) {
      margin: auto 20px;
    }

    a {
      width: 120px;
      color: var(--light-content-1, #042522);
      text-align: center;
      margin-top: 8px;
    }

    & img {
      width: 56px;

      @include bp(device-m) {
        width: 80px;
      }
    }
  }

  &::-webkit-scrollbar {
    display: none;
  }
}
