<div *transloco="let t" class="info-cards-section p-0 justify-content-md-center " #scrollDivRef>
  <div class="accelerator-item" *ngFor="let accelerator of accelerators; index as i">
    <div class="info-cards-section-content justify-content-center flex-column d-flex" 
      (click)="redirectFilters(accelerator.urlKey)">
      <img class="imgs d-block" src="{{ accelerator.image | cdn }}" alt="{{ t(accelerator.titleKey) }}" />
      <a id="accelerator-link" class="t-m-regular">
        {{ t(accelerator.titleKey) }}
      </a>
    </div>
  </div>
</div>
