@import '../../../scss/colors.scss';
@import '../../../scss/variables.scss';

.cs-info {
  max-width: none;
  width: 500px;
  padding: 0;

  @media (max-width: map_get($grid-breakpoints, 'md')) {
    width: 100%;
  }

  .body-block {
    padding: 16px 24px 0 24px;

    .info {
      height: 384px;
      overflow-y: hidden;
      text-align: left;

      &:hover {
        overflow-y: auto;
      }

      @media (max-width: map_get($grid-breakpoints, 'md')) {
        overflow-y: scroll;

        &::-webkit-scrollbar {
          display: none;
        }
      }
    }
  }

  .btn-block {
    padding: 16px 24px;
    border-top: 2px solid map_get($color, 'grey-2');
  }
}
