<div class="generic-popup-container text-center cs-info" id="crossselling-info">
  <div class="body-block">
    <div class="t-black-T t-m-medium text-left">
      {{textSrv.getText('adopt')}}
      {{(config.data | translation:'publicVariety')}}</div>
    <cf-tabs [tabs]="optionsFilter" [currentTab]="startTab" (currentTabChange)="tabFilter($event)" [size]="'m'"
      class="w-100 mb-xl">
    </cf-tabs>

    <div *ngIf="startTab === 0" class="info pt-s t-grey t-m-regular"
      [innerHTML]="textSrv.markdown(textSrv.replaceAll(config.data.theProject, config.data.replacements))"></div>
    <div *ngIf="startTab === 1" class="info pt-s t-grey t-m-regular"
      [innerHTML]="textSrv.markdown(textSrv.replaceAll(config.data.whatReceive, config.data.replacements))"></div>
  </div>

  <div class="btn-block">
    <cf-button id="generic-popup-accept-btn" [width]="'auto'" (click)="onClose(true)">
      {{textSrv.getText('Add')}}
    </cf-button>
  </div>
</div>
