<!-- Back mobile -->
<div class="private-zone-back hide-tablet flex-center" *ngIf="!app">
  <div class="private-zone-back-container border-bottom-grey-2-2x d-flex w-100">
    <div class="flex-center" (click)="routerSrv.navigate('private-zone/my-garden')">
      <i class="eva eva-arrow-ios-back-outline f26 mr-s" aria-hidden="true"></i>
      {{textSrv.getText('My Garden')}}
    </div>
  </div>
</div>

<div *transloco="let t" class="col-12 nop mb-xxl">
  <div class="mt-xl pt-s" *ngIf="up">
    <div class="mb-m d-flex hide-mobile">
      <div class="t-grey pointer t-xs-regular" (click)="routerSrv.navigate('private-zone/my-garden' + '?app=' + app)">
        {{textSrv.getText('Your Garden')}}
      </div>
      <span class="arrow-icon t-black-T"><i class="eva eva-arrow-ios-forward-outline t-xs-regular"
        aria-hidden="true"></i></span>
      <div *ngIf="!editCertOnDisplay" class="t-xs-regular capitalize-first">
      {{up | translation: 'variety'}} "{{upCf | translation: 'name'}}"
      </div>
    </div>
      <!-- If survey is on display -->
      <div *ngIf="editCertOnDisplay" class="d-flex">
      <span class="arrow-icon t-black-T"><i class="eva eva-arrow-ios-forward-outline t-xs-regular"
          aria-hidden="true"></i></span>
      <div *ngIf="!surveyOnDisplay" class="t-xs-regular capitalize-first">
        {{up | translation: 'variety'}} "{{upCf | translation: 'name'}}"
      </div>
      <!-- If survey is on display -->
      <div *ngIf="surveyOnDisplay" class="d-flex">
        <div class="t-grey pointer t-xs-regular capitalize-first">
          {{up | translation: 'variety'}} "{{upCf | translation: 'name'}}"
        </div>
        <span class="arrow-icon t-black-T"><i class="eva eva-arrow-ios-forward-outline t-xs-regular"
          aria-hidden="true"></i></span>
        <div class="t-xs-regular capitalize-first">
          {{textSrv.getText('Survey button')}}
        </div>
      </div>
    </div>
    <div class="col-12 nop life-header cf-shadow-s border-rs overflow-hidden"
      [ngStyle]="{'background-image': 'url(' + (upCf.pictureURL | cdn: domSrv.getIsDeviceSize() ? 400 : '') + ')'}">
      <div class="overlay pa-m">
        <div *ngIf="upCf.pictureArchive && upCf.pictureArchive.length > 0"
          class="more-photos-circle d-flex flex-column align-items-center justify-content-center pointer"
          (click)="openPhotosVisor()">
          <i class="eva eva-chevron-right-outline text-black t-h3-regular" aria-hidden="true"></i>
        </div>
      </div>
    </div>

    <div id="my-up-title" class="d-flex justify-content-between mt-xl">
      <div class="mt-md-0 mt-4">
        <p class="t-xs-regular t-grey mop nom">{{up | translation: 'variety' | titlecase}}</p>
        <p class="t-h3-bold text-black nom nop">{{upCf | translation: 'name'}}</p>
      </div>

      <a *ngIf="!app" (click)="routerSrv.navigate('/farmer/' + upCf.farmerSlug + '/up/' + up.slug)"
        class="t-m-medium d-flex align-items-start align-items-md-center">
        <i class="cf-icon-farmer mr-s" aria-hidden="true"></i>
        <div class="farmer-name">{{farmerName}}</div>
      </a>
    </div>

    <cf-tabs *ngIf="!editCertOnDisplay && !surveyOnDisplay" [tabs]="upSections" [(currentTab)]="currentSection" [tabsIds]="tabsIds"
      (currentTabChange)="changeSection($event)" [size]="'m'" class="w-100 mb-xl"></cf-tabs>
  </div>


  <up-harvest
    *ngIf="harvestSection && upCf && up && season && status && masterBoxes && !editCertOnDisplay"
    [upCf]="upCf"
    [up]="up"
    [season]="season"
    [status]="status"
    [masterBoxes]="masterBoxes"
    [beforeEndShipping]="beforeEndShipping"
    [farmerName]="farmerName"
    [farmerCompany]="farmer.company.brandName"
    [orders]="orders"
    [link]="link"
    [currentBillingSeason]="billingSeason"
    [dataAccordion]="dataAccordion"
    (minCardEvt)="minCardEvt($event)"
    [user]="user" [app]="app"
    (editCertEvt)="editCertEvtHandler($event)"
    (getDocumentSectionEvt)="getDocumentSectionEvtHandler($event)"
    (liberateAdoption)="liberateAdoption()">
  </up-harvest>

  <div id="liberate-adoption-survey">
    <liberate-adoption-survey *ngIf="surveyOnDisplay" [upCf]="upCf._id"></liberate-adoption-survey>
  </div>

  <up-detail *ngIf="orderSection" class="container-fluid" (pagination)="paginate($event)" [order]="order"
    [orders]="orders" [upCfId]="upCfId" (checkLoginEvn)="autoLoginValidation($event)">
  </up-detail>
  <edit-certificate
    *ngIf="editCertOnDisplay"
    [documentationSectionElement]="documentationSection"
    [upCf]="upCf"
    (goToMyUpEvt)="goToMyUpEvtHandler($event)"
    (sendCertData)="getCertData($event)"
  >
  </edit-certificate>
</div>
