@import '../../../../../scss/commons.scss';

:host {
  flex: 1;

  &::ng-deep cf-tabs .cf-tabs-box {
    margin-top: 0 !important;
  }
}

.my-up-mobile {
  color: black;

  .variety {
    font-size: 18px;
    font-weight: 600;
  }

  .info {
    font-size: 14px;
  }
}

.capitalize-first::first-letter {
  text-transform: capitalize;
}

.life-header {
  height: 304px;
  background-position: center;
  background-size: cover;

  @media (max-width: map_get($grid-breakpoints, 'md')) {
    margin-top: -20px;
  }

  &-content {
    width: 100%;
  }

  &-text {
    color: white;

    .variety {
      font-size: 28px;
      font-weight: 600;
    }

    .info {
      font-size: 24px;
    }
  }

  .more-photos-circle {
    background-color: white;
    width: 31px;
    height: 31px;
    border-radius: 50%;
  }

  .overlay {
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: 100;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
  }
}

.farmer-name {
  max-width: 30rem;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;

  @media (max-width: map_get($grid-breakpoints, 'lg')) {
    max-width: 14rem;
  }
}

.hide-mobile {
  @media (max-width: map_get($grid-breakpoints, 'md')) {
    display: none !important;
  }
}

.arrow-icon {
  height: 16px;
  padding: 0 2px;

  .eva-arrow-ios-forward-outline {
    height: 16px;
    width: 16px;
  }
}
