<div class="checkout-confirmation-popup-container">
  <div class="d-flex mb-m">
    <i *ngIf="icon" class="eva {{icon}} t-l-regular mr-2"></i>
    <div class="t-black-H t-l-bold checkout-confirmation-popup__title" *ngIf="title">{{title}}</div>
  </div>

  <div
    *ngIf="isBodyHTML; else defaultBodyTpl"
    [innerHTML]="body"
    class="t-black-T t-m-medium mb-l checkout-confirmation-popup__body">
  </div>

  <div class="d-flex justify-content-end checkout-confirmation-popup__action">
    <cf-button
      *ngIf="canCancel"
      class="mr-2"
      [width]="domSrv.getIsDeviceSize() ? 'auto' : 'fit'"
      [flat]="true"
      (click)="onClose()">
      {{cancelText}}
    </cf-button>

    <cf-button [width]="domSrv.getIsDeviceSize() ? 'auto' : 'fit'" (click)="onClose(true)">{{confirm}}</cf-button>
  </div>
</div>

<ng-template #defaultBodyTpl>
  <div class="t-black-T t-m-medium mb-l checkout-confirmation-popup__body">{{body}}</div>
</ng-template>
