@import '../../../../../scss/commons.scss';

.checkout-summary {
  &:not(.no-mobile-overflow) {
    overflow: hidden;

    @media (min-width: map_get($grid-breakpoints, 'md')) {
      overflow: inherit;
    }
  }

  &.open {
    .checkout-summary__title {
      i {
        transform: rotate(180deg);
      }
    }
  }

  &__title {
    cursor: pointer;
    padding-top: 16px;
    padding-bottom: 16px;

    @media (min-width: map_get($grid-breakpoints, 'md')) {
      cursor: auto;
      padding-top: 0;
      padding-bottom: 16px;
    }

    & > .row {
      align-items: center;

      @media (min-width: map_get($grid-breakpoints, 'md')) {
        align-items: flex-start;
      }
    }

    i {
      transition: transform 0.3s ease;
      transform: rotate(0);
    }
  }

  &__products {
    &-elem {
      padding-bottom: 25px;
      margin-bottom: 24px;

      &:not(:last-child) {
        position: relative;

        &::before {
          content: '';
          position: absolute;
          bottom: 0;
          left: 0;
          right: 0;
          height: 1px;
          background-color: map_get($color, 'grey-2');
        }
      }
    }
  }
}

.next-box {
  &--title {
    color: map_get($color, 'black-4');

    @media (max-width: map_get($grid-breakpoints, 'sm')) {
      margin: 0 1rem;
    }
  }

  &--wrapper {
    width: 100%;

    @media (max-width: map_get($grid-breakpoints, 'sm')) {
      margin: 0 1rem;
    }

    img {
      height: 146px;
    }

    .content,
    .title {
      color: map_get($color, 'black-4');

      @media (max-width: map_get($grid-breakpoints, 'sm')) {
        font-size: 14px;
        line-height: 1.2rem;
      }
    }

    .title {
      font-weight: 600;
      background-color: map_get($color, 'grey-14');
      border-radius: 4px;
      padding: 0.5rem;

      @media (max-width: map_get($grid-breakpoints, 'md')) {
        background-color: map_get($color, 'grey-1');
        padding: 0;
      }
    }

    .date {
      color: map_get($color, 'grey-10');
    }
  }
}
