<div class="footer" *ngIf="!routerSrv.getPath().includes('open-issue')">
  <div class="footer-information" *transloco="let t">
    <div class="container">
      <div class="row">
        <!-- Want to be farmer | Contact -->
        <div class="col-12 col-md-4">
          <div class="w-100 footer-button">
            <div class="footer-title t-h6-bold">
              {{t('global.wanna-be-farmer.text-link')}}
            </div>
            <cf-button (click)="farmerLanding()" id="footer-email-btn">
              {{t('global.further-information.text-link')}}
            </cf-button>
          </div>
          <div class="w-100">
            <div class="footer-title t-h6-bold">
              {{t('global.contact-us.text-tab')}}
            </div>
            <a class="footer-link t-white t-s-regular" href="tel:{{t('page.phone-cf.body')}}"
              id="footer-phone-link" target="_blank">
              <div><i class="eva eva-phone" aria-hidden="true"></i> {{t('page.phone-cf.body')}}</div>
            </a>
            <a class="footer-link t-white t-s-regular"
              href="{{env.domain + '/' + langSrv.getCurrentLang() + contact[langSrv.getCurrentLang()]}}"
              id="footer-contact-link">
              <div><img class="footer-icon" src="{{env.domain}}/assets/img/icons/icon-line-x-16-email.svg"
                  alt="{{t('page.contact-form.text-link')}}" />
                {{t('page.contact-form.text-link')}}</div>
            </a>
            <a class="footer-link t-white t-s-regular" href="{{t('page.work-with-us-link.text-link')}}"
              id="footer-hiring-link" target="_blank">
              <div><img class="footer-icon" src="{{env.domain}}/assets/img/icons/icon-line-x-16-people.svg"
                  alt="{{t('global.hiring-open-position.text-link')}}" />
                {{t('global.hiring-open-position.text-link')}}</div>
            </a>
          </div>

        </div>

        <!-- Contact -->
        <div *transloco="let t" id="footer-about-us-block" class="col-12 col-md-4 flex-column">
          <div class="footer-title t-h6-bold">
            {{t('page.about-us.title')}}
          </div>
          <div class="footer-link t-white t-s-regular" (click)="impactReport()" id="footer-report-link" target="_blank">
            {{t('global.annual-impact-report.text.link')}}
          </div>
          <div class="footer-link t-white t-s-regular" (click)="goToBlog()" id="footer-blog-link" target="_blank">
            {{t('global.blog.text-link')}}
          </div>
          <div class="footer-link t-white t-s-regular" (click)="routerSrv.navigate('crowdfunding')"
            id="footer-crowdfunding-link" target="_blank">
            {{t('page.crowdfunding.tex-link')}}
          </div>
          <a class="footer-link t-white t-s-regular" href="{{t('footer.f2b.link')}}" id="footer-f2b-link"
            target="_blank">
            {{t('footer.f2b.title')}}
          </a>
          <div class="footer-link t-white t-s-regular" (click)="routerSrv.navigate('tos')" id="footer-privacy-link"
            target="_blank">
            {{t('page.privacy-cookies-policy.title')}}
          </div>
          <a class="footer-link t-white t-s-regular" href="{{t('page.legal-form.anchor')}}"
            id="footer-legal-link" target="_blank">
            {{t('global.Imprint.text-info')}}
          </a>
          <a class="footer-link t-white t-s-regular" href="{{t('page.use-purchase-conditions.anchor')}}"
            id="footer-terms-link" target="_blank">
            {{t('page.use-purchase-conditions.text-link')}}
          </a>
        </div>

        <!-- Philosophy -->
        <div id="footer-philosophy-block" class="col-12 col-md-3 flex-column">
          <div class="footer-title t-h6-bold">
            {{t('global.Philosophy.body')}}
          </div>
          <a class="footer-link t-white t-s-regular" href="{{t('page.support-questions-answers.anchor')}}"
            id="footer-faq-link" target="_blank">
            {{t('page.questions-answers.title')}}
          </a>
          <a class="footer-link t-white t-s-regular" href="{{t('page.economic-transparency.anchor')}}"
            id="footer-transparency-link" target="_blank">
            {{t('page.Economic-transparency.title')}}
          </a>
          <div>
            <div class="footer-title t-h6-bold mt-4 w-100">
              {{t('page.download-app.title')}}
            </div>
            <store-buttons></store-buttons>
          </div>
        </div>

        <!-- Certification -->
        <div class="col-12 col-md-1 flex-column">
          <a class="footer-link t-white t-s-regular certification-bcorp" 
            href="{{t('footer.bcorp.link')}}" target="_blank">
          <img src="/assets/icon/common/certification-logo.svg" alt="certification corporation logo"/>
        </a>
        </div>
      </div>
    </div>
  </div>

  <div class="footer-icons">
    <div class="container">
      <div class="row justify-content-between">
        <div class="footer-logo col-12 col-md-4 flex-center justify-content-md-start">
          <i class="cf-icon-crowdfarming-bold" aria-hidden="true"></i>
          <i class="cf-icon-text-light" aria-hidden="true"></i>
        </div>
        <div class="footer-social col-12 col-md-4">
          <a class="flex-center footer-social-icon" *ngFor="let link of socialLinks" [id]="link.id" [href]="link.href"
            target="_blank">
            <i aria-hidden="true" [class]="link.class"></i>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
