<div *transloco="let t" class="password-tos-container row">
  <div class="col-12">
    <div class="t-m-medium">{{t('global.create-account.button')}}</div>
  </div>

  <div class="col-12 col-lg-6">
    <cf-input [error]="errorIn.email">
      <input name="email" [(ngModel)]="newUser.email" value="" placeholder="{{t('page-email-address.form')}}"
        (keyup)="manageInput('email')" (blur)="manageInput('email')" />
      <div class="cf-input-error-msg" *ngIf="errorIn.email">
        {{textSrv.getText('Must be correct email')}}
      </div>
    </cf-input>
  </div>

  <div class="col-12 col-lg-6">
    <cf-input [error]="newUser.password.length >= 3">
      <input type="password" name="password" [(ngModel)]="newUser.password" value=""
        placeholder="{{t('global.password.form')}}" (change)="passwordIsValid()" (keyup)="passwordIsValid()" />
      <div class="cf-input-error-msg" *ngIf="newUser.password.length >= 3">
        <span *ngIf="!errorIn.passLength">
          {{t('page.6-and-64-characters.body')}}
        </span>
        <span *ngIf="!errorIn.passNumber">
          {{t('page.minimum-one-number.text-info')}}
        </span>
        <span *ngIf="!errorIn.passLetter">
          {{t('page.Minimum-capital-small.text-info')}}
        </span>
        <span *ngIf="!errorIn.passSpace">
          {{t('page.blank-spaces.title')}}
        </span>
      </div>
    </cf-input>

    <cf-input [error]="newUser.repassword.length >= 3 && errorIn.repass">
      <input type="password" name="repassword" [(ngModel)]="newUser.repassword" value=""
        placeholder="{{t('page.confirm-password.form')}}" (change)="repasswordIsValid()" (keyup)="repasswordIsValid()" />

      <div class="cf-input-error-msg" *ngIf="newUser.repassword.length >= 3 && errorIn.repass">
        {{t('page.Passwords-not-match.body')}}
      </div>
    </cf-input>

    <div class="text-left" [ngClass]="newUser.repassword.length >= 3 && errorIn.repass ? '' : 'hidden'">
      <div class="error-line" [ngClass]="errorIn.repass ? 'error' : 'ok'">
        <span class="ok-icon"><i class="fa fa-check" aria-hidden="true"></i></span>
        <span class="error-icon"><i class="eva eva-close-outline" aria-hidden="true"></i></span>
        {{t('page.Passwords-not-match.body')}}
      </div>
    </div>
  </div>

  <!-- Privacy -->
  <div class="col-12 f14 text-left mts mbs">
    <cf-check [(checked)]="newUser.privacy" id="order-privacy-check"></cf-check>
    <span class="privacy" [innerHTML]="utilsSrv.getPrivacyText()"></span>
    <br />
    <span class="capi-error f14" *ngIf="errorIn.tos && !newUser.privacy">{{
      t('page.accept-terms-conditions.body')
      }}</span>
  </div>
</div>
