<div #editCertSection id="editCertSection" class="edit-cert mt-xl mob-mt-l" *transloco="let t">
  <div class="row">
    <div class="col-12 pl-m pr-s mob-pr-m mob-mb-m d-flex flex-column">
      <div class="box-border border-rs pa-l mob-pt-l mob-pb-l mob-pr-s mob-pl-s">
        <h5 class="edit-cert-title text-black t-h5-bold d-flex align-items-center">
          <i *ngIf="domSrv.getIsDeviceSize()" class="eva eva-edit-outline t-h3-regular t-green-primary pr-xs"></i>
          {{t('page.edit-certificates.title')}}
        </h5>
        <p class="edit-cert-text t-grey t-m-regular">{{t('page.change-name-adopter.title')}}</p>
          <label class="input-label t-xs-regular t-grey mb-0 pl-s" for="">{{t('page.adopted-by.text-info')}}</label>
          <div class="row">
            <cf-input class="edit-cert-input col-md-6 col-11 mt-0 mx-auto">
              <input 
                (input)="name = $event.target.value"
                placeholder="{{t('page.name.form')}}"
              /> 
            </cf-input>
            <cf-input class="edit-cert-input col-md-6 col-11 mt-0 mx-auto">
              <input 
                (input)="surname = $event.target.value"
                placeholder="{{t('page.surname.form')}}"
              />
            </cf-input>
          </div>
        <div class="w-100 mt-m d-flex justify-content-end align-items-center flex-md-row flex-column">
          <cf-button class="hide-mobile" 
            [flat]="true" 
            [size]="'m'" 
            [width]="'fit'" 
            (click)="goToMyUp()">
            {{t('global.cancel.button')}}
          </cf-button>
          <cf-button 
            [size]="'m'" 
            [width]="domSrv.getIsDeviceSize() ? 'auto' : 'fit'" 
            [disabled]="!(name?.length && surname?.length)" 
            (click)="saveCertChanges()">
            {{t('page.save-changes.button')}}
          </cf-button>
          <cf-button class="hide-desktop mt-s w-100" 
            [flat]="true"
            [size]="'m'"
            [width]="'auto'" 
            (click)="goToMyUp()">
            {{t('global.cancel.button')}}
          </cf-button>
        </div>
      </div>
    </div>
  </div>
</div>