@import '../../../../../scss/commons.scss';

.edit-cert-text {
  margin-bottom: 11px;
}

.input-label {
  top: 5px;
  position: relative;
}

.edit-cert-input {
  @media (max-width: map_get($grid-breakpoints, 'sm')) {
    padding: 0;
  }
}
