@import '../../../scss/commons.scss';

.gift-unavailable {
  padding: 64px 0;
  overflow: hidden;

  @media (max-width: map_get($grid-breakpoints, 'md')) {
    flex-direction: column;
    padding: 16px;
  }

  &-content {
    margin-left: 30px;

    @media (max-width: map_get($grid-breakpoints, 'md')) {
      margin-top: 30px;
      margin-left: 0;
    }

    h2 {
      max-width: 470px;
    }

    &-body {
      line-height: 28px;
    }
  }

  cf-button {
    width: 100%;
  }
}
