<div *transloco="let t"
  class="d-flex container m-auto justify-content-center gift-unavailable">
  <img src="../../../assets/img/adoption-as-gift/gift-unavailable.svg" [alt]="t('landing.not-available-gift.meta.image-name')"/>
  <div class="gift-unavailable-content">
    <h2 class="t-bold t-title text-black f32" [title]="t('landing.not-available-gift.meta.title')">
      {{t('page.gift-not-available.title')}}
    </h2>
    <div class="gift-unavailable-content-body text-grey mv-l"
      [title]="t('landing.not-available-gift.meta.description')"
      [innerHTML]="t('page.gift-not-available.body') | safeHtml">
    </div>
    <cf-button [width]="domSrv.getIsDeviceSize() ? 'auto' : 'fit'" (click)="goToFarmersMarket()">
      {{t('page.header-de-button.button')}}
    </cf-button>
  </div>
</div>