@import '@crowdfarming/ds-library/src/styles/global';

.ec-list-summary {
  position: relative;

  &__item {
    width: 100%;
    border-bottom: pxToRem(1) solid map_get($semanticNeutralColors, 'semantic-neutral-light');
    cursor: pointer;

    &:last-child {
      border: none;
    }
  }
}
