<div
  *transloco="let t"
  class="feedback-container sizingContainer m-auto pb-5 py-md-5 d-block d-md-flex"
  (swipeleft)="changeFeedback(1)"
  (swiperight)="changeFeedback(-1)"
  id="feedback-container">

  <cf-arrow
    *ngIf="areFeedbackLoaded"
    (click)="changeFeedback(-1)"
    class="xl-arrow align-items-center justify-content-center d-none d-xl-flex"
    [size]="'m'"
    [ngClass]="{'feedback-arrow-hide': currentFeedback === 0}"
    id="feedback-arrow-left">
  </cf-arrow>

  <div *ngIf="areFeedbackLoaded" class="feedback-box">
    <div
      class="feedback-content row-no-margin col-12 col-no-padding">
      <!-- Text -->
      <h4
        *ngIf="titleKey"
        class="title t-h1-blackW t-black-T t-a-left nom mb-3">
        {{t(titleKey)}}
      </h4>
      <div
        class="feedback-review col-12 col-md-8 col-no-padding">
        <div
          class="feedback-review-container">
          <div
            class="feedback-review-effect"
            [style.width.%]="100 * feedbacks.length + feedbacks.length"
            [style.transform]="'translateX(-' + currentFeedback * (100 / feedbacks.length) + '%)'">
            <div
              *ngFor="let fb of feedbacks; let i = index"
              class="feedback-review-container-text"
              [style.width.%]="100 / feedbacks.length"
              [ngClass]="{'opacity-show': i === currentFeedback}"
              id="feedback-review-container-text-{{i}}">
              <h4 *ngIf="fb.title" class="feedback-review-container-title">{{t(fb.title)}}</h4>
              <div class="feedback-review-container-text__wrapper">
                <p class="t-grey t-xl-light">
                  {{asyncLoading ? fb.text : t(fb.text)}}
                </p>
                <p
                  class="feedback-review-container-name t-grey t-l-bold nom"
                  [ngClass]="{'opacity-show': i === currentFeedback}">
                  {{asyncLoading ? fb.name : t(fb.name)}}
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div
        class="feedback-image col-12 col-md-4 d-flex justify-content-md-start justify-content-between p-0">
        <cf-arrow
          *ngIf="areFeedbackLoaded"
          (click)="changeFeedback(-1)"
          [size]="'m'"
          class="xl-arrow align-items-center justify-content-center d-flex d-md-none"
          [ngClass]="{'feedback-arrow-hide': currentFeedback === 0}"
          id="feedback-arrow-left">
        </cf-arrow>

        <div class="col-md-12 col-no-padding px-3 px-md-0">
          <div class="square-frame box-shadow">
            <image-and-text-gallery
              *ngIf="feedbackImages?.length > 0"
              [id]="'home-feeback-image'"
              [images]="feedbackImages"
              [lazyImage]="1"
              [currentImage]="currentFeedback"
              class="feedback-image-container">
            </image-and-text-gallery>
          </div>
        </div>

        <cf-arrow
          *ngIf="areFeedbackLoaded"
          class="xl-arrow align-items-center justify-content-center d-flex d-md-none"
          [size]="'m'"
          [right]="true"
          (click)="changeFeedback(1)"
          [ngClass]="{'feedback-arrow-hide': currentFeedback === feedbacks.length - 1}"
          id="feedback-arrow-right">
        </cf-arrow>
      </div>
    </div>
    <!-- Balls -->
    <div
      *ngIf="areFeedbackLoaded && feedbacks.length > 1"
      class="feedback-circles d-flex align-items-center justify-content-md-start w-100 mt-5 mt-md-3">
      <div
        *ngFor="let dummy of feedbacks; let id = index"
        (click)="changeFeedback(id, true)"
        class="feedback-circle"
        [ngClass]="currentFeedback === id ? 'feedback-circle-active' : ''"
        id="feedback-circle-{{id}}">
      </div>
    </div>
  </div>

  <cf-arrow
    *ngIf="areFeedbackLoaded"
    (click)="changeFeedback(1)"
    [right]="true"
    [size]="'m'"
    class="xl-arrow align-items-center justify-content-center d-none d-xl-flex"
    [ngClass]="{'feedback-arrow-hide': currentFeedback === feedbacks.length - 1}"
    id="feedback-arrow-right">
  </cf-arrow>
</div>

<!-- Skeleton -->
<div *ngIf="!areFeedbackLoaded" class="sizingContainer m-auto pb-5 py-md-5 px-3 px-md-0">
  <div class="feedback-loading">
    <div
      class="feedback-loading-content row-no-margin col-12 col-no-padding">
      <!-- Text -->
      <div class="feedback-loading-review col-12 col-md-8 col-no-padding">
        <ul class="feedback-review-container nom">
          <li class="loading-feeback-container mb-5"></li>
          <li class="loading-feeback-container mt-xs"></li>
          <li class="loading-feeback-container mt-xs"></li>
          <li class="loading-feeback-container mt-xs"></li>
          <li class="loading-feeback-container mt-xs"></li>
          <li class="loading-feeback-container mt-xs"></li>
          <li class="loading-feeback-container mt-5"></li>
        </ul>
      </div>
      <div class="feedback-loading-image col-12 col-md-4 d-flex justify-content-md-start justify-content-between">
        <div class="col-md-12 mt-4 col-no-padding">
          <div class="square-frame loading-feeback-container box-shadow"></div>
        </div>
      </div>
    </div>
  </div>
</div>
