@import '@crowdfarming/ds-library/src/styles/global';

.ec-item-summary {
  position: relative;
  display: flex;
  width: 100%;
  padding: pxToRem(16) 0;
  gap: pxToRem(8);

  &--unavailable {
    position: relative;
    background-color: $ds--color-grey-4;
    margin: 0 0 0 pxToRem(-16);
    padding: pxToRem(16);
    width: calc(100% + pxToRem(32));
  }

  &__img {
    position: relative;
    min-width: pxToRem(90);
    width: pxToRem(90);
  }

  &__content {
    position: relative;
    width: 100%;
  }

  &__price-quantity {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
  }
}
