<ng-container *transloco="let t" >
  <div *ngIf="isOH" class="wrapper oh">
    <ds-oh-card *ngFor="let project of projects; let i = index"
      id="project-card-{{i}}"
      [isFavourite]="favouriteSrv.isFavourite(projectType.BOXES, project.up.id)"
      [hasFavourite]="favouriteSrv.favouriteFM$ | async"
      [imageUrl]="project.up.cardOHImageURL"
      [imgAlt]="'Picture'"
      [title]="project.up | translation: 'title'"
      [farmerName]="project.farmer.name"
      [farmName]="project.farm._m_name[langSrv.getCurrentLang()]"
      [country]="project.farm.country"
      [deliveryDate]="cardSrv.getMbOhFirstDate(project)"
      [price]="cardSrv.getMbOhPrice(project) | currency"
      [weight]="cardSrv.getMbOhWeight(project.filters.masterBoxes[0])"
      [selectBoxSize]="cardSrv.isMBsSelectorVisibleForOh(project.filters.masterBoxes)"
      [selectLabel]="t('page.box-size.drop')"
      [options]="project?.options"
      [selectedOption]="project?.defaultMb"
      [selectDisabled]="cardSrv.areAllMbsDisabled(project.filters.masterBoxes)"
      [buttonContent]="t('page.cart.buttom')"
      [seals]="project.upSeals?.header | translateSeals"
      [buttonDisabled]="cardSrv.isButtonDisabled(project)"
      [buttonHasIcon]="false"
      (emitButtonClick)="addToCart(project, i); $event.preventDefault();"
      (toggleChange)="setSelectedMb($event, project)"
      (isFavouriteChange)="favouriteSrv.handleFavourite(project, {index: i, agroupmentName: null}, favouriteSrv.projectType$.getValue(), userAccountSection)"
      (cardClick)="handleCardClick(project, i)">
    </ds-oh-card>
  </div>
  <div *ngIf="!isOH" class="wrapper adoptions">
    <ds-adoption-card
      *ngFor="let project of projects; let i = index"
      id="project-card-{{i}}"
      [hasFavourite]="favouriteSrv.favouriteFM$ | async"
      [imageUrl]="project.up.pictureURL"
      [imgAlt]="'Picture'"
      [overline]="cardSrv.getAdoptionText(project.up, favouriteSrv.projectType$.getValue())"
      [title]="project.up | translation: 'title'"
      [farmerName]="project.farmer.name"
      [farmName]="project.farm._m_name[langSrv.getCurrentLang()]"
      [country]="project.farm.country"
      [deliveryDate]="cardSrv.getMbAdoptionFirstDate(project)"
      [price]="cardSrv.getMbAdoptionPrice(project) | currency"
      [multipleMbsFromText]="t('global.Adopt.From')"
      [minWeight]="cardSrv.getWeight(project)"
      [areMultipleMbs]="cardSrv.areMultipleMasterBoxesInOneShot(project)"
      [seals]="project.upSeals?.header | translateSeals"
      [tagState]="cardSrv.getTagState(project, favouriteSrv.projectType$.getValue())"
      [imageTagIcon]="stateSrv.giftEnabled && project.filters.giftAvailable ? 'gift' : null"
      [tagText]="t(cardSrv.getTagText(project, favouriteSrv.projectType$.getValue()).key, { units: cardSrv.getTagText(project, favouriteSrv.projectType$.getValue()).params })"
      (isFavouriteChange)="favouriteSrv.handleFavourite(project, {index: i, agroupmentName: null}, favouriteSrv.projectType$.getValue(), userAccountSection)"
      [isFavourite]="favouriteSrv.isFavourite(projectType.ADOPTIONS, project.up.id)"
      (cardClick)="handleCardClick(project, i)">
    </ds-adoption-card>
  </div>
</ng-container>
