@import '@crowdfarming/ds-library/src/styles/global';

.wrapper {
  display: grid;
  gap: 32px;
  margin-top: 24px;
  grid-template-columns: repeat(1, 1fr);

  @include bp(device-s) {
    grid-template-columns: repeat(2, 1fr);
  }

  @include bp(device-l) {
    &.oh {
      grid-template-columns: repeat(3, 1fr);
    }

    &.adoptions {
      grid-template-columns: repeat(2, 1fr);
    }
  }
}
