@import '@crowdfarming/ds-library/src/styles/global';

.ec-drawer-modal-wrapper {
  &__header {
    display: flex;
    align-items: center;
    color: $ds--color-grey-56;
    gap: pxToRem(10);
    margin-bottom: pxToRem(8);
  }

  &__icon {
    font-size: pxToRem(20);
  }

  &__total {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: pxToRem(8);
  }
}
