@import '../../../scss/variables.scss';
@import '../../../scss/colors.scss';

.video-container {
  height: 57vw;
  height: 100vh;
  max-height: 57vw;
  margin-bottom: 11px;
  position: relative;
  width: 100%;
  overflow: hidden;
}

.ytp-button {
  display: none !important;
}

// 16:9. aspect-ratio

.resizable-video {
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
  overflow: hidden;

  .embed-video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

  video-player & {
    background: #000;
  }
}

.inherited-layout {
  display: block;
  padding-right: 10%;
  padding-left: 10%;
}
