@import '@crowdfarming/ds-library/src/styles/global';
@import '../../scss/mixins/grid';

.ec-catalog-grid {
  position: relative;
  border-top: pxToRem(1) solid map_get($semanticNeutralColors, 'semantic-neutral-light');
  border-bottom: pxToRem(1) solid map_get($semanticNeutralColors, 'semantic-neutral-light');
  display: grid;
  grid-template-columns: repeat(1, minmax(10px, 1fr));
  // Position
  margin-left: pxToRem(-16);
  width: calc(100% + pxToRem(32));

  &__container-item {
    position: relative;
    grid-column: auto;
    border-right: 0;
    border-bottom: pxToRem(1) solid map_get($semanticNeutralColors, 'semantic-neutral-light');

    &:last-child {
      border-bottom: 0;
    }

    &.last-row {
      border-bottom: none;
    }
  }

  @media (min-width: pxToRem(360)) and (max-width: pxToRem(599)) {
    $columns: 2;

    @include ec-create-grid($columns);
  }

  @media (min-width: pxToRem(600)) and (max-width: pxToRem(959)) {
    $columns: 2;

    border: pxToRem(1) solid map_get($semanticNeutralColors, 'semantic-neutral-light');
    // Position
    margin-left: 0;
    width: 100%;

    @include ec-create-grid($columns);
  }

  @media (min-width: pxToRem(960)) and (max-width: pxToRem(1279)) {
    $columns: 3;

    border: pxToRem(1) solid map_get($semanticNeutralColors, 'semantic-neutral-light');

    @include ec-create-grid($columns);
  }

  @include bp(device-l) {
    $columns: 4;

    border: pxToRem(1) solid map_get($semanticNeutralColors, 'semantic-neutral-light');

    @include ec-create-grid($columns);
  }
}
