<section class="check-delivered-order" *transloco="let t">
  <h4 class="t-body-s text-primary-88 mb-2">{{ t('page.Have-received-order.title') }}</h4>
  <span class="t-body-s text-grey-56 mb-16">
    {{ t(dayAfterEstimatedDelivery ? 'page.have-receive-order.body' : 'global.confirm-delivery-order.text-info') }}
  </span>
  <div class="check-delivered-order__buttons">
    <ds-button
      *ngIf="dayAfterEstimatedDelivery && orderData.orderTicketStatus !== orderticketStatus.ORDER_TICKET_OPENED"
      id="not-yet-delivered"
      class="ec-btn__outline-ds-button"
      size="s"
      variant="secondary"
      [inverse]="false"
      width="{{ domSrv.getIsDeviceSizeV2() ? 'full' : 'auto' }}"
      [content]="t('page.order-not-received.text-info')"
      (buttonClick)="gotBox(true)">
    </ds-button>
    <ds-button
      id="confirm-delivery"
      size="s"
      width="{{ domSrv.getIsDeviceSizeV2() ? 'full' : 'auto' }}"
      [content]="t('global.delivered.label')"
      (buttonClick)="gotBox()">
    </ds-button>
  </div>
</section>
