<div
  id="private-mobile-menu-popover"
  stop-propagation
  class="py-0 private-mobile-menu"
  [ngClass]="{'right-transition': isTransitionRightActive, 'left-transition': isTransitionLeftActive}">
  <div class="header" [ngClass]="isBackActive ? 'justify-content-between' : 'justify-content-end'">
    <img *ngIf="isBackActive" (click)="goBack()" class="" src="../../../assets/icon/common/go-back-arrow.svg" alt="Go back" />
    <ds-icon (click)="closeModal()" name="close" size="ds--size-24" color="content-two" class="d-flex mr-4"></ds-icon>
  </div>
  <div *transloco="let t" class="private-mobile-menu-container t-black-T px-3">
    <div *ngIf="user" class="private-mobile-menu-title pt-l pb-l pl-m pr-m d-flex">
      <div class="private-mobile-menu-img mr-s flex-center t-h3-bold t-green-primary">{{user.name.split('')[0].toUpperCase()}}</div>
      <div class="private-mobile-menu-name">
        <div class="t-s-regular">{{t('global.hello.body')}}</div>
        <div class="t-l-medium">{{user.name}}</div>
      </div>
    </div>
    <div
      *ngFor="let option of menuOptions"
      (click)="goToSection(option)"
      [ngClass]="{'private-mobile-menu-section-active': option.active, 'border-bottom-disabled-1x': option.boderbottom}"
      class="private-mobile-menu-section d-flex">
      <div class="private-mobile-menu-icon mr-s">
        <i class="eva {{option.icon}} f24" aria-hidden="true"></i>
      </div>
      <div class="private-mobile-menu-text overflow-text d-flex flex-column">
        <div class="t-m-medium">{{t(option['text'])}}</div>
      </div>
    </div>
    <div (click)="logout()" class="private-mobile-menu-section t-m-regular flex-center justify-content-start">
      <div class="private-mobile-menu-icon mr-s">
        <i class="eva eva-log-out-outline rotated-icon f24" aria-hidden="true"></i>
      </div>
      <div class="private-mobile-menu-text overflow-text d-flex flex-column">
        <div class="t-m-medium">{{t('global.log-out.drop')}}</div>
      </div>
    </div>
  </div>
</div>
