@import '@crowdfarming/ds-library/src/styles/global';

filters-menu-popover {
  transition: top 0.7s ease-in, opacity 0.4s ease-in 0.2s;
  position: fixed;
  z-index: 210;
  left: -50%;
  opacity: 0.3;
  bottom: 0;
  top: 100%;
  width: 504px;

  @include bp(device-s) {
    transition: left 0.7s ease, opacity 0.4s ease 0.2s;
    right: 0;
    top: 0;
  }

  &.popover-is-open {
    left: 0;
    top: 0;
    opacity: 1;
  }
}

.filters-popover {
  height: 100%;
  width: 100vw;
  display: flex;
  flex-direction: column;
  background: map_get($layerBackgroundColors, background-1);

  @include bp(device-s) {
    width: 504px;
  }

  &__header {
    padding: 1rem;
    padding-top: 65px;
    position: relative;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid map_get($layerBorderColors, border-3);

    & i {
      font-size: 22px;
      font-weight: 900;
      position: absolute;
      top: 22px;
      right: 14px;
      color: $ds--color-primary-88;

      &:hover {
        cursor: pointer;
      }
    }
  }

  &__filters-list {
    padding: 1rem;
    overflow-y: auto;
    flex: 1;
  }

  &__footer {
    padding: 1rem;
    border-top: 1px solid map_get($layerBorderColors, border-3);
  }
}
