<div *transloco="let t" class="d-flex flex-column mob-ph-m">
  <!-- Title -->
  <div class="t-h3-bold t-black-H">
    {{t('global.already-a-crowdfarmer.')}}
  </div>

  <!-- CF Login -->
  <div class="t-m-regular text-grey mb-s mt-m mob-mt-s">
    {{t('page.login-email.body')}}
  </div>
  <div class="w-100 mb-s mob-ph-s">
    <cf-input [error]="errorIn.email">
      <input id="email-input" class="" name="email" placeholder="{{t('page-email-address.form')}}" [(ngModel)]="user.email"
        (keyup)="checkInput('email')" (blur)="checkInput('email', true)"/>
    </cf-input>
    <div *ngIf="errorIn.email" class="cf-input-error-msg">
      {{user.email.length > 64 ? textSrv.getText('Must be between 1 and 64 characters') : t('page.format-not-valid.text-info')}}
    </div>
  </div>
  <div class="w-100 mob-ph-s login-wrapper-password">
    <cf-input [error]="errorIn.password">
      <input id="password-input" [type]="typeInput" class="" name="password" placeholder="{{t('global.password.form')}}"
        [(ngModel)]="user.password" (keyup.enter)="login()" (keyup)="checkInput('password')"
        (blur)="checkInput('password', true)"/>
      <div *ngIf="errorIn.password" class="cf-input-error-msg">
        {{t('page.6-and-64-characters.body')}}
      </div>
      <toggle-password-component (typeInputE)="changeVisible($event)"></toggle-password-component>
    </cf-input>
  </div>

  <!-- Forgot password -->
  <div class="w-100 mt-m mb-l d-flex justify-content-end">
    <div class="text-link text-link-green text-right f16 hide-mobile fit-content" (click)="recoverAccess()"
      id="recover-btn">
      {{t('page.Forgot-your-password.title')}}
    </div>
    <div class="text-link text-link-green text-center f16 hide-desktop fit-content" (click)="recoverAccess()"
      id="recover-btn">
      {{t('page.Forgot-your-password.title')}}
    </div>
  </div>

  <!-- Button -->
  <cf-button class="w-100" id="login-button" (click)="login()" [width]="'auto'">
    {{t('global.login.button')}}
  </cf-button>

  <!-- Social login -->
  <div *ngIf="fb || google" class="t-m-regular text-grey mt-xl mob-mt-l">
    {{t('page.fast-access.title')}}
  </div>

  <div *ngIf="fb || google" class="mt-m mob-mt-s">
    <app-social-buttons type="login" [fb]="fb" [google]="google" (buttonSelect)="buttonSelectHandler()"></app-social-buttons>
  </div>
</div>
