<div class="soft-register-popup-container col-12" id="soft-register-popup">
  <h3 class="t-h3-blackW t-black-H">
    {{textSrv.getText('It seems you visit us')}}
  </h3>
  <p class="t-m-regular t-black-T">
    {{textSrv.getText('Leave us your information')}}
  </p>
  <div *ngIf="countries && countries.length">
    <div class="row">
      <country-selector *ngIf="countryDetected && countries && countries.length"
        [label]="textSrv.getText('Where do you visit us from')" [flag]="false" id="soft-register-country-input"
        class="col-12 cf-input-container" [data]="countries" [selected]="countryDetected"
        (returnData)="updateCountry($event)" [error]="errorIn.country">
      </country-selector>
      <div *ngIf="errorIn.country" class="country-selector-error-msg d-flex align-items-center ml-m">
        <i class="eva eva-alert-triangle-outline t-m-regular t-supp-red" aria-hidden="true"></i>
        <span class="t-xs-regular t-supp-red ml-s">
          {{textSrv.getText('Must be between 1 and 30 char')}}
        </span>
      </div>
    </div>
    <div *ngIf="selectedCountry" class="allowed-message w-100 mt-s mb-m pa-xl t-a-center">
      <span class="d-block t-l-regular t-black-T">
        {{textSrv.getText('Fortunately we send to')}}
      </span>
      <span class="d-block t-h6-bold t-green-primary text-uppercase mt-s">
        {{selectedCountry ? (selectedCountry | translation:'_m_name') : ''}}
      </span>
    </div>
    <div *ngIf="!selectedCountry" class="row">
      <cf-input class="col-12 col-md-6" id="soft-register-name-input" [error]="errorIn.name">
        <input name="name" placeholder="{{textSrv.getText('name')}}" value="" maxlength="30" [(ngModel)]="crowdfarmer.name">
        <div *ngIf="errorIn.name" class="cf-input-error-msg">
          <span class="t-xs-regular t-supp-red ml-s">
            {{textSrv.getText('Must be between 1 and 30 char')}}
          </span>
        </div>
      </cf-input>
      <cf-input class="col-12 col-md-6" id="soft-register-surnames-input" [error]="errorIn.surnames">
        <input name="surnames" placeholder="{{textSrv.getText('surnames')}}" value="" maxlength="30" [(ngModel)]="crowdfarmer.surnames">
        <div *ngIf="errorIn.surnames" class="cf-input-error-msg">
          <span class="t-xs-regular t-supp-red ml-s">
            {{textSrv.getText('Must be between 1 and 30 char')}}
          </span>
        </div>
      </cf-input>
    </div>
    <div *ngIf="!selectedCountry" class="row">
      <cf-input class="col-12" id="soft-register-email-input" [error]="errorIn.email">
        <input name="email" value="" placeholder="{{textSrv.getText('email')}}" [(ngModel)]="crowdfarmer.email">
        <div *ngIf="errorIn.email" class="cf-input-error-msg">
          <span class="t-xs-regular t-supp-red ml-s">
            {{textSrv.getText('invalid email')}}
          </span>
        </div>
      </cf-input>
    </div>
    <div class="row mt-s">
      <!-- Send -->
      <cf-button *ngIf="!selectedCountry" class="col-12" id="change-password-btn" [width]="'auto'" (click)="registerUser()">
        {{textSrv.getText('Send')}}
      </cf-button>
      <!-- Close popup -->
      <cf-button *ngIf="selectedCountry" class="col-12" id="change-password-btn" [width]="'auto'" (click)="onClose()">
        {{textSrv.getText('go-crowdfarming')}}
      </cf-button>
    </div>
  </div>
</div>
