<div class="d-flex flex-column invest-info">
  <div class="d-flex flex-column content justify-content-center {{block}}" [ngClass]="{
    ' flex-md-row': block === 'first-block' || block === 'block-img-right',
    ' flex-md-row-reverse' : block !== 'first-block' && block !== 'block-img-right'}">
    <div class="col-12 col-md-6 text"
      *ngIf="(block === 'first-block' ||  block === 'second-block' || block === 'block-img-right')">
      <div class="header-logo mb-l" *ngIf="block === 'first-block'">
        <a class="d-flex">
          <i class="logo cf-icon-crowdfarming-bold" aria-hidden="true"></i>
          <i class="cf-icon-text-light d-flex align-items-center" aria-hidden="true"></i>
        </a>
      </div>
      <div class="header-logo mb-l" *ngIf="block === 'block-img-right'">
        <img class="preheaderImg" src="{{info.preheaderImg | cdn}}" alt="">
        {{textSrv.getText(info.preheader)}}
      </div>
      <div class="header t-h1-bold mb-l">
        {{textSrv.getText(info.header)}}
      </div>
      <div class="subheader t-l-medium t-black-T mb-l">
        {{textSrv.getText(info.subheader)}}
      </div>
      <div class="subheader t-l-regular t-grey mb-l" [innerHTML]="textSrv.getText(info.body)"></div>
      <div class="d-flex flex-column flex-lg-row">
        <cf-input *ngIf="block === 'first-block'" class="w-100 mb-m" [error]="inputError">
          <input [value]="amount" (input)="amount = $event.target.value" type="number" [mask]="mask" />
          <i>€</i>
          <div class="cf-input-error-msg" *ngIf="inputError">
            {{textSrv.getText('Error text missing')}}
          </div>
        </cf-input>
        <div *ngIf="block === 'first-block'" class="invest-btn" (click)="invest()">
          <cf-button>
            {{textSrv.getText(info.button)}}
          </cf-button>
        </div>
      </div>
    </div>
    <div class="col-12 col-md-6 text" *ngIf="block === 'third-block' && info.nextGoals">
      <div class="" *ngIf="domSrv.getIsDeviceSize()">
        <div class="header mb-s">
          {{textSrv.getText(info.header)}}
        </div>
        <div class="subheader mb-s" *ngIf="block === 'third-block'">
          {{textSrv.getText(info.subheader)}}
        </div>
      </div>
      <div class="d-flex flex-column flex-md-row mb-xxl mob-mb-l align-items-center align-items-md-start"
        *ngFor="let item of info.nextGoals; index as id">
        <div class="picture col-12 col-md-3" [ngStyle]="{'background-image': 'url(' + (item.image | cdn) + ')'}"></div>
        <div class="col-12 col-md-9 nop">
          <div class="header-point mb-s">{{textSrv.getText(item.subHeader)}}</div>
          <div class="subheader-flag t-m-regular t-grey mb-l">{{textSrv.getText(item.subBody)}}</div>
        </div>
      </div>
    </div>
    <div class="col-12 col-md-6 text" *ngIf="block === 'fourth-block'">
      <div class="" *ngIf="domSrv.getIsDeviceSize()">
        <div class="header mb-l">
          {{textSrv.getText(info.header)}}
        </div>
      </div>
      <div class="d-flex flex-column">
        <div class="mb-s mt-s" *ngFor="let faq of info.faqs; index as id">
          <cf-faq [content]="faq" [id]="'ID' + (id + 1)"></cf-faq>
        </div>
      </div>
    </div>
    <div class="col-12 col-md-6 illustration d-flex flex-column" [ngClass]="{
        ' justify-content-end': block === 'first-block' || block === 'second-block' || block === 'block-img-right',
        ' justify-content-between' : block === 'third-block' || block === 'fourth-block'}">
      <div class="text" *ngIf="(block === 'fourth-block' || block === 'third-block') && !domSrv.getIsDeviceSize()">
        <div class="header mb-m">
          {{textSrv.getText(info.header)}}
        </div>
        <div class="subheader mb-m" *ngIf="block === 'third-block'">
          {{textSrv.getText(info.subheader)}}
        </div>
      </div>
      <div class="image" [ngStyle]="{'background-image': 'url(' + (info.image | cdn) + ')'}"></div>
    </div>
  </div>

  <cf-wave [fromColor]="'transparent'" [inverse]="true" [toColor]="waveToColor" [domain]="env.domain"></cf-wave>
</div>
