@import '../../../scss/colors.scss';
@import '../../../scss/variables.scss';

.popup-header {
  background-color: $greyLight;
  color: $black;
  font-weight: 700;
  font-size: 16px;
  height: 50px;
  border-radius: 5px 5px 0 0;
  padding: 15px;
}
