<!-- Address -->
<div class="add-info-popup-container add-info-popup-l-container" *ngIf="addAddress || editAddress" stop-propagation>
  <div class="address-form w-100">
    <!-- Title -->
    <div class="popup-header-title">{{addAddress ? t('page.new-shipping-address.text-link') : t('page.edit-address.button')}}</div>

    <div class="add-info-scroll">
      <!-- Content -->
      <address-component [new]="addAddress" [checkWhenOpen]="editAddress" [address]="address" [errorIn]="errorIn"
        *ngIf="errorIn && canStart"></address-component>

      <!-- Buttons -->
      <div class="mt-s d-flex">
        <cf-button class="hide-mobile" [width]="'auto'" [flat]="true" (click)="onClose()"> {{t('global.cancel.button')
          }} </cf-button>
        <cf-button [width]="'auto'" (click)="addAddress ? saveAddAddress() : saveEditAddress()">
          {{t('page.save.button')}} </cf-button>
      </div>
      <div class="hide-desktop mts">
        <cf-button [width]="'auto'" [flat]="true" (click)="onClose()"> {{t('global.cancel.button')}} </cf-button>
      </div>
    </div>
  </div>
</div>

<!-- Payment method -->
<div class="add-info-popup-container add-info-popup-l-container"
  *ngIf="addPaymentType === 'card' || addPaymentType === 'sepa'">
  <!-- Title -->
  <div class="popup-header-title">{{t('page.add-payment-method.drop')}}</div>

  <!-- Tabs -->
  <cf-tabs class="w-100" [tabs]="tabsTexts" [size]="'m'" (currentTabChange)="changeMethod($event)"
    [currentTab]="currentTab"></cf-tabs>

  <!-- Methods -->
  <div class="add-info-card" *ngIf="addPaymentType === 'card'">
    <stripe-card class="w-100" [isLogged]="isLogged" (cardAdded)="paymentAdded($event)" [stripeRef]="stripeRef">
    </stripe-card>
  </div>
  <div class="add-info-sepa" *ngIf="currentTab === 1">
    <stripe-sepa class="w-100" [isLogged]="isLogged" (sepaAdded)="paymentAdded($event)" [stripeRef]="stripeRef">
    </stripe-sepa>
  </div>
</div>
