<section class="ec-card">
  <base-card
    *ngIf="articleData"
    [title]="articleData._m_title | multiLangTranslation"
    [description]="articleData._m_subtitle | multiLangTranslation"
    [img]="articleData.imgUrl"
    [price]="minPrice | currency: articleData.currency"
    [pricePer]="(articleData.pricePerUnit | currency: articleData.currency) + ' / ' + (articleData._m_units | multiLangTranslation)"
    >
    <div body>
      <ds-seals-header *ngIf="seals" [seals]="seals | translateSeals"></ds-seals-header>
    </div>
    <div button>
      <ds-counter [(counter)]="counter" [hasDelete]="true" [min]="0" (counterChange)="selectQuantityArticle($event)" stop-propagation></ds-counter>
    </div>
  </base-card>
</section>
