@import '../../../scss/commons.scss';

.login-register {
  width: 100%;
  max-width: 512px;
  display: block;
  margin: 0 auto;

  .company-logo {
    max-height: 100px;
    max-width: 300px;
  }

  .logo {
    font-family: 'Noah', sans-serif;
    font-size: 27px;
    font-weight: 800;
    letter-spacing: normal;
    color: map_get($color, 'primary');

    &.cf-icon-crowdfarming-bold {
      font-size: 57px;
      font-weight: 300;
    }

    &.cf-icon-text-light {
      margin-left: 5px;
      font-family: 'Noah', sans-serif;
      font-size: 27px;
      font-weight: 800;
      line-height: 1.56;
      color: map_get($color, 'primary');
    }
  }
}
