<ds-section *transloco="let t">
  <section class="unavailable">
    <div class="unavailable__data">
      <h1 class="unavailable__title t-heading-xl">{{t('page.ecomerce-not-available.title')}}</h1>
      <span class="unavailable__desc t-body-l">{{t('discoverybox.page.landing-country-not-available.body')}}</span>
      <a class="ds-link t-component-semibold-m unavailable__sep-buttons" (click)="goToFarmersMarket()">
        {{t('page.cta-header-home.button')}}
      </a>
    </div>
    <div class="unavailable__img">
      <img [src]="urlImage" />
    </div>
  </section>
</ds-section>
