<ng-container *transloco="let t">
  <div class="checkout-summary-price">
    <ng-container *ngIf="creditsToSpend && !isGroupOrder">
      <div class="row align-items-end justify-content-between">
        <div class="col-auto">
          <span class="t-black-T t-m-medium">{{ t('global.subtotal.text-info') }}</span>
        </div>
        <div class="col-auto">
          <p class="t-black-H t-m-bold nom">{{ price | currency }}</p>
        </div>
      </div>

      <div class="row align-items-end justify-content-between mb-l">
        <div class="col-auto">
          <div class="d-flex align-items-center">
            <span class="t-s-regular t-grey">{{ t('global.credit.text-info') }}</span>
            <ng-container *ngIf="showCreditsTooltip">
              <div class="tooltip-wrapper ml-xs">
                <custom-tooltip [borderBottom]="false">
                  <ng-container target>
                    <i class="eva eva-alert-circle-outline f20"></i>
                  </ng-container>
                  <ng-container dialog>
                    <span class="t-s-regular t-black-H text-left nom">{{ t('notifications.minimum-amount-stripe.text-info') }}</span>
                  </ng-container>
                </custom-tooltip>
              </div>
            </ng-container>
          </div>
        </div>

        <div class="col-auto">
          <p id="checkout-summary-credits" class="t-m-bold t-supp-blue nom">{{ availableCredits | currency }}</p>
        </div>
      </div>
    </ng-container>

    <div class="row align-items-center justify-content-between">
      <div class="col-auto">
        <span class="t-black-T t-m-medium">{{ t('page.final-price.text-info') }}</span>
      </div>
      <div class="col-auto">
        <p class="t-xs-regular t-grey nom mb-1">{{ t('global.vat-included.text-info') }}</p>
        <p class="t-l-bold t-green-primary nom">{{ finalPrice | currency }}</p>
      </div>
    </div>
  </div>
</ng-container>
