@import '../../../scss/commons.scss';

.status-popup {
  &-container {
    z-index: 100;
    position: relative;
    width: 100vw;
    max-width: 100vw;
  }

  &__icon {
    width: 46px;
    height: 46px;
    font-size: 46px;
    display: flex;
    align-items: center;
    color: map_get($color, 'primary');

    .eva-close-circle {
      color: map_get($color, 'supp-3');
    }

    @media (max-width: map_get($grid-breakpoints, 'md')) {
      width: 100%;
    }
  }
}
