@import '../../../../../../scss/commons';
@import '../../../../../../scss/general';

.information {
  .picture {
    min-width: 352px;
    height: 352px;
    border-radius: 5px;
    background-size: cover;

    @media (max-width: map_get($grid-breakpoints, 'md')) {
      min-width: 100%;
      height: 288px;
    }
  }

  .body {
    max-height: 266px;
    overflow-y: hidden;

    &.unfold {
      max-height: none;
    }
  }
}
