<div class="container information d-flex flex-column flex-lg-row pb-xxl pt-s mob-pb-l mob-no-pt" *ngIf="info" [id]="info.id">
  <div class="picture mob-mb-m" [ngStyle]="{'background-image': 'url(' + (info.pictureURL | cdn: 800) + ')'}">
  </div>
  <div class="text ml-xl mob-no-ml">
    <div class="header t-h2-bold mb-s t-black-T">
      {{info.name}}
    </div>
    <div id="{{'oh-text-' + info.id}}" class="body t-l-regular t-black-T" [ngClass]="{'unfold': unfold}"
      [innerHTML]="textSrv.markdown( (info | translation:'text'), true)">
    </div>
    <div class="read-more t-l-medium mt-m mob-mt-s pointer text-underline"
      *ngIf="domSrv.getElementHeight('#oh-text-' + info.id) === 266 || unfold" (click)="unfoldText()">
      {{ textSrv.getText(unfold ? 'Read less' : 'Read more') }}
    </div>
  </div>
</div>
