<ng-container *transloco="let t">
  <div
    *ngIf="order"
    class="order-card mb- d-flex flex-column mob-pa-s pointer"
    [ngClass]="{ 'min pa-s': minVersion, 'pa-m': !minVersion }"
    (click)="openOrderDetail(isFromGroupOrder ? order.id : order._id)">
    <ng-container *ngIf="order.orderType !== orderType.ECOMMERCE">
      <div class="d-flex align-items-center">
        <!-- Img -->
        <div
          *ngIf="pictureURL"
          class="order-card-img mob-mr-s"
          [ngClass]="{ 'mr-s': minVersion, 'mr-m': !minVersion }"
          [ngStyle]="{ 'background-image': 'url(' + (pictureURL | cdn : 200) + ')' }">
          <span *ngIf="gift" class="gift-icon eva-gift-outline position-absolute d-block f-18 text-center"></span>
        </div>
        <div *ngIf="!pictureURL" class="order-card-img flex-center empty" [ngClass]="{ 'mr-s': minVersion, 'mr-m': !minVersion }">
          <order-dummy-image></order-dummy-image>
        </div>
        <!-- Data -->
        <div class="order-card-data d-flex justify-content-between w-100">
          <div class="order-card-info d-flex flex-column justify-content-start">
            <!-- Code -->
            <div *ngIf="!minVersion" class="t-component-regular-xs text-grey-56 hide-mobile">
              {{ order.orderNumber }}
              <ng-container *ngIf="order.registerDate">· {{ utilsSrv.dateForFront(order.registerDate) }}</ng-container>
            </div>
            <!-- Info -->
            <div class="order-card-name t-component-semibold-m text-primary-88 mb-2">
              <p class="nom">{{ name }}</p>
            </div>
            <div *ngIf="!minVersion && order.farmerName" class="t-component-semibold-s text-primary-88 hide-mobile overflow-text mb-2">
              {{ order | translation : '_m_farmName' }}, {{ order.farmerName }}
            </div>
            <div *ngIf="!minVersion" class="t-s-regular">
              <!-- Mulishot -->
              <div *ngIf="boxesAvailable && (!gift || isRecipient)" class="text-grey overflow-text">
                {{ t('global.plan-your-shipment.text-link') }}
              </div>

              <!-- Delivery -->
              <div
                *ngIf="
                  (order.oneShot ||
                    order.oneShotRenew ||
                    order.multiShotBox ||
                    order.overharvest ||
                    isFromGroupOrder ||
                    order.subscription) &&
                  !(order.status === 'completed' && order.completed) &&
                  !minVersion
                "
                class="d-flex t-component-regular-s mb-2">
                <span class="hide-mobile text-primary-88">{{ t('global.Approximate-delivery.text-info') }}&nbsp;</span>
                <span class="hide-desktop text-primary-88">{{ t('global.delivery.text-info') }}&nbsp;</span>
                <span *ngIf="!order.shipment.delayed; else delayed" class="text-grey-56">
                  {{ utilsSrv.dateForFront(deliveryDate) }}
                </span>
                <ng-template #delayed>
                  <span class="text-grey-56">
                    {{ t('global.delayed.text-info') }}
                  </span>
                </ng-template>
              </div>
              <div *ngIf="!minVersion" class="hide-desktop price-mobile-container">
                <div class="mr-l t-component-regular-m text-grey-56 price">
                  {{ price }}
                </div>
              </div>
            </div>

            <!-- State -->
            <div class="d-flex align-items-center mt-s">
              <order-status-chip
                *ngIf="!gift || isRecipient || (gift && orderGiftCancelled && orderStatusParams)"
                [statusParams]="orderStatusParams"></order-status-chip>
            </div>
          </div>

          <!-- Amount -->
          <div class="order-card-price flex-center hide-mobile">
            <div class="w-100 pointer d-flex">
              <div *ngIf="!minVersion" class="mr-l hide-mobile t-component-regular-m text-grey-56">
                {{ price }}
              </div>
              <i aria-hidden="true" class="eva eva-chevron-right-outline text-grey-56 f24"></i>
            </div>
          </div>
        </div>
      </div>

      <div class="w-100 wrapper-buttons">
        <div *ngIf="!app && order.overharvest && order.canBuyAgain" class="button-wrapper">
          <cf-button
            [id]="'reorder-order-list'"
            [width]="domSrv.getIsDeviceSize() ? 'auto' : 'fit'"
            [size]="'s'"
            (click)="buyAgain()"
            stop-propagation>
            {{ t('global.buy-again.button') }}
          </cf-button>
        </div>

        <cf-button
          *ngIf="order?.canGiveFeedback"
          [id]="'cf-feedback'"
          [width]="domSrv.getIsDeviceSize() ? 'auto' : 'fit'"
          [secondary]="true"
          [size]="'s'"
          (click)="routerSrv.navigateToCfFeedback(order._id)"
          stop-propagation>
          {{ t('global.rate-order.button') }}
        </cf-button>
      </div>
    </ng-container>
    <ng-container *ngIf="order.orderType === orderType.ECOMMERCE">
      <cf-custom-order-card-content
        [order]="order"
        [isFreeDelivery]="isFreeDelivery"
        [isRecipient]="isRecipient"></cf-custom-order-card-content>
    </ng-container>
  </div>
</ng-container>
