@import '../../../../../scss/commons.scss';
@import '../../../../../scss/variables.scss';

.order-card {
  min-height: 160px;
  height: fit-content;
  border-radius: 5px;
  transition: box-shadow 0.35s ease;

  &-data {
    max-width: calc(100% - 100px);

    @media (min-width: map_get($grid-breakpoints, 'lg')) {
      max-width: calc(100% - 144px);
    }
  }

  @media (max-width: map_get($grid-breakpoints, 'lg')) {
    min-height: unset;
  }

  &-price {
    align-self: center;
  }

  .eva-chevron-right-outline {
    transition: all 0.3s ease;
  }

  &:hover {
    box-shadow: 0 8px 16px 0 rgba(121, 131, 143, 0.32);

    .eva-chevron-right-outline {
      color: map_get($color, 'primary');
    }
  }

  &-img {
    max-width: 128px;
    min-height: 128px;
    width: 100%;
    background-size: cover;
    background-position: center;
    border-radius: 5px;
    position: relative;

    @media (max-width: map_get($grid-breakpoints, 'lg')) {
      min-width: 88px;
      width: 88px;
      min-height: 110px;
    }
  }

  .empty {
    background-color: $greyLight;

    img {
      width: 36px;
      height: 36px;
    }
  }

  &-info {
    max-width: 100%;

    @media (min-width: map_get($grid-breakpoints, 'lg')) {
      max-width: calc(100% - 88px);
    }
  }

  &.min {
    min-height: 104px;

    & .order-card-img {
      max-width: 88px;
      min-width: 88px;
      width: 88px;
      min-height: 88px;
      max-height: 88px;
      position: relative;
    }

    & .order-card-data {
      max-width: calc(100% - 96px);

      .order-card-name {
        font-size: 14px;
        white-space: normal !important;
        margin: 0;
        -webkit-line-clamp: 2;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        overflow: hidden;
      }
    }
  }

  .price-mobile-container {
    .price {
      font-size: 14px;
    }
  }

  .wrapper-buttons {
    display: flex;
    flex-direction: column;
    margin-top: 16px;

    @media (min-width: map_get($grid-breakpoints, 'md')) {
      flex-direction: row;
    }

    .button-wrapper {
      margin-bottom: 8px;

      @media (min-width: map_get($grid-breakpoints, 'md')) {
        margin-bottom: 0;
        margin-right: 8px;
      }
    }
  }
}
