<ng-container *transloco="let t">
 <div class="address" *ngIf="address && countries && loaded">
  <div class="country">
    <country-selector *ngIf="countries" id="add-address-country-input" class="w-100 cf-input-container"
      [data]="countries" (returnData)="getCountry($event)" [selected]="address.country"
      [error]="errorIn.country && !address.country">
    </country-selector>
    <div *ngIf="errorIn.country && !address.country" class="cf-input-error-msg">
      <div class="cf-input-error-icon eva eva-alert-triangle-outline"></div>
      {{t('notofication.Mandatory-field.body')}}
    </div>
  </div>
  <div class="d-flex justify-content-between flex-column flex-md-row">
    <cf-input class="name" [error]="errorIn.name">
      <input id="add-address-name-input" name="name" [(ngModel)]="address.name" tabindex="0"
        placeholder="{{t('page.name.form')}}" value="" maxlength="30" (keyup)="manageInput('name', true)"
        (blur)="manageInput('name')"/>
      <div *ngIf="errorIn.name" class="cf-input-error-msg">
        {{t('page.Must-be-between.text-info')}}
      </div>
    </cf-input>
    <cf-input class="surname" [error]="errorIn.surnames">
      <input id="add-address-surnames-input" value="" name="surnames" [(ngModel)]="address.surnames"
        placeholder="{{t('page.surname.form')}}" maxlength="30" (keyup)="manageInput('surnames', true)"
        (blur)="manageInput('surnames')"/>
      <div *ngIf="errorIn.surnames" class="cf-input-error-msg">
        {{t('page.Must-be-between.text-info')}}
      </div>
    </cf-input>
  </div>
  <div class="d-flex justify-content-between flex-column flex-lg-row">
    <cf-input *ngIf="currentCountry && (currentCountry.iso === 'gb' || currentCountry.iso === 'fr'|| currentCountry.iso === 'ca' || currentCountry.iso === 'us')"
      class="number-before" [error]="errorIn.number">
      <input id="add-address-number-input" name="number" [(ngModel)]="address.number"
        placeholder="{{t('page.House-number.form')}}" maxlength="10" value="" (keyup)="manageInput('number', true)"
        (blur)="manageInput('number')"/>
      <div *ngIf="errorIn.number" class="cf-input-error-msg">
        {{t('notofication.Mandatory-field.body')}}
      </div>
    </cf-input>
    <cf-input class="street" [error]="errorIn.street">
      <input id="add-address-street-input" name="street" [(ngModel)]="address.street"
        placeholder="{{t('page.street-address.form')}}" maxlength="30" value="" (keyup)="manageInput('street', true)"
        (blur)="manageInput('street')"/>
      <div *ngIf="errorIn.street" class="cf-input-error-msg">
        {{t('notifications.mandatory-field.text-info')}}
      </div>
    </cf-input>
    <cf-input *ngIf="currentCountry && currentCountry.iso !== 'gb' && currentCountry.iso !== 'fr' && currentCountry.iso !== 'ca' && currentCountry.iso !== 'us'"
      class="number-after" [error]="errorIn.number">
      <input id="add-address-number-input" name="number" [(ngModel)]="address.number"
        placeholder="{{t('page.House-number.form')}}" maxlength="10" value="" (keyup)="manageInput('number', true)"
        (blur)="manageInput('number')"/>
      <div *ngIf="errorIn.number" class="cf-input-error-msg">
        {{t('notofication.Mandatory-field.body')}}
      </div>
    </cf-input>
  </div>
  <cf-input class="detail">
    <input name="details" [(ngModel)]="address.details" value=""
      placeholder="{{t(currentCountry && currentCountry.iso === 'gb' ? 'page.house-flat-suite-uk.form' : 'page.details.bbody')}}"
      maxlength="30"/>
  </cf-input>
  <div class="d-flex justify-content-between align-items-center flex-column flex-lg-row">
    <cf-input class="zip-before" *ngIf="currentCountry && currentCountry.iso !== 'gb' && (currentCountry.iso !== 'ca') "
      [error]="errorIn.zip || (address.country && (errorIn.validZip || errorIn.lengthZip))">
      <input id="add-address-zip-input" name="zip" [(ngModel)]="address.zip" value="" maxlength="10"
        placeholder="{{t('page.zip-code.form')}}" (keyup)="manageInput('zip', true)"
        [mask]="currentCountry.zipMasks"/>
      <div class="cf-input-error-msg" *ngIf="errorIn.zip && address.zip.length < 3">
        {{t('notofication.Mandatory-field.body')}}
      </div>
      <div class="cf-input-error-msg" *ngIf="errorIn.validZip && address.country !== '' && address.zip.length > 0">
        {{t('global.not-ship-zip-code.text-info')}}
      </div>
    </cf-input>
    <cf-select *ngIf="provinceNames && (address.country && address.country === 'ca')"
    [placeholder]="t('page.region-county.form')"
    [error]="errorIn.province"
    [optionsValue]="provinceNames" [selected]="provinceNames[0]" [whiteSelect]="true" class="mr-m"
    (selectedChange)="selectCaProvince($event)" class="province"
    ></cf-select>

    <!-- Key doesnt exist on lokalise -->
    <cf-select *ngIf="statesNames && (address.country && address.country === 'us')"
                [placeholder]="textSrv.getText('State')" 
                [optionsValue]="statesNames" [selected]="statesNames[0]" [whiteSelect]="true" class="mr-m"
                (selectedChange)="selectUSState($event)" class="province"></cf-select>

    <cf-input class="city" [error]="errorIn.city">
      <input id="add-address-city-input" name="city" [(ngModel)]="address.city"
        placeholder="{{t('global.City.text-info')}}" value="" maxlength="30" (keyup)="manageInput('city', true)"
        (blur)="manageInput('city')"/>
      <div *ngIf="errorIn.city" class="cf-input-error-msg">
        {{t('notifications.mandatory-field.text-info')}}
      </div>
    </cf-input>
    <cf-input *ngIf="currentCountry && currentCountry.iso === 'gb' || (address.country && address.country === 'ca')" class="zip-after"
      [error]="errorIn.zip || (address.country && (errorIn.validZip || errorIn.lengthZip))">
      <input id="add-address-zip-input" name="zip" [(ngModel)]="address.zip" value="" maxlength="10"
        placeholder="{{t('page.zip-code.form')}}" (keyup)="manageInput('zip', true)"
        [mask]="currentCountry.zipMasks"/>
      <div *ngIf="errorIn.zip && address.zip.length < 3" class="cf-input-error-msg">
        {{t('notofication.Mandatory-field.body')}}
      </div>
      <div *ngIf="errorIn.validZip && address.country !== ''" class="cf-input-error-msg">
        {{t('global.not-ship-zip-code.text-info')}}
      </div>
    </cf-input>
  </div>
  <div *ngIf="loaded" class="d-flex justify-content-between">
    <div *ngIf="countriesPrefix" class="cf-input-container prefix">
      <countries-prefix id="add-address-prefix-input" [data]="countriesPrefix"
        (keyup)="manageInput('phonePrefix', true)" (blur)="manageInput('phonePrefix')"
        (returnData)="getCountryPrefix($event)" [selected]="address.phone.prefix"
        [error]="errorIn.phonePrefix && !address.phone.prefix">
      </countries-prefix>
      <div *ngIf="errorIn.phonePrefix && !address.phone.prefix" class="cf-input-error-msg">
        <div class="cf-input-error-icon eva eva-alert-triangle-outline"></div>
        {{t('global.mandatory-field.text-info')}}
      </div>
    </div>
    <cf-input class="phone" [error]="errorIn.phoneNumber">
      <input id="add-address-phone-input" name="phoneNumber" [(ngModel)]="address.phone.number"
        (keyup)="manageInput('phoneNumber', true)" (blur)="manageInput('phoneNumber')"
        placeholder="{{t('global.phone.text-info')}}" value="" [mask]="['XXXXXXXXXXXX']" pattern="\d*"/>
      <div *ngIf="errorIn.phoneNumber" class="cf-input-error-msg">
        {{t('global.mandatory-field.text-info')}}
      </div>
    </cf-input>
  </div>
 </div>
</ng-container>