<div *ngIf="up" class="up-history">
  <div class="block-video-container" *ngIf="videoId">
    <!-- Video -->
    <video-player class="col-12 resizable-video" [id]="videoId" [noLazyStart]="true" platform="youtube">
    </video-player>
  </div>
  <div *ngFor="let section of infoSections; let ind = index" id="{{utilsSrv.fromCamelCaseToDased(section)}}">
    <up-what-information *ngIf="[0,1,2,4].includes(ind)" [infoBlock]="up[section]" [seals]="seals" [blockName]="section"
      [upInformationReplacements]="upInformationReplacements" [categoryPicture]="up.categoryPictureUrl">
    </up-what-information>
    <up-when-information *ngIf="section ==='whenReceiveIt'"
      [infoBlock]="up[section]"
      [blockName]="section"
      [upInformationReplacements]="upInformationReplacements" 
      [availableDates]="availableDates"
      [sellingMethod]="up.sellingMethod"
      (openPopup)="openShippingCostsCalculatorPopUp()">
    </up-when-information>
    <!-- Alcohol sales information (Legal Requirements) only for whatReceive section -->
    <div *ngIf="section === 'whatReceive' && upSrv.checkOver18(up.masterBoxes)">
      <alcohol-information></alcohol-information>
    </div>
    <div *ngIf="ind !== infoSections.length - 1" class="separator-mob-smaller mt-xl mb-xl mob-mt-m mob-mb-m mob-ml-m">
    </div>
  </div>
</div>