@import '../../../../scss/colors.scss';
@import '../../../../scss/commons.scss';

.waves-container {
  position: relative;

  &-top,
  &-bottom {
    height: 95px;
    background-repeat: repeat-x;
    margin-bottom: -1px;
    background-size: cover;

    @media (max-width: map_get($grid-breakpoints, 'md')) {
      height: 70px;
    }
  }

  .wave-blue {
    &-top {
      background-image: url('/assets/icon/home/Divider-desktop-1A.svg');
      background-position: initial;

      @media (max-width: map_get($grid-breakpoints, 'md')) {
        background-image: url('/assets/icon/home/Divider-mobile-A.svg');
      }
    }

    &-bottom {
      background-image: url('/assets/icon/home/Divider-desktop-1B.svg');
      background-position: bottom;

      @media (max-width: map_get($grid-breakpoints, 'md')) {
        background-image: url('/assets/icon/home/Divider-mobile-B.svg');
      }
    }
  }

  .wave-brown {
    &-top {
      background-image: url('/assets/icon/home/Divider-desktop-2A.svg');
      background-position: initial;

      @media (max-width: map_get($grid-breakpoints, 'md')) {
        background-image: url('/assets/icon/home/Divider-mobile-2A.svg');
      }
    }

    &-bottom {
      background-image: url('/assets/icon/home/Divider-desktop-2B.svg');
      background-position: bottom;

      @media (max-width: map_get($grid-breakpoints, 'md')) {
        background-image: url('/assets/icon/home/Divider-mobile-2B.svg');
      }
    }
  }

  .bg-blue {
    background-color: #d9e8e8;
  }

  .bg-brown {
    background-color: #faf3e8;
  }
}
