<div class="select-field">
  <label class="t-black-T t-s-medium select-field__label">{{ label }}</label>
  <div class="pointer select-field__container" [ngClass]="{ focus: isFocused }" (click)="onSelectClick()">
    <div class="fake-select" [ngClass]="{ grey: !value }">{{ value || placeholder }}</div>
    <div class="arrow-icon">
      <i class="eva eva-chevron-down-outline" [@rotateState]="arrowState"></i>
    </div>
  </div>

  <ul class="options-list" *ngIf="isFocused">
    <ng-container *ngFor="let item of options">
      <li class="options-list__elem" [ngClass]="{ selected: value === item }" (click)="onOptionSelected(item)">
        <span class="t-black-T t-s-medium">{{ item }}</span>
      </li>
    </ng-container>
  </ul>
</div>
