<div class="ds-select w-100" tabindex="0" (keyup.enter)="toggleSelect()" [ngClass]="{
    'ds-select--required': required,
    'ds-select--open': selectOpen,
    'ds-select--disabled': disabled,
    'ds-select--filled': selectedOption && selectedOption.text?.length
}">
    <div class="ds-select-box w-100 pr-12 pl-12" (click)="toggleSelect()" [ngClass]="{
      'ds-select-box--s': size === 's',
      'ds-select-box--m': size === 'm',
      'ds-select-box--justify-center': justify === 'center',
      'ds-select-box--justify-start': justify === 'flex-start',
      'ds-select-box--justify-end': justify === 'flex-end',
      'ds-select-box--space-between': justify === 'space-between'
    }">
        <!-- Placeholder (if there is no label) -->
        <div 
            *ngIf="placeholder && !selectedOption"
            class="ds-select-box-placeholder d-flex align-items-center">
            <ds-icon 
              *ngIf="icon"
              name="sort"
              size="ds--size-24"
              color="content-two"
              class="d-flex mr-4">
            </ds-icon>
            <ds-icon 
                *ngIf="placeholder.flagLeft && placeholder.flagLeft?.length" 
                [country]="placeholder.flagLeft" 
                size="ds--size-24"
                class="d-flex mr-4">
            </ds-icon>
            <ds-icon 
                *ngIf="placeholder.methodLeft && placeholder.methodLeft?.length" 
                [method]="placeholder.methodLeft" 
                size="ds--size-24"
                class="d-flex mr-4">
            </ds-icon>
            <ds-icon 
                *ngIf="placeholder.iconLeft && placeholder.iconLeft?.length" 
                [name]="placeholder.iconLeft" 
                size="ds--size-24"
                class="d-flex mr-4">
            </ds-icon>
            <span class="mr-4" [ngClass]="{
              't-component-semibold-s': size === 's',
              't-component-semibold-m': size === 'm'
            }">{{ placeholder.text }}</span>
            <span 
                *ngIf="placeholder.details && placeholder.details?.length" 
                class="ds-select-box-placeholder-details t-component-regular-m">
                {{ placeholder.details }}
            </span>
        </div>

        <!-- Selected option -->
        <div 
            *ngIf="selectedOption && selectedOption.text?.length" 
            class="ds-select-box-selected-option d-flex align-items-center" 
            [ngClass]="{
            'ds-select-box-selected-option--disabled': selectedOption.disabled
        }">
            <ds-icon 
              *ngIf="icon"
              name="sort"
              size="ds--size-24"
              color="content-two"
              class="d-flex mr-4">
            </ds-icon>
            <ds-icon 
                *ngIf="selectedOption.flagLeft && selectedOption.flagLeft?.length" 
                [country]="selectedOption.flagLeft" 
                size="ds--size-24"
                class="d-flex mr-4">
            </ds-icon>
            <ds-icon 
                *ngIf="selectedOption.methodLeft && selectedOption.methodLeft?.length" 
                [method]="selectedOption.methodLeft" 
                size="ds--size-24"
                class="d-flex mr-4">
            </ds-icon>
            <ds-icon 
                *ngIf="selectedOption.iconLeft && selectedOption.iconLeft?.length" 
                [name]="selectedOption.iconLeft" 
                size="ds--size-24"
                class="ds-select-box-icons-icon d-flex mr-4">
            </ds-icon>
            <span class="mr-4" [ngClass]="{
              't-component-semibold-s': size === 's',
              't-component-semibold-m': size === 'm'
            }">{{ selectedOption.text }}</span>
            <span 
                *ngIf="selectedOption.details && selectedOption.details?.length" 
                class="ds-select-box-selected-option-details t-component-regular-m">
                {{ selectedOption.details }}
            </span>
        </div>

        <ds-icon class="ds-select-box-icons-chevron" name="expand" size="ds--size-24" color="content-two"></ds-icon>
    </div>

    <!-- All options -->
    <div 
        *ngIf="selectOpen"
        class="ds-select-options w-100 pt-8 pb-8"
        tabindex="-1"
        [ngClass]="{upwards: direction === 'up'}"
    >
        <div *ngFor="let option of options; let id = index"
                class="ds-select-options-option w-100"
                tabindex="0"
                [ngClass]="{
                    'ds-select-options-option--selected': selectedOption === option,
                    'ds-select-options-option--disabled': option.disabled
                }"
                (click)="selectOption(option)"
                (keyup.enter)="selectOption(option)">
            <input class="hidden" type="radio" [id]="id" name="select">
            <label 
                class="t-component-regular-m w-100 h-100 pl-12 pr-12 d-flex align-items-center justify-content-between" 
                [id]="id" 
                [for]="id">
                <div class="ds-select-options-option-content-left d-flex align-items-center">
                    <ds-icon 
                        *ngIf="option.flagLeft && option.flagLeft?.length" 
                        class="mr-4 d-flex" 
                        size="ds--size-24" 
                        [country]="option.flagLeft">
                    </ds-icon>
                    <ds-icon 
                        *ngIf="option.methodLeft && option.methodLeft?.length" 
                        class="mr-4 d-flex" 
                        size="ds--size-24" 
                        [method]="option.methodLeft">
                    </ds-icon>
                    <ds-icon 
                        *ngIf="option.iconLeft && option.iconLeft?.length" 
                        class="mr-4 d-flex" 
                        size="ds--size-24" 
                        [name]="option.iconLeft">
                    </ds-icon>

                    <span class="ds-select-options-option-text mr-4">{{ option.text }}</span>
                    <span class="ds-select-options-option-details t-component-regular-m">{{ option.details }}</span>
                </div>

                <div class="ds-select-options-option-content-right t-component-regular-m d-flex">
                    <ds-icon 
                        *ngIf="selectedOption === option" 
                        size="ds--size-24" 
                        name="radio-button-check" 
                        class="d-flex">
                    </ds-icon>
                </div>
            </label>
        </div>
    </div>

</div>

<!-- Required message -->
<div *ngIf="required" class="ds-select-required-msg t-component-regular-xs mt-8 d-flex align-items-center">
    <ds-icon class="ds-select-required-msg-icon mr-4" name="alert-triangle" size="ds--size-16"></ds-icon>
    <span class="ds-select-required-msg-text"> 
        {{ required }}
    </span>
</div>