@import '@crowdfarming/ds-library/src/styles/global';

.catalogue-wrapper {
  padding-top: 32px;

  .title {
    color: $ds--color-primary-88;
  }

  .catalogue-container {
    margin-top: 16px;

    @include bp(device-s) {
      margin-top: 24px;
    }

    @include bp(device-l) {
      margin-top: 32px;
    }
  }

  &__grid--adoptions {
    display: grid;
    gap: 24px;
    grid-template-columns: repeat(1, 1fr);

    @include bp(device-s) {
      grid-template-columns: repeat(2, 1fr);
    }

    @include bp(device-m) {
      grid-template-columns: repeat(3, 1fr);
    }

    @include bp(device-l) {
      gap: 32px;
    }
  }

  &__grid--boxes {
    display: grid;
    gap: 24px;
    grid-template-columns: repeat(1, 1fr);

    @include bp(device-s) {
      grid-template-columns: repeat(2, 1fr);
    }

    @include bp(device-m) {
      grid-template-columns: repeat(3, 1fr);
    }

    @include bp(device-l) {
      gap: 32px;
      grid-template-columns: repeat(4, 1fr);
    }
  }

  ds-pagination {
    margin-top: 48px;
    margin-bottom: 80px;
    display: flex;
    justify-content: center;
  }
}
