<div *transloco="let t" [ngClass]="{'open': isOpen}" class="accordion-gift d-flex align-items-center pl">
  <div class="accordion-gift-header d-flex justify-content-between align-items-center" (click)="toggleOpen()">
    <gift-chip *ngIf="data.header.gift" [message]="message"></gift-chip>
    <span *ngIf="data.header.title">{{data.header.title}}</span>
    <span [ngClass]="isOpen ? 'eva-chevron-up-outline': 'eva-chevron-down-outline'" class="arrow-open"></span>
  </div>
  <div class="accordion-gift-body">
    <ng-container *ngFor="let item of data.body">
      <div *ngIf="isOpen" class="d-block w-100 mv-m">
        <span *ngIf="item.content.info" class="fw5 text-black mv-xs">{{t(item.title)}}</span>
        <span [ngClass]="{'font-italic': item.content.italic}" class="font-weight-light text-grey">{{item.content.info}}</span>
        <span *ngIf="item.content.extraInfo" class="font-weight-light text-grey">{{item.content.extraInfo}}</span>
      </div>
    </ng-container>
  </div>
</div>