@import '../../../scss/commons.scss';

cross-selling-popover {
  transition: right 0.7s ease, opacity 0.4s ease 0.2s;
  position: fixed;
  z-index: 210;
  right: -50%;
  opacity: 0.3;
  top: 0;

  @media (max-width: map_get($grid-breakpoints, 'md')) {
    transition: top 0.7s ease-in, opacity 0.4s ease-in 0.2s;
    right: 0;
    top: 100%;
  }

  &.popover-is-open {
    right: 0;
    opacity: 1;

    @media (max-width: map_get($grid-breakpoints, 'md')) {
      top: 70px;
    }
  }

  .cross-selling- {
    &popover {
      background: map_get($color, 'white-1');
      border-radius: 5px;
      width: 504px;
      height: 100vh;
      overflow: auto;
      color: map_get($color, 'black-2');

      @media (max-width: map_get($grid-breakpoints, 'md')) {
        width: 100vw;
        padding-bottom: 148px;
      }
    }

    &cart {
      margin: 47px 16px 0;
      box-shadow: 0 0 4px rgba(4, 37, 34, 0.12), 0 2px 4px rgba(4, 37, 34, 0.16);
      border-radius: 8px;

      @media (max-width: map_get($grid-breakpoints, 'md')) {
        margin: 47px 0 0;
        padding-bottom: 16px;
      }
    }

    &info {
      display: flex;
    }

    &image {
      background-position: center;
      background-size: cover;
      border-radius: 5px;
      height: 168px;
      min-width: 168px;

      @media (max-width: map_get($grid-breakpoints, 'md')) {
        height: 88px;
        min-width: 88px;
      }
    }

    &container {
      text-align: left;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      display: flex;
      flex-flow: column;
      justify-content: space-between;
      flex-grow: 1;
    }

    &name {
      color: map_get($color, 'primary');
      font-weight: 500 !important;
    }

    &number {
      display: flex;
      justify-content: space-between;
      align-items: center;

      &-boxes {
        color: rgba(121, 131, 143, 0.9);
      }

      margin-bottom: 16px;

      @media (max-width: map_get($grid-breakpoints, 'md')) {
        margin-bottom: 0;
      }
    }

    &close {
      position: absolute;
      z-index: 10;
      background-color: map_get($color, 'white-1');
      color: map_get($color, 'black-1');
      height: 45px;
      font-size: 24px;
      width: 100%;
      justify-content: end;

      .fa {
        font-size: 14px;
      }

      &-icon {
        cursor: pointer;
        margin: 0 8px;
      }
    }
  }

  .lateral-cs-container {
    width: 100%;
    padding: 0 32px;
    margin-top: 24px;
    margin-right: auto;
    margin-left: auto;

    @media (max-width: map_get($grid-breakpoints, 'md')) {
      padding: 0 16px;
    }
  }
}
