@import '../../../scss/colors.scss';
@import '../../../scss/variables.scss';

.landing {
  .header {
    margin-top: 30px;

    @media (min-width: map_get($grid-breakpoints, 'md')) {
      margin-top: 50px;
    }
  }

  .feedback {
    margin-bottom: 50px;
  }

  .social-screenshots {
    .screenshot {
      border-radius: 5px;
      box-shadow: 0 5px 10px -1px $boxShadow;
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
      width: 100%;
      height: 0;
      padding-bottom: 49%;
    }

    &-mbl {
      .screenshot {
        border-radius: 5px;
        box-shadow: 0 5px 10px -1px $boxShadow;
        width: 100%;
        margin-bottom: 10px;
        margin-top: 20px;
      }
    }
  }

  .video-info-container {
    padding: 0;
    position: relative;
    margin-bottom: 80px;
    margin-top: 60px;

    @media (max-width: map_get($grid-breakpoints, 'sm')) {
      padding: 0;
      width: 100%;
      margin-bottom: 60px;
      margin-top: 40px;
    }

    @media (min-width: 1500px) {
      width: 100%;
    }
  }
}
