<section class="ec-detail-skeleton">
  <section class="ec-detail__main-data">
    <div class="ec-detail__left ec-skeleton"></div>
    <div class="ec-detail__data">
      <div class="ec-detail-skeleton__title ec-skeleton"></div>
      <div class="ec-detail-skeleton__sub ec-skeleton"></div>
      <div class="ec-detail-skeleton__btn ec-skeleton"></div>
    </div>
  </section>
  <section class="ec-detail__main-data">
    <div class="ec-detail__left">
      <div class="ec-detail-skeleton__item">
        <div class="ec-detail-skeleton__item-name ec-skeleton"></div>
        <div class="ec-detail-skeleton__item-arrow ec-skeleton"></div>
      </div>
      <div class="ec-detail-skeleton__item">
        <div class="ec-detail-skeleton__item-name ec-skeleton"></div>
        <div class="ec-detail-skeleton__item-arrow ec-skeleton"></div>
      </div>
      <div class="ec-detail-skeleton__item">
        <div class="ec-detail-skeleton__item-name ec-skeleton"></div>
        <div class="ec-detail-skeleton__item-arrow ec-skeleton"></div>
      </div>
    </div>
  </section>
</section>
