@import '../../../scss/commons.scss';
@import '../../../scss/carousel.scss';

.projects-agroupments {
  &__header {
    text-align: center;
    margin-top: 40px;

    h2 {
      color: map_get($color, 'black-4');
      font-weight: 800;
      font-size: 40px;
      line-height: 48px;
      letter-spacing: -0.6px;
    }

    h3 {
      color: map_get($color, 'grey-11');
      font-weight: 800;
      font-size: 20px;
      line-height: 32px;
      letter-spacing: -0.4px;
    }
  }

  &__cards-slider {
    overflow: hidden;

    &--animate {
      transition: transform 0.5s linear;

      @media (max-width: map_get($grid-breakpoints, 'lg')) {
        width: 100%;
        padding-bottom: 20px;
        overflow-x: scroll;
        overflow-y: hidden;
      }
    }
  }

  cf-arrow {
    background-color: transparent;

    i {
      font-size: 40px;
    }

    .cf-arrow-arrow {
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }

  &__cards-slider-controls {
    & button {
      border: none;
      outline: none;
      border-radius: 100%;
      width: 48px;
      height: 48px;
      color: map_get($color, 'black-2');
    }
  }

  &__cards-container {
    overflow: hidden;
  }

  &__project-card {
    @media (min-width: 576px) and (max-width: 767px) {
      margin-bottom: 30px;
    }
  }

  &__no-results-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;

    & img {
      max-width: 400px;
    }
  }
}

.arrow-hide {
  opacity: 0;
  visibility: hidden;
}
