@import '../../../../scss/colors.scss';
@import '../../../../scss/variables.scss';

.thanks-page {
  max-width: 1440px;
  margin: auto;
  padding: 64px 160px;

  @media (max-width: map_get($grid-breakpoints, 'md')) {
    padding: 40px 16px;
  }

  .info {
    max-width: 544px;

    .brand {
      .logo {
        font-size: 57px;
        margin-right: 5px;
      }
    }

    .header {
      margin-top: 25px;

      @media (max-width: map_get($grid-breakpoints, 'md')) {
        font-size: 22px;
        line-height: 28px;
      }
    }

    .text {
      @media (max-width: map_get($grid-breakpoints, 'md')) {
        font-size: 16px;
        line-height: 24px;
      }
    }
  }

  & .cs-title {
    padding-left: 16px;

    @media (max-width: map_get($grid-breakpoints, 'md')) {
      padding-left: 20vw;
    }
  }

  & .cs-promos {
    flex-wrap: nowrap;
    overflow-x: auto;

    @media (max-width: map_get($grid-breakpoints, 'md')) {
      margin: 0 -12px;

      .first {
        padding-left: 20vw;
      }
    }

    & cross-selling-promo {
      @media (max-width: map_get($grid-breakpoints, 'md')) {
        width: 224px;
      }
    }
  }

  img {
    width: 316px;
    margin-right: 146px;

    @media (max-width: map_get($grid-breakpoints, 'md')) {
      width: 100%;
      margin-right: 0;
    }
  }
}
