@import '../../../scss/variables.scss';
@import '../../../scss/colors.scss';

.checkout-product-container {
  position: relative;
}

.subscription-toogle {
  border: 1px solid map_get($color, 'grey-2');
  padding: 16px;
  border-radius: 4px;
}

.product {
  &-img {
    width: 100%;
    position: relative;
    border-radius: 5px 5px 0 0;
    max-height: 168px;

    @media (min-width: map_get($grid-breakpoints, 'md')) {
      border-radius: 5px;
      max-height: 100%;
    }

    &.filter {
      img {
        filter: grayscale(100%);
      }
    }

    img {
      object-fit: cover;
    }
  }

  &-price {
    @media (min-width: map_get($grid-breakpoints, 'md')) {
      position: absolute;
      right: 15px;
      bottom: 15px;
    }
  }

  &-main {
    border-radius: 5px;

    &__header {
      background: map_get($color, 'grey-1');
      padding: 16px;

      .eva-chevron-down-outline {
        font-size: 18px;
        transform: rotate(0deg);
        transition: transform 0.25s ease-in-out;

        &.rotate {
          transform: rotate(180deg);
        }
      }
    }

    &__detail {
      background-color: #fff;
      border: 2px solid map_get($color, 'grey-1');

      &-container {
        padding: 16px;
      }
    }
  }

  &-delivery {
    position: relative;
    display: inline-flex;
  }

  &-boxes {
    .select-masterboxes-selector {
      display: inline-flex;

      .mb-not-available {
        cursor: no-drop;
        color: map_get($color, 'grey-13');
        background-color: map_get($color, 'white-1');
      }
    }
  }
}
