<ng-container *transloco="let t">
  <div class="copy-clipboard-input">
    <div class="d-flex align-items-center justify-content-between">
      <div class="copy-clipboard-input__text">
        <p class="t-black-T t-s-medium nom nop">{{ copyText }}</p>
      </div>
      <div class="copy-clipboard-input__icon">
        <i
          class="eva eva-copy-outline t-h4-regular pointer"
          aria-hidden="true"
          [copyToClipboard]="copyText"
          (mouseover)="onMouseOver()"
          (mouseleave)="onMouseLeave()"></i>
        <div class="tooltip" [ngClass]="{ active: showTooltip }">
          <span class="tooltip__text">{{ t('notifications.copy-link.text-info') }}</span>
        </div>
      </div>
    </div>
  </div>
</ng-container>
