<div class="ilustration" *ngIf="!isMobile && showIlustration"></div>
<div *transloco="let t" class="col-9 m-auto nop">
  <h2 class="title t-h2-blackW t-a-center t-black-T d-block nom  pt-4 mt-md-0">
    {{t(title)}}
  </h2>

  <div class=" row pt-xl mob-pt-s" id="market-cards-icons">
    <div *ngFor="let card of cards; let i=index" class="card-container col-12 col-md-3 my-3 my-md-0">
      <div class="info-how-section-content col-12 text-center">
        <img class="pb-m" [src]="card.img" alt="{{t(card.text)}}"/>
        <div class="texts">
          <p class="count d-lg-block t-h3-bold t-primary-T t-a-center nom">
            {{this[card.title] | number }}
          </p>
          <p class="t-m-medium t-black-T t-a-center nom fw-lighter">
            {{t(card.text)}}
          </p>
        </div>
      </div>
    </div>
  </div>
</div>