@import '../../../../../scss/commons';

.small-video {
  padding-right: 25%;
  padding-left: 25%;

  @media (max-width: map_get($grid-breakpoints, 'md')) {
    padding-right: 7%;
    padding-left: 7%;
  }
}

video-player {
  padding-bottom: 0;
  display: inline-table;
  margin-bottom: 5%;
}
