<button
  class="ec-btn"
  [type]="buttonType"
  [disabled]="!!disabled"
  [ngStyle]="inlineStyles"
  [ngClass]="['ec-btn-' + type, className]"
  (click)="onClick($event)">
  <ng-container *ngIf="initSvgIcon">
    <img class="svgIcon" [src]="initSvgIcon" />
  </ng-container>
  <ng-container *ngIf="initClassIcon">
    <i class="eva {{ initClassIcon }}" aria-hidden="true"></i>
  </ng-container>
  <span *ngIf="label">{{ label }}</span>
  <!-- Custom content -->
  <ng-content></ng-content>
</button>
