<!-- Subscribe popover form -->
<!-- Add *ngIf="farmers.length === 0 && !isStoreBannerActive" if subscribe popover hidden when banner is showed -->
<form #subscribe *ngIf="farmers.length === 0" class="newsletter-popover" [ngClass]="{init: init, unfolded: showTexts }"
  [ngStyle]="{'bottom': (isStoreBannerActive && (deviceInfo.os === 'iOS' || deviceInfo.os === 'Android')) && '85px'}">
  <div class="popover-close pointer" (click)="closeWithAnimation(true)">
    <i class="eva eva-close-outline" aria-hidden="true"></i>
  </div>
  <div class="header d-flex flex-row flex-md-column">
    <div class="col-2 col-md-12 d-flex justify-content-center align-items-start logo-block">
      <i class="cf-icon-crowdfarming-bold" aria-hidden="true"></i>
    </div>
    <div class="col-9 col-md-12 d-flex justify-content-start title-block nop mbm">
      {{textSrv.getText('Never miss a story')}}
    </div>
  </div>
  <div *ngIf="showTexts" class="form-block">
    <div class="subtitle-block">{{textSrv.getText('Get farmers news')
      }}</div>
    <div class="row-no-margin mt-s">
      <cf-input class="col-12 col-no-padding" [error]="formErrors.name">
        <input name [value]="crowdfarmer.name" (input)="crowdfarmer.name = $event.target.value"
          placeholder="{{textSrv.getText('Your name')}}" (blur)="minLengthIsValid('name', true)"
          (keyup)="minLengthIsValid('name')"/>
        <div class="cf-input-error-msg" *ngIf="formErrors.name">
          {{textSrv.getText('Must be between 1 and 30 char')}}
        </div>
      </cf-input>
      <div class="col-12 col-no-padding">
        <cf-input [error]="formErrors.email">
          <input email [value]="crowdfarmer.email" (input)="crowdfarmer.email = $event.target.value"
            placeholder="{{textSrv.getText('Email')}}" (blur)="emailIsValid(true)" autocomplete="off"
            (keyup)="emailIsValid()" />
          <div *ngIf="formErrors.email" class="cf-input-error-msg">
            {{crowdfarmer.email.length <= 0 ? textSrv.getText('Must be between 1 and 30 char') :
              textSrv.getText('invalid email')}} </div>
        </cf-input>
      </div>
    </div>
  </div>
  <!-- Privacy -->
  <div *ngIf="showTexts" class="mb-m">
    <cf-check [(checked)]="privacy" (checkedChange)="privacyIsValid()"
      [colour]="formErrors.privacy ? 'red' : 'grey'">
    </cf-check>
    <span class="t-s-regular nom pb-s privacy-text" [innerHTML]="utilsSrv.getPrivacyText()"
      [ngClass]="{'red' : formErrors.privacy}" >
    </span>
  </div>
  <!-- Subscribe -->
  <div class="d-flex justify-content-center mt-m">
    <cf-button (click)="registerEmail()" [width]="'auto'" [id]="'subscuption-add-to-cart-btn'"
      [clickedEffect]="domSrv.getIsDeviceSize() ? 'no-effect' : ''">
      {{textSrv.getText('subscribe')}}
    </cf-button>
  </div>
</form>
<!-- Subscribe popover success -->
<div *ngIf="farmers.length > 0" class="newsletter-popover unfolded success"
  [ngStyle]="{'marginBottom': (isStoreBannerActive && (deviceInfo.os === 'iOS' || deviceInfo.os === 'Android')) && '85px'}">
  <div class="popover-close pointer" (click)="onClose()">
    <i class="eva eva-close-outline" aria-hidden="true"></i>
  </div>
  <div class="header d-flex flex-row flex-md-column">
    <div class="col-2 col-md-12 d-flex justify-content-center align-items-start logo-block">
      <i class="cf-icon-crowdfarming-bold" aria-hidden="true"></i>
    </div>
    <div class="col-9 col-md-12 d-flex justify-content-start title-block nop mbm"
      [ngClass]="{'success': farmers.length > 0}">
      {{textSrv.getText('Successfully subscribed')}}
    </div>
  </div>
  <div class="form-block mbm">
    <div class="subtitle-block">
      {{textSrv.getText('Thank you very much for your interest in CrowdFarming')}}
    </div>
  </div>
  <div class="row justify-content-around mts mbb farmers-block">
    <div *ngFor="let farmer of farmers; let id = index" class="col-5 text-center mts nop" [ngClass]="{'hidden': id >= 4 }">
      <div class="row justify-content-center align-items-center h-100 farmer-point">
        <img src="{{farmer.farmerPicture}}" alt="farmer picture"/>
        <div class="col-12 text-truncate mts name-text">
          {{farmer.farmerName}}
        </div>
        <br />
        <div class="col-12 text-capitalize text-truncate product-text" (click)="farmerNavigate(id)">
          {{(farmer | translation:'upVariety')}}
        </div>
      </div>
    </div>
  </div>
</div>
