<agroupment-component
  *ngIf="agroupments?.top"
  [isLoading]="farmersMarketSrv.getIsTopAgroupmentLoading()"
  [agroupment]="agroupments.top"
  [type]="type"
  [path]="FavSectionFM">
</agroupment-component>
<ng-container *transloco="let t">
  <section *ngIf="ecommerceBannerAvailable && type === PROJECT_TYPE.BOXES" #ecommerceBanner>
    <cf-banner-custom-box
      [title]="t('page.create-your-box.title')"
      [description]="t('page.create-your-box.body')"
      [labelEvent]="t('page.start-now.button')"
      (goTo)="navigateToEcommerce()">
    </cf-banner-custom-box>
  </section>
</ng-container>
<agroupment-component
  *ngIf="agroupments?.bottom"
  [isLoading]="farmersMarketSrv.getIsBottomAgroupmentLoading()"
  [agroupment]="agroupments.bottom"
  [type]="type"
  [path]="FavSectionFM">
</agroupment-component>
