<div *transloco="let t" class="price-summary">
  <div class="price-summary__row">
    <div class="row align-items-center justify-content-between">
      <div class="col-auto">
        <p class="t-black-T price-label">{{t('page.crowdgiving-donation-value.label')}}</p>
      </div>
      <div class="col-auto">
        <p class="t-black-T price-label">{{ price | currency }}</p>
      </div>
    </div>
  </div>

  <div class="price-summary__row">
    <div class="row align-items-center justify-content-between">
      <div class="col-auto">
        <div class="d-flex align-items-center">
          <p class="credit-label mr-2">{{t('global.credit.text-info')}}</p>
          <custom-tooltip [borderBottom]="false">
            <ng-container target>
              <i class="eva eva-info-outline info-icon"></i>
            </ng-container>
            <ng-container dialog>
              <span class="t-s-regular t-black-H text-left nom">
                {{ t('page.crowdgiving-credit.text-info') }}
              </span>
            </ng-container>
          </custom-tooltip>
        </div>
      </div>
      <div class="col-auto">
        <p class="credit-label">{{ credits | currency }}</p>
      </div>
    </div>
  </div>
</div>