<div *ngIf="!sentMessage" class="contact-form">
  <div class="intro d-flex">
    <div class="first-block d-flex flex-column col-12 col-md-8">
      <div class="header t-d2-blackW t-black-H">
        {{textSrv.getText('we would like to help you')}}
      </div>
      <div class="text t-l-medium t-grey" [innerHTML]="textSrv.getText('values of')">
      </div>
    </div>
    <div class="second-block flex-column col-4 d-none d-md-flex">
      <div class="illustration">
        <img class="" src="{{env.domain}}/assets/img/contact/letter.svg" alt=""/>
      </div>
      <div class="help-center d-flex flex-column align-items-start t-l-bold t-black-H">
        {{textSrv.getText('you can also find')}}
        <cf-button [width]="'auto'" (click)="openHelpdocs()" href="{{textSrv.getText('Helpdocs_support_CrowdFarming')}}"
          class="mob-mt-s mt-m">
          <i class="fa fa-search mr-s" aria-hidden="true"></i>
          {{textSrv.getText('help center')}}
        </cf-button>
      </div>
    </div>
  </div>
  <div class="cards-row cards-row d-flex flex-column flex-md-row justify-content-between">
    <ng-container *ngFor="let card of cards; index as id">
      <div *ngIf="card.showApp" class="card cf-shadow-s d-flex flex-column align-items-center">
        <i *ngIf="!domSrv.getIsDeviceSize()" class="icon" [ngClass]="card.icon">
        </i>
        <div class="d-flex w-100 align-items-center justify-content-md-center">
          <i *ngIf="domSrv.getIsDeviceSize()" class="icon mr-m" [ngClass]="card.icon">
          </i>
          <div class="question t-l-bold t-black-H">
            {{textSrv.getText(card.question)}}
          </div>
          <i *ngIf="domSrv.getIsDeviceSize()" (click)="showCardText(id)" class="icon eva"
            [ngClass]="card.showText ? 'eva-minus-outline' : 'eva-plus-outline'">
          </i>
        </div>
        <div *ngIf="!domSrv.getIsDeviceSize() || card.showText" [innerHTML]="textSrv.getText(card.answer)"
          class="answer t-m-regular t-grey mob-mt-l mt-s">
        </div>
      </div>
    </ng-container>
  </div>
  <div class="form d-flex flex-wrap">
    <div class="col-12 title t-xl-bold t-black-H d-flex mob-mb-l mb-xl justify-content-center">
      {{textSrv.getText('contact form')}}
    </div>
    <div class="dropdown mt-m mb-s">
      <cf-select [placeholder]="textSrv.getText('Choose a subject') + '*'" [optionsValue]="subjects"
        [optionsShow]="translatedSubjects" [(selected)]="pickedSubject" [whiteSelect]="true"
        (selectedChange)="changeSubject()" [error]="errorIn.subject">
      </cf-select>
      <div *ngIf="errorIn.subject" class="cf-input-error-msg">
        <div class="cf-input-error-icon eva eva-alert-triangle-outline">
        </div>
        {{textSrv.getText('Must be between 1 and 30 characters')}}
      </div>
    </div>
    <cf-input *ngIf="!pickedSubject || !goToPrivateZoneOptions.includes(pickedSubject)" class="mt-m" [error]="errorIn?.name">
      <input id="contact-name-input" name="name" [value]="contactInfo?.name"
        (input)="contactInfo.name = $event.target.value" placeholder="{{textSrv.getText('name')}}*" maxlength="30"
        (keyup)="minLengthIsValid('name')"/>
      <div *ngIf="errorIn?.name" class="cf-input-error-msg">
        {{textSrv.getText('Must be between 1 and 30 characters')}}
      </div>
    </cf-input>
    <cf-input *ngIf="!pickedSubject || !goToPrivateZoneOptions.includes(pickedSubject)" class="mt-m" [error]="errorIn.surname">
      <input id="contact-surname-input" name="surname" [value]="contactInfo.surname"
        (input)="contactInfo.surname = $event.target.value" placeholder="{{textSrv.getText('surnames')}}*"
        maxlength="30" (keyup)="minLengthIsValid('surname')"/>
      <div *ngIf="errorIn.surname" class="cf-input-error-msg">
        {{textSrv.getText('Must be between 1 and 30 characters')}}
      </div>
    </cf-input>
    <div *ngIf="(pickedSubject && !goToPrivateZoneOptions.includes(pickedSubject)); else goToPrivate">
      <cf-input class="mt-m" [error]="errorIn.email">
        <input id="contact-email-input" name="email" [value]="contactInfo.email"
          (input)="contactInfo.email = $event.target.value" placeholder="{{textSrv.getText('email')}}*"
          (keyup)="emailIsValid()"/>
        <div *ngIf="errorIn.email" class="cf-input-error-msg">
          {{contactInfo.email.length > 64 ? textSrv.getText('Must be between 1 and 64 characters') : textSrv.getText('your email is invalid')}}
        </div>
      </cf-input>
      <div *ngIf="isPhoneNumberSubject" class="w-100 d-flex flex-wrap">
        <div class="prefix col-3 mt-m">
          <countries-prefix *ngIf="countries" id="contact-country-input" class="" [data]="countries" [mandatory]="true"
            (returnData)="pickCountry($event)" [selected]="contactInfo.phone.prefix" [error]="errorIn.prefix">
          </countries-prefix>
          <div *ngIf="errorIn.prefix" class="cf-input-error-msg">
            <div class="cf-input-error-icon eva eva-alert-triangle-outline">
            </div>
            {{textSrv.getText('Must be between 1 and 30 characters')}}
          </div>
        </div>
        <cf-input class="col-9 mt-m" [error]="errorIn.phone.number">
          <input id="contact-phone-input" name="phone" [value]="contactInfo.phone.number"
            (input)="contactInfo.phone.number = $event.target.value" placeholder="{{textSrv.getText('phone')}}*"
            maxlength="30"/>
          <div *ngIf="errorIn.phone.number" class="cf-input-error-msg">
            {{textSrv.getText('Must be between 1 and 30 characters')}}
          </div>
        </cf-input>
        <cf-input class="mt-m" [error]="errorIn.visitors">
          <input id="contact-visitors-input" name="visitors" [value]="contactInfo.visitors"
            (input)="contactInfo.visitors = $event.target.value" placeholder="{{textSrv.getText('number of visitors')}}*"
            maxlength="30"/>
          <div *ngIf="errorIn.visitors" class="cf-input-error-msg">
            {{textSrv.getText('Must be between 1 and 30 characters')}}
          </div>
        </cf-input>
      </div>
      <cf-input class="mt-m message" [error]="errorIn.message" [textarea]="true">
      <textarea id="contact-message-input" name="message" [(ngModel)]="contactInfo.message" maxlength="1000"
        placeholder="{{textSrv.getText('your message')}}*" (keyup)="minLengthIsValid('message')" class="message"
        type="text">
      </textarea>
        <span class="textarea-content">{{contactInfo.message.length + '/1000'}}</span>
        <div *ngIf="errorIn.message" class="cf-input-error-msg">
          {{textSrv.getText('Required field')}}
        </div>
      </cf-input>
      <div *ngIf="isAttachFilesSubject" class="w-100">
        <cf-input *ngFor="let index of filesIndex" class="w-100 upload-container-box" [ngClass]="{'error': fileError.id === index}">
          <input class="upload-upload-button" (change)="manageFile($event, index)" type="file" [id]="'contact-file-' + index">
          <label class="upload-upload-label d-flex justify-content-between align-items-center"
            [for]="!(contactInfo.imageUrls[index - 1] || index === 0) ? '':'contact-file-' + index">
          <span class="overflow-text mr-m">
            {{contactInfo.imageUrls[index] ? contactInfo.imageUrls[index]?.name : textSrv.getText('Attach a file')}}
          </span>
            <div class="upload-upload-icon flex-center mr-s" [ngClass]="{'disabled': !(contactInfo.imageUrls[index - 1] || index === 0)}">
              <i class="eva eva-upload-outline" aria-hidden="true">
              </i>
            </div>
          </label>
          <div class="upload-upload-icon flex-center ml-s" (click)="removeFile(index)" [ngClass]="{'disabled': !(contactInfo.imageUrls[index - 1] || index === 0)}">
            <i class="eva eva-trash-2-outline" aria-hidden="true"></i>
          </div>
          <div class="cf-input-error-msg" *ngIf="fileError.id === index && fileError.error === 'format'">
            <i class="cf-input-error-icon eva eva-alert-triangle-outline"></i>
            {{textSrv.getText('File format not supported')}}
          </div>
          <div class="cf-input-error-msg" *ngIf="fileError.id === index && fileError.error === 'size'">
            <i class="cf-input-error-icon eva eva-alert-triangle-outline"></i>
            {{textSrv.getText('Photo size must be less than 10Mb')}}
          </div>
        </cf-input>
      </div>
      <div class="d-flex mt-m mb-l t-m-regular text-grey">
        <cf-check id="contact-privacy-check" [(checked)]="privacy" [colour]="privacyError ? 'red' : ''" (checkedChange)="privacyIsValid()">
        </cf-check>
        <div class="privacy-text w-100 pt-s" [innerHTML]="utilsSrv.getPrivacyText()" [ngClass]="privacyError ? 'red' : ''">
        </div>
      </div>
      <div class="d-flex mb-l t-m-regular text-grey">
        <cf-check [(checked)]="sendCopy"></cf-check>
        <div class="privacy-text w-100 pt-s">
          {{textSrv.getText('Send a copy to your email')}}
        </div>
      </div>
      <cf-button [width]="'auto'" (click)="saveContact()" [disabled]="isLoading">
        {{textSrv.getText('Send')}}
      </cf-button>
    </div>
    <ng-template #goToPrivate>
      <div *ngIf="pickedSubject" class="w-100 d-flex flex-column align-items-center">
        <div class="order-incident-text t-body-m text-center mh-m mb-l mt-xl">
          {{textSrv.getText(user ? 'page.contact-form-order-incident.body' : 'page.contact-form-order-incident-login.body')}}
        </div>
        <cf-button [width]="'fit'" [size]="'m'" (click)="orderIncidentAction()">
          {{textSrv.getText(user ? 'page.go-to-orders.button' : 'page.go-to-login.button')}}
        </cf-button>
      </div>
    </ng-template>
  </div>
</div>

<div *ngIf="sentMessage" class="sent-message">
  <div class="container mt-xxl sent-message-text">
    <div class="message">
      <div class="header t-d2-blackW t-black-H">
        {{textSrv.getText('contact message sent header')}}
      </div>
      <div class="t-l-medium mob-t-m-medium t-grey" [innerHTML]="textSrv.getText('contact message sent text')">
      </div>
    </div>
    <div class="image">
      <img src="{{env.domain}}/assets/img/contact/letter.svg" alt="">
    </div>
  </div>

  <blog-block *ngIf="sentMessage && blogPosts?.length > 0" [blogPosts]="blogPosts" class="mt-m"></blog-block>

  <div *ngIf="sentMessage && csParams.country && isCsActive" class="container mb-xxl cross-selling">
    <cross-selling-block-component
      [params]="csParams"
      [specifications]="csSpecifications"
      (crossSellingProductAdded)="addedCrossSelling()">
    </cross-selling-block-component>
  </div>
</div>
