@import '../../../scss/commons.scss';

.contact-form {
  max-width: 1444px;
  margin: auto;
  padding: 112px 160px 80px 160px;

  @media (max-width: map_get($grid-breakpoints, 'md')) {
    padding: 24px 16px 64px 16px;
  }

  .intro {
    margin-bottom: 48px;

    .first-block {
      .header {
        @media (max-width: map_get($grid-breakpoints, 'md')) {
          font-size: 25px;
          line-height: 1.28;
        }
      }

      .text {
        margin-top: 72px;

        @media (max-width: map_get($grid-breakpoints, 'md')) {
          margin-top: 32px;
          font-size: 16px;
          line-height: 1.5;
        }
      }
    }

    .second-block {
      .help-center {
        border-left: 1px solid map_get($color, 'grey-7');
        padding-left: 24px;

        i {
          font-size: 24px;
        }
      }
    }
  }

  .cards-row {
    margin-bottom: 52px;

    @media (max-width: map_get($grid-breakpoints, 'md')) {
      margin-bottom: 32px;
    }

    .card {
      width: 100%;

      @media (max-width: map_get($grid-breakpoints, 'md')) {
        max-width: none;
      }

      max-width: 352px;
      padding: 16px;
      border-radius: 5px;
      position: relative;
      margin-bottom: 16px;

      .eva {
        font-size: 40px;

        @media (max-width: map_get($grid-breakpoints, 'md')) {
          font-size: 24px;

          &.eva-minus-outline,
          &.eva-plus-outline {
            font-size: 16px;
            position: absolute;
            right: 16px;
          }
        }
      }

      .question {
        margin-top: 16px;

        @media (max-width: map_get($grid-breakpoints, 'md')) {
          margin-top: 0;
        }
      }

      .answer {
        text-align: center;

        a {
          color: map_get($color, 'primary');
        }
      }
    }
  }

  .form {
    margin: auto;
    width: 512px;

    @media (max-width: map_get($grid-breakpoints, 'md')) {
      width: 100%;

      .title {
        line-height: 1.2;
        font-size: 20px;
      }
    }

    cf-selector,
    cf-input,
    .dropdown {
      padding: 0;
      width: 100%;

      .cf-select-placeholder-selected {
        left: 0 !important;
        top: -18px;
        font-size: 12px;
        line-height: 16px;
      }

      .cf-input-error-msg {
        .eva {
          position: absolute;
          left: -24px;
          top: 2px;
          color: map_get($color, 'supp-3');
          opacity: 1;
          font-size: 14px;
        }
      }
    }

    .prefix {
      padding-left: 0;

      .cf-input-error-msg {
        .eva {
          position: absolute;
          left: -24px;
          top: 2px;
          color: map_get($color, 'supp-3');
          opacity: 1;
          font-size: 14px;
        }
      }
    }

    .message {
      min-height: 120px;

      .eva {
        bottom: 2px !important;
        top: auto;
      }
    }

    .privacy-text {
      &.red {
        color: map_get($color, 'supp-3');

        .privacy-button-link {
          color: map_get($color, 'supp-3') !important;

          :visited {
            color: map_get($color, 'supp-3') !important;
          }
        }
      }
    }

    .order-incident-text {
      color: map_get($color, 'grey-11');
    }
  }
}

cf-input {
  .cf-input-box {
    display: flex !important;
  }

  .upload- {
    &info,
    &input {
      overflow: hidden;
    }

    &input {
      padding-bottom: 60px;

      @media (max-width: map_get($grid-breakpoints, 'md')) {
        padding-bottom: 120px;
      }
    }

    &effect {
      display: flex;

      &.no-effect {
        transition: none;
      }

      &-box {
        padding: 0 5px;
      }
    }

    &upload {
      &-disabled {
        position: relative;
        filter: grayscale(100%);
        width: 100%;
        height: 100%;
        opacity: 0.24;

        .open-issue-upload-number {
          background: map_get($color, 'grey-2');
        }
      }

      &-photo {
        @media (min-width: map_get($grid-breakpoints, 'md')) {
          max-width: calc(100% - 85px);
        }
      }

      &-number {
        width: 100%;
        max-width: 64px;
        min-width: 64px;
        height: 64px;
        color: map_get($color, 'primary');
        background-color: rgba(46, 158, 147, 0.08);
        border-radius: 50%;
      }

      &-button {
        display: none;
        height: 0;
        opacity: 0;
        visibility: none;
      }

      &-label {
        width: 100%;
        height: 100%;
        color: rgba(121, 131, 143, 0.9);
        margin: 0;
        overflow: hidden;
      }

      &-icon {
        color: map_get($color, 'white-1');
        background: map_get($color, 'primary');
        height: 32px;
        width: 32px;
        min-height: 32px;
        min-width: 32px;
        border-radius: 5px;

        &:hover {
          cursor: pointer;
        }

        &.disabled {
          background: map_get($color, 'grey-3');

          &:hover {
            cursor: auto;
          }
        }
      }
    }
  }
}

.upload-container-box .cf-input-box {
  padding: 8px;
}

.textarea-content {
  position: absolute;
  bottom: 10px;
  right: 10px;
}

.sent-message {
  &-text {
    display: flex;
    justify-content: space-around;
    padding-bottom: 50px;

    @media (max-width: map_get($grid-breakpoints, 'md')) {
      padding-bottom: 56px;
    }

    .message {
      @media (max-width: map_get($grid-breakpoints, 'md')) {
        margin-left: 16px;
        margin-right: 16px;
      }

      .header {
        padding: 0;
        margin-bottom: 64px;

        @media (max-width: map_get($grid-breakpoints, 'md')) {
          font-size: 25px;
          font-weight: 900;
          line-height: 1.28;
          margin-bottom: 32px;
        }
      }
    }

    .image {
      margin-left: 96px;

      @media (max-width: map_get($grid-breakpoints, 'md')) {
        display: none;
      }

      img {
        width: 250px;
      }
    }
  }

  .cross-selling {
    .cs-title,
    .title-text,
    .price-info {
      color: black;
    }

    .cs-title {
      padding-left: 16px;

      @media (max-width: map_get($grid-breakpoints, 'md')) {
        padding-left: 12px;
      }
    }

    .cs-promos {
      flex-wrap: nowrap;
      overflow-x: auto;

      @media (max-width: map_get($grid-breakpoints, 'md')) {
        margin: 0 -12px;
      }

      & cross-selling-promo {
        @media (max-width: map_get($grid-breakpoints, 'md')) {
          width: 224px;
        }
      }
    }
  }
}
