@import '../../../scss/commons.scss';

.fit-content {
  width: fit-content;
}

.wrapper-eye {
  position: absolute;
  top: 50%;
  transform: translateX(0) translateY(-50%);
  right: 14px;
  z-index: 5;
}
