@import '@crowdfarming/ds-library/src/styles/global';

.custom-order-info {
  width: 100% !important;
  padding-top: pxToRem(24);
  padding-bottom: pxToRem(64);

  &__content {
    position: relative;
    display: flex;
    flex-direction: column;

    &--header {
      gap: pxToRem(32);
    }
  }

  &__separator {
    padding-top: pxToRem(32);
    margin-bottom: pxToRem(32);
    border-bottom: pxToRem(1) solid map-get($layerBorderColors, 'border-3');
  }

  &__user-data {
    display: flex;
    flex-direction: column;
    gap: pxToRem(24);

    &--block {
      width: 100%;
    }
  }

  @include bp(device-s) {
    &__user-data {
      display: flex;
      flex-direction: row;

      &--block {
        width: 50%;
      }
    }
  }
}
