@import '../../../scss/commons.scss';

.banner-store-container {
  color: $white;
  padding: 0;
  background-color: map_get($color, 'primary');
  height: 95px;

  @media (max-width: map_get($grid-breakpoints, 'lg')) {
    height: fit-content;
    padding: 5px 0;
  }

  .banner-store-text-container {
    font-size: 20px;

    @media (max-width: map_get($grid-breakpoints, 'lg')) {
      font-size: 12px;
    }
  }

  .banner-store-buttons-container {
    height: 100%;

    @media (max-width: map_get($grid-breakpoints, 'md')) {
      margin-top: 10px;
    }

    cf-button {
      text-transform: uppercase;
    }
  }

  .banner-store-manage-page {
    font-size: 11px;
    margin-top: 3px;
  }
}
