@import '@crowdfarming/ds-library/src/styles/global';

.ec-catalog {
  &__shipping-info {
    position: relative;
    display: flex;
    justify-content: flex-end;
    gap: pxToRem(10);
    align-items: center;
    width: 100%;
    padding: pxToRem(24) 0 pxToRem(16) 0;
  }
}
