<ec-info-banner id="e-commerce-info-banner"></ec-info-banner>
<section class="ec-catalog" *transloco="let t">
  <div class="ec-catalog__shipping-info t-body-xs text-grey-56">
    <ds-icon name="car" size="ds--size-24" color="semantic-primary-medium"></ds-icon>
    {{ t('page.deliver-included.body') }}
  </div>
  <ec-catalog-grid [articlesList]="articlesList">
    <ng-template let-cardData #card>
      <ec-card
        *ngIf="!isLoading; else skeletonCardTmp"
        class="pointer"
        [article]="cardData"
        [quantity]="getQuantity(cardData, boxShoppingList)"
        [allSeals]="allSeals"
        (changeQuantity)="addArticleToShoppinBox($event)"
        (click)="goToDetail($event,cardData)"></ec-card>
    </ng-template>
  </ec-catalog-grid>
</section>

<ng-template #skeletonCardTmp>
  <ec-skeleton-card></ec-skeleton-card>
</ng-template>
