<ng-container *ngIf="order?.amount?.totalToCollect !== order?.amount?.totalCrowdies">
    <div class="d-flex align-items-start">
        <img
          *ngIf="isSepa"
          class="order-detail-method mr-s"
          src="{{env.domain}}/assets/icon/payments/badgeBank.svg"/>
        <img
          *ngIf="isKlarna"
          class="order-detail-method mr-s"
          src="{{env.domain}}/assets/img/payments/Klarna.svg"/>
        <img
          *ngIf="isVisa"
          class="order-detail-method mr-s"
          src="https://common.crowdfarming.com/uploaded-images/1602229918934-3282081e-46c2-4914-800d-9e5279ba183a.svg"/>
        <img
          *ngIf="isMastercard"
          class="order-detail-method mr-s"
          src="https://common.crowdfarming.com/uploaded-images/1602230103850-b0e945a5-660f-4374-8149-90fb0487093d.svg"/>
        <img
          *ngIf="!isVisa && !isMastercard && !isKlarna && !order.paymentMethods.crowdfarmer.paypal && (payment.paymentRequest?.id.payment_method_types[0] !== 'paypal')"
          class="order-detail-method mr-s"
          src="{{env.domain}}/assets/icon/payments/badgeCard.svg"/>
        <img
          *ngIf="order.paymentMethods.crowdfarmer.paypal || (payment.paymentRequest?.id.payment_method_types[0] === 'paypal')"
          class="order-detail-method mr-s"
          src="https://common.crowdfarming.com/uploaded-images/1636541877960-1fbba6f7-3935-4bd5-9957-899616f92f93.svg"/>
    </div>
</ng-container>
