@import '../../../../../scss/commons.scss';

.liberate-adoption-survey-options {
  width: 100% !important;
}

cf-radio {
  .cf-radio-container {
    padding-top: 8px !important;
    padding-bottom: 8px !important;
    padding-left: 0 !important;

    .cf-radio-icon {
      margin-right: 8px;
    }
  }

  .cf-radio-selected {
    padding-left: 8px !important;
    margin-left: -8px;
  }
}

.liberate-adoption-survey-text-area {
  textarea {
    height: 120px;
  }
}

.liberate-adoption-survey-btn {
  max-width: 272px;
  display: block;
}

.cf-input-error-msg {
  align-items: flex-start;
  color: #de1127;
  display: flex;
  font-size: 12px;
  left: 30px;
  line-height: 16px;
  margin-top: 5px;
  max-width: calc(100% - 30px);
  opacity: 1;
  position: relative;
}

.cf-input-error-icon {
  position: absolute;
  left: -24px;
  top: 1px;
  opacity: 1;
  font-size: 14px;
}

@media (min-width: map_get($grid-breakpoints, 'md')) {
  .liberate-adoption-survey-text-area {
    textarea {
      width: 432px !important;
    }
  }
}

@media (max-width: map_get($grid-breakpoints, 'lg')) {
  .cf-radio-selected {
    border-radius: 30px !important;
  }
}
