@import '../../../../scss/commons.scss';

.green-newsletter {
  position: relative;
  top: 15%;

  @media (max-width: map_get($grid-breakpoints, 'md')) {
    top: 5%;
  }

  .cf-newsletter {
    font-size: 28px;
    font-weight: 900;
    line-height: 1.29;
    color: $white;

    &-text {
      font-size: 16px;
      font-weight: normal;
      line-height: 1.5;
      letter-spacing: normal;
      color: $white;
    }
  }

  .categories {
    padding: 20px 25px 20px 20px;
    background-color: $white;
    border-radius: 5px;

    &-header {
      font-size: 14px;
      font-weight: 500;
      font-style: normal;
      line-height: 1.43;
      color: $darkTexts;
    }

    &-text {
      font-size: 16px;
      font-weight: normal;
      font-style: normal;
      line-height: 1.5;
      letter-spacing: normal;
      color: $greyText;

      &.selected {
        color: $darkTexts;
      }
    }

    &-unsuscribe {
      font-size: 14px;
      font-weight: 500;
      line-height: 1.43;
      color: $greenLink;
      cursor: pointer;
      text-decoration: underline;

      &:hover {
        text-decoration: none;
      }
    }

    .fa {
      font-size: 28px;
    }

    .changed-interests {
      font-size: 20px;
      color: $darkTexts;
    }

    .back-interests {
      font-size: 14px;
      font-weight: 500;
      color: $greenLink;
      text-decoration: underline;
    }

    cf-check {
      color: $greyText;
    }
  }

  .go-crowdfarming {
    font-size: 18px;
    font-weight: bold;
    line-height: 1.33;
    color: $white;
    cursor: pointer;
  }
}
