<section *transloco="let t" class="header_block">
  <div class="container">
    <div class="row mb-xxl mob-mb-l">
      <div class="col-md-6 d-flex flex-column justify-content-center">
        <h2 class="title t-black-H t-h1-blackW pb-s" [ngClass]="isMobile ? 'text-center' : 'pr-xxl mr-xxl'">
          {{t('page.die-app-crowdfarming.title')}}
        </h2>
        <h3 class="t-primary-T t-xl-bold mb-xl " [ngClass]="isMobile ? 'text-center' : 'pr-xxl mr-xxl'">
          {{t('global.join-community-farmer-projects.text-info')}}
        </h3>
        <div *ngIf="isMobile" class="mb-l">
          <img class="w-100" src="{{env?.domain}}/assets/img/promotion-campaign/header/app-header-{{lang}}.png" alt="">
        </div>
        <p class="t-grey t-xl-medium pb-s" [ngClass]="isMobile ? 'text-center' : 'pr-xxl mr-xxl'">
          {{t('notifications.app.text-info')}}
        </p>
        <div [ngClass]="isMobile && 'd-flex justify-content-center'">
          <store-buttons></store-buttons>
        </div>
      </div>
      <div *ngIf="!isMobile" class="col-md-6 d-flex flex-column justify-content-center">
        <img src="{{env?.domain}}/assets/img/promotion-campaign/header/app-header-{{lang}}.png" alt="">
      </div>
    </div>
  </div>
</section>