@import '../../../scss/commons.scss';

.manifest-section .container {
  max-width: 1120px;
  z-index: 1; // to float over some of the waves and grounds in position absolute

  & .narrowed-content {
    max-width: 736px;
    margin: 0 auto;

    @media (max-width: map_get($grid-breakpoints, 'md')) {
      max-width: 100%;
    }
  }
}

.manifest-section_intro,
.manifest-section_founders,
.manifest-section_supermarket {
  & .container {
    max-width: 736px;

    @media (max-width: map_get($grid-breakpoints, 'md')) {
      max-width: 100%;
    }
  }
}

.manifest-section_intro {
  background-color: #fbf9f4;

  & .manifest-section_intro-title {
    max-width: 928px;
    margin: 0 auto;
  }

  & .manifest-animation {
    min-height: 384px;

    @media (max-width: map_get($grid-breakpoints, 'md')) {
      min-height: 208px;
    }
  }
}

.manifest-section_founders {
  background-color: #fbf9f4;
  background-image: url('https://common.crowdfarming.com/uploaded-images/1612951001740-854a0a31-f222-4618-8d2b-97854f5fb800.svg');
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: bottom;

  @media (max-width: map_get($grid-breakpoints, 'md')) {
    background-image: url('https://common.crowdfarming.com/uploaded-images/1613058717644-dbee0db1-ddb3-4dd3-adfd-ee937eaf2f7b.svg');
  }
}

.manifest-section_disintermediate {
  margin-top: -1px; // remove white line
  background-color: #cfe5e3;

  & .manifest-animation {
    min-height: 392px;

    @media (max-width: map_get($grid-breakpoints, 'md')) {
      min-height: 197px;
    }
  }
}

.manifest-section_supermarket {
  background-color: #fbf9f4;

  & .bg-top {
    height: 37px;
    position: relative;
    background-image: url('https://common.crowdfarming.com/uploaded-images/1612953430755-18f5cc43-aea9-4bc6-8be9-192a14037408.svg');
    background-repeat: no-repeat;
    background-size: contain;
    top: -1px;

    @media (max-width: map_get($grid-breakpoints, 'md')) {
      top: -1px;
      background-image: url('https://common.crowdfarming.com/uploaded-images/1613120315354-21aed79a-378a-458d-9816-30090d4dd817.svg');
    }
  }

  & .bg-bottom {
    height: 210px;
    background-image: url('https://common.crowdfarming.com/uploaded-images/1612953594260-1e34c3c3-38e0-48dd-b12a-0e3a1598ce31.svg');
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: bottom;
    position: absolute;
    bottom: 0;

    @media (max-width: map_get($grid-breakpoints, 'md')) {
      bottom: -1px; // To avoid whiteline
      background-image: url('https://common.crowdfarming.com/uploaded-images/1613122436861-85eeeccf-2e4d-4f30-84b1-9d860a094b94.svg');
    }
  }

  & .manifest-animation {
    min-height: 184px;

    @media (max-width: map_get($grid-breakpoints, 'md')) {
      min-height: 123px;
    }
  }

  & .flipcards-container {
    @media (max-width: map_get($grid-breakpoints, 'md')) {
      overflow-x: auto;
      overflow-y: hidden;
      min-height: 390px; // To avoid the shadow to be cropped

      & .narrowed-content {
        display: flex;
        max-width: none;
      }
    }
  }
}

.manifest-section_winner {
  background-color: #ffe9cc;

  & .manifest-animation {
    min-height: 296px;

    @media (max-width: map_get($grid-breakpoints, 'md')) {
      min-height: 186px;

      & > div {
        margin: 0 auto; // centers the animation
      }
    }
  }
}

.manifest-section_lovers {
  background-color: #fbf9f4;

  & .bg-top {
    height: 30px;
    margin-top: -1px; // remove white line
    position: relative;
    background-image: url('https://common.crowdfarming.com/uploaded-images/1612959945977-44dc4303-8623-4469-af27-b2e90737a343.svg');
    background-repeat: no-repeat;
    background-size: contain;

    @media (max-width: map_get($grid-breakpoints, 'md')) {
      background-image: url('https://common.crowdfarming.com/uploaded-images/1613123063338-87d67e69-f65f-4141-a463-63a0ace327c4.svg');
    }
  }

  & .bg-bottom {
    height: 190px;
    background-image: url('https://common.crowdfarming.com/uploaded-images/1612965881791-c74d2c70-38b9-42e8-a2ec-7b86a831e347.svg');
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: bottom;
    position: absolute;
    bottom: 0;

    @media (max-width: map_get($grid-breakpoints, 'md')) {
      bottom: -1px; // To avoid whiteline
      background-image: url('https://common.crowdfarming.com/uploaded-images/1613125813052-d092a2a5-959b-4368-a991-592dca2e3e3c.svg');
    }
  }

  & .row {
    @media (max-width: map_get($grid-breakpoints, 'md')) {
      flex-direction: column-reverse;
    }
  }

  & .flipcards-container {
    @media (max-width: map_get($grid-breakpoints, 'md')) {
      overflow-x: auto;
      overflow-y: hidden;
      min-height: 390px; // To avoid the shadow to be cropped

      & > div {
        display: flex;
        min-width: fit-content;
      }
    }
  }

  & .manifest-animation {
    min-height: 184px;

    @media (max-width: map_get($grid-breakpoints, 'md')) {
      min-height: 123px;
    }
  }
}

.manifest-section_politically-incorrect {
  background-color: #cfe5e3;

  & .manifest-animation {
    min-height: 432px;

    @media (max-width: map_get($grid-breakpoints, 'md')) {
      min-height: 177px;
    }
  }
}

.manifest-section_values {
  background-color: #fbf9f4;

  & .bg-top {
    height: 37px;
    position: relative;
    background-image: url('https://common.crowdfarming.com/uploaded-images/1612966683755-b675b485-a07f-4aa6-ab8a-7e535be83824.svg');
    background-repeat: no-repeat;
    background-size: contain;
    top: -1px;

    @media (max-width: map_get($grid-breakpoints, 'md')) {
      top: -1px; // To avoid whiteline
      background-image: url('https://common.crowdfarming.com/uploaded-images/1613129787405-bef10e07-a743-460e-8c14-678598719d7c.svg');
    }
  }

  & .bg-bottom {
    height: 216px;
    background-image: url('https://common.crowdfarming.com/uploaded-images/1612966719345-130b1e6d-6506-45e0-97e7-b3338d6c1a0e.svg');
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: bottom;
    margin-bottom: -1px; // remove whiteline

    @media (max-width: map_get($grid-breakpoints, 'md')) {
      height: 60px;
      background-image: url('https://common.crowdfarming.com/uploaded-images/1613129919987-eb3e1085-a709-4d70-ba25-7e9c0fa9259e.svg');
    }
  }

  .manifest-section_values-tabs-header-container {
    @media (max-width: map_get($grid-breakpoints, 'md')) {
      overflow-x: auto;
      overflow-y: hidden;
      margin: 0 -16px;
    }
  }

  & .manifest-section_values-animations {
    min-height: 384px;

    @media (max-width: map_get($grid-breakpoints, 'md')) {
      min-height: 267px;
    }
  }

  & .manifest-section_values-tabs {
    & .manifest-section_values-tabs-header {
      display: grid;
      grid-template-columns: 160px 160px;
      grid-template-rows: 80px 80px;
      grid-gap: 32px;

      @media (max-width: map_get($grid-breakpoints, 'md')) {
        grid-template-columns: 160px 160px 160px 160px;
        grid-template-rows: 80px;
        min-width: fit-content;
      }

      & button {
        width: 160px;
        height: 80px;
        border: none;
        outline: none;
        background-color: transparent;
        background-repeat: no-repeat;
        background-size: 100%;
      }
    }
  }
}

.manifest-section_multilocal {
  background-color: #ffe9cc;

  & .content {
    margin: 0 auto;
    max-width: 800px;
  }

  & .manifest-animation {
    min-height: 320px;

    @media (max-width: map_get($grid-breakpoints, 'md')) {
      min-height: 216px;
      min-width: 770px;
    }
  }
}

.manifest-section_mistakes {
  background-color: #fbf9f4;

  & .bg-top,
  & .bg-bottom {
    height: 30px;
    position: relative;
    background-repeat: no-repeat;
    background-size: contain;

    @media (max-width: map_get($grid-breakpoints, 'md')) {
      height: 16px;

      &::after {
        content: '';
        position: absolute;
        bottom: 0;
        height: 1px;
        width: 100%;
      }
    }
  }

  & .bg-top {
    background-color: #ffe9cc;
    background-image: url('https://common.crowdfarming.com/uploaded-images/1612971027022-fc6b9560-8be3-494d-a856-f365205d9e7e.svg');
    background-position: bottom;

    @media (max-width: map_get($grid-breakpoints, 'md')) {
      background-image: url('https://common.crowdfarming.com/uploaded-images/1613385337353-90fe3910-c8ea-4887-8f84-74d8f832c7c2.svg');
    }

    &::before {
      background-color: #ffe9cc;
    }

    &::after {
      background-color: #fbf9f4;
    }
  }

  & .bg-bottom {
    background-color: white;
    background-image: url('https://common.crowdfarming.com/uploaded-images/1612971043943-853dacd8-4653-48bd-a75a-b8494e93dc69.svg');

    @media (max-width: map_get($grid-breakpoints, 'md')) {
      background-image: url('https://common.crowdfarming.com/uploaded-images/1613385645133-100efc7a-ab12-4582-bbf9-92bee837285d.svg');
    }

    &::before {
      background-color: #fbf9f4;
    }

    &::after {
      background-color: white;
    }
  }

  & .manifest-animation {
    min-height: 348px;

    @media (max-width: map_get($grid-breakpoints, 'md')) {
      min-height: 175px;
    }
  }
}

.manifest-section_cta {
  & .bg-bottom {
    height: 36px;
    width: 100%;
    bottom: -1px;
    left: 0;
    position: absolute;
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: contain;
    background-image: url('https://common.crowdfarming.com/uploaded-images/1613387014151-29f6e362-66aa-4912-b79a-23c26429776c.svg');

    @media (max-width: map_get($grid-breakpoints, 'md')) {
      height: 21px;
      bottom: -3px; // to avoid whiteline
      background-image: url('https://common.crowdfarming.com/uploaded-images/1613387377387-98100f0d-b48a-4347-b6d6-68f3663236da.svg');
    }
  }
}

// Center content
.center-content-container {
  overflow-x: auto;
  overflow-y: hidden;
}

// Flipcard
.manifest-flipcard {
  height: 405px;
  width: 352px;
  perspective: 1000px;

  @media (max-width: map_get($grid-breakpoints, 'md')) {
    height: 363px;
    width: 282px;
  }

  & .flipcard-wrapper {
    position: relative;
    width: 100%;
    height: 100%;
    transition: transform 0.8s;
    transform-style: preserve-3d;

    & .flipcard-front,
    & .flipcard-back {
      position: absolute;
      width: 100%;
      height: 100%;
      perspective: 0;
      -webkit-backface-visibility: hidden;
      transform: translate3d(0, 0, 0);
      visibility: visible;
      backface-visibility: hidden;
      background-color: white;
      border-radius: 5px;
      box-shadow: 0 8px 16px 0 rgba(121, 131, 143, 0.32);

      & .flipcard-content {
        flex: 1;
      }
    }

    & .flipcard-back {
      transform: rotateY(180deg);
    }
  }

  &.flipped .flipcard-wrapper {
    transform: rotateY(180deg);
  }
}
