@import '@crowdfarming/ds-library/src/styles/global';

.ec-empty-summary {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;

  &__img {
    margin: pxToRem(65) 0 pxToRem(24) 0;
    width: pxToRem(144);
  }
}
