<div *transloco="let t" class="payment-section">
  <div class="payment-section__header">
    <app-cg-price-summary [price]="totalPrice" [credits]="credits"></app-cg-price-summary>
  </div>

  <div class="payment-section__body">
    <h4 class="t-black-T payment-section__body-title">{{t('page.select-payment-method.title')}}</h4>
    <app-payment
      #paymentCmp
      [amount]="totalPrice"
      [user]="user"
      [selectedPaymentId]="selectedPaymentId"
      [allowedPaymentMethods]="allowedPaymentMethods"
      [cart]="cart"
      [currentIso]="currentIso"
      [purchaseDataExtra]="purchaseDataExtra"
      [(isPaymentMethodSelectorActive)]="isPaymentMethodSelectorActive"
      (selectedPaymentIdChange)="selectedPaymentIdChangeHandler($event)"
      (payWithNewCard)="payWithNewCardHandler($event)">
    </app-payment>
  </div>

  <div *ngIf="!isPaymentMethodSelectorActive" class="payment-section__footer">
    <ds-button
      variant="primary"
      width="full"
      [content]="t('page.pay.button')"
      [disabled]="isPaymentButtonDisabled"
      (buttonClick)="onPay()">
    </ds-button>
  </div>
</div>