@import '../../../../../scss/colors.scss';
@import '../../../../../scss/commons.scss';

.sustaintable-farming {
  .container-block {
    margin-bottom: 100px;

    @media (max-width: map_get($grid-breakpoints, 'md')) {
      margin-bottom: 30px;
    }
  }

  .t-h1-blackW {
    font-size: 50px;
    line-height: 50px;
  }

  @media (max-width: map_get($grid-breakpoints, 'md')) {
    .t-h1-blackW {
      font-size: 32px;
      line-height: 40px;
    }
  }
}
