<ng-container *transloco="let t">
  <div *ngIf="loaded && homeHeaderData" class="sustaintable-farming">
    <div class=" d-md-block container pt-32 container-block">
      <div class="row flex-md-row-reverse">
        <div class="col-12 col-md-6 my-4 my-md-1">
          <img class="img w-100" [src]="homeHeaderData[0].pictureURL | cdn" alt=""/>
        </div>
        <div class="col-12 col-md-6 d-flex flex-column justify-content-center">
          <h3 class="title t-black-T t-h1-blackW nom">
            {{homeHeaderData[0] | translation: 'title'}}
          </h3>
          <p class="t-grey mt-xl mb-xl mr-0 mr-md-5 f20">
            {{homeHeaderData[0] | translation: 'description'}}
          </p>
          <cf-button [size]="'l'" [width]="isMobile && 'auto'" (click)="routerSrv.navigateToFarmersMarket('BOXES')">
            {{ t('page.cta-header-home.button') }}
          </cf-button>
        </div>
      </div>
    </div>
  </div>

  <div *ngIf="!loaded" class="container my-5">
    <div *ngFor="let dummy of [1]; let i = index" [ngClass]="domSrv.getIsDeviceSize() ? 'promo-mbl': 'promo-dkt'">
      <home-promo-card>
      </home-promo-card>
    </div>
  </div>
</ng-container>
