<!-- Back mobile -->
<div *ngIf="!app" class="private-zone-back hide-tablet flex-center">
  <div *transloco="let t" class="private-zone-back-container border-bottom-grey-2-2x d-flex w-100">
    <div class="flex-center" (click)="addingStatus({add: false, edit: false})"
      *ngIf="(addAddress || editAddress) && user.addresses?.length > 0">
      <i class="eva eva-arrow-ios-back-outline f26 mr-s" aria-hidden="true"></i>
      {{t('page.Your-addresses.title')}}
    </div>
    <div *ngIf="!editAddress &&
      ((addAddress && (!user.addresses || user.addresses?.length === 0)) || (!addAddress && user.addresses?.length))"
      class="flex-center" (click)="openPrivateMobileMenu()">
      <i class="eva eva-arrow-ios-back-outline f26 mr-s" aria-hidden="true"></i>
      {{t('global.my-account.drop')}}
    </div>
  </div>
</div>

<div *transloco="let t" class="private-zone-section user-account-container private-zone-address w-100">
  <!-- Back Desktop -->
  <div *ngIf="(addAddress || editAddress) && user.addresses?.length" class="mb-m d-flex t-s-regular hide-mobile">
    <div class="text-grey pointer" (click)="addingStatus({add: false, edit: false})">
      {{t('page.Your-addresses.title')}}
    </div>
    <span class="t-black-T"> &nbsp;<i class="eva eva-arrow-ios-forward-outline f12" aria-hidden="true"></i>&nbsp;
    </span>
    <div>{{addAddress ? t('page.add-address.button') : t('page.edit-address.button')}}</div>
  </div>

  <!-- Title -->
  <div class="private-zone-title t-h3-bold t-black-H">
    {{
      editAddress || addAddress ?
      addAddress ? t('page.add-address.button')
      : t('page.edit-address.button')
      : t('page.Your-addresses.title')
    }}
  </div>
  <div *ngIf="(!addAddress && !editAddress) || (user.addresses?.length === 0)"
    class="private-zone-subtitle t-s-regular t-black-T">
    {{t('page.manage-addresses.body')}}
  </div>

  <!-- Edit | Add -->
  <div *ngIf="!user.addresses || user.addresses?.length === 0 || editAddress || addAddress"
    class="private-zone-address-edit w-100 mb-l mt-s">
    <address-component [new]="addAddress" [checkWhenOpen]="editAddress"
      [address]="addAddress ? addressToAdd : addressToEdit" [errorIn]="errorIn"></address-component>
    <cf-check *ngIf="addAddress" [(checked)]="addressAsDefault"> {{t('page.choose-default-address.button')}}
    </cf-check>

    <div class="w-100 mt-s d-flex flex-column flex-md-row">
      <cf-button *ngIf="user.addresses?.length" class="hide-mobile" [width]="'auto'" [flat]="true"
        (click)="addingStatus({add: false, edit: false})">
        {{t('global.cancel.button')}}
      </cf-button>
      <cf-button [width]="'auto'" (click)="autoLoginValidation('saveAddress', [true])">
        {{addAddress ? t('page.add-address.button') : t('page.country-selector.button')}}
      </cf-button>
      <cf-button *ngIf="user.addresses?.length" class="hide-desktop mt-s" [width]="'auto'" [flat]="true"
        (click)="addingStatus({add: false, edit: false})">
        {{t('global.cancel.button')}}
      </cf-button>
    </div>
  </div>

  <div *ngIf="!addAddress && !editAddress && user.addresses?.length" class="w-100 mt-l">
    <!-- Add -->
    <div class="private-zone-address-add border-top-grey-2-2 border-bottom-grey-2-2 pa-s mb-l w-100">
      <cf-button id="new-address-btn" [width]="'auto'" [flat]="true"
        (click)="autoLoginValidation('addingStatus', [{add: true, edit: false}])">
        {{t('page.add-address.button')}}
      </cf-button>
    </div>

    <!-- List -->
    <div class="private-zone-address-list">
      <option-card class="mb-s" [favouriteSelected]="address.favourite"
        *ngFor="let address of user.addresses; let i = index"
        (triggerRadio)="autoLoginValidation('selectFavourite', [i])" [favourite]="true" [activeEdit]="true"
        (triggerEdit)="autoLoginValidation('addingStatus', [{add: false, edit: true}, i])" [activeDelete]="true"
        (triggerDelete)="autoLoginValidation('deleteAddress', [i, address.favourite])">
        <div option-card-content>
          <div class="t-m-medium">{{address.name}} {{address.surnames}}</div>
          <div class="text-grey t-m-regular">
            {{address.street}}, {{address.number}} {{address.details}} <br />
            {{address.zip}} {{address.province && address.country === 'us' ? address.province + ',' : ''}}
            {{address.city}}, {{countriesByIso[address.country] | translation: 'name'}} <br />
            {{address.phone.prefix}} {{address.phone.number}} <br />
          </div>
        </div>
      </option-card>
    </div>
  </div>
</div>