@import '../../../../../scss/commons.scss';

.radio {
  &-container {
    border-radius: 5px;
    transition: all 0.35s ease-out;
  }

  &-circle {
    height: 16px;
    width: 16px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    border: 2px solid map_get($color, 'grey-3');
    transition: border 0.4s ease;
  }

  &-fill {
    height: 8px;
    width: 8px;
    background: map_get($color, 'primary');
    border-radius: 50%;
    opacity: 0;
    transition: opacity 0.4s ease;
  }

  &-content {
    display: inline-flex;
    border-radius: 5px;
    transition: background 0.5s ease-out;
    color: map_get($color, 'black-2');
  }

  &-selected {
    &.radio {
      &-content {
        background: rgba(46, 158, 147, 0.08);
      }
    }

    .radio {
      &-circle {
        border: 2px solid map_get($color, 'primary');
      }

      &-fill {
        opacity: 1;
      }
    }
  }
}
