<div class="forgot-pass-popup-container" id="recover-popup">
  <!-- Title -->
  <div class="popup-header-title">
    {{textSrv.getText('Forgot password')}}
  </div>

  <div class="w-100 text-justify pr-m text-grey">
    {{textSrv.getText("Please type your email address and we'll send instructions on how to reset your password")}}
  </div>

  <!-- Email -->
  <div class="w-100 text-justify mt-l mb-m">
    <cf-input>
      <input [(ngModel)]="email" placeholder="{{textSrv.getText('Email')}}" (keyup.enter)="recover()" id="recover-email-input"/>
    </cf-input>
  </div>

  <!-- Error -->
  <div *ngIf="publicMessage" id="recover-error-lbl" class="w-100 errorLine capi-error text-left mb-m t-s-regular"
    [innerHTML]="publicMessage"></div>

  <!-- Submit -->
  <cf-button class="w-100" (click)="recover()" id="recover-password-btn" [width]="'auto'">
    {{textSrv.getText('Remember')}}
  </cf-button>
</div>
