<!-- Back mobile -->
<div class="private-zone-back hide-tablet flex-center" *ngIf="!app">
  <div class="private-zone-back-container border-bottom-grey-2-2x d-flex w-100">
    <div class="flex-center" (click)="routerSrv.navigate('private-zone/my-order')">
      <i class="eva eva-arrow-ios-back-outline f26 mr-s" aria-hidden="true"></i>
      {{textSrv.getText('Your orders')}}
    </div>
  </div>
</div>

<cf-custom-order-info
  *ngIf="order && order.orderType === productType.ECOMMERCE; else no_ecommerce"
  [orderData]="order"
  [userData]="user"
  [app]="app"
  (checkLoginEvn)="autoLoginValidation($event)"
  (refreshOrderInfo)="refreshOrderInfo()"
  >
</cf-custom-order-info>

<ng-template #no_ecommerce>
  <order-detail
    *ngIf="order"
    class="col-12"
    [order]="order"
    [UpOrder]="false"
    [app]="app"
    (checkLoginEvn)="autoLoginValidation($event)"
    (refreshOrderInfo)="refreshOrderInfo()"></order-detail>
</ng-template>
