@import '@crowdfarming/ds-library/src/styles/global';

.sales-wrapper {
  @include bp(device-m) {
    margin-top: 3rem;
  }

  h1 {
    color: var(--light-content-1, $ds--color-basic-black);

    @include bp(device-m) {
      margin-top: 1rem;
    }
  }
}

p {
  color: var(--light-content-2, $ds--color-grey-56);
}

.overflow {
  overflow: overlay;
}

.max-width {
  width: 650px;
}

.sales-model-container {
  display: flex;

  .sales-info {
    display: flex;
    justify-content: center;

    @include bp(device-m) {
      width: 100%;
    }
  }

  @include bp(device-l) {
    overflow: hidden;
  }

  .card {
    cursor: pointer;
    display: inline-table;

    &:hover {
      text-decoration: underline;
      color: var(--light-content-1, #042522);
    }

    .image-block {
      border-radius: 10px;
      background-size: cover;
      background-position: center;
      width: 150px;
      height: 150px;

      @include bp(device-m) {
        height: 250px;
        width: auto;
      }

      @include bp(device-l) {
        height: 300px;
      }
    }

    a {
      font-weight: 600;
      color: var(--light-content-1, #042522);
      font-size: 20px;
      display: block;

      @include bp(device-m) {
        font-size: 24px;
      }
    }
  }
}
