<div *ngIf="up && farm && farmer" class="up-history">
  <!-- farmer -->
  <div class="farmer">
    <div class="name t-h2-blackW mb-l t-black-T">
      {{farmer.name + ' ' + farmer.surnames}}
    </div>
    <div class="history" [ngClass]="{'unfold': unfoldFarmerText}" id="farmer-history">
      <div *ngIf="!embeddedFarmerPicURL && farmer.historyFarmerPicture" class="img"
        [ngStyle]="{'background-image': 'url(' + (farmer.historyFarmerPicture | cdn:800) + ')'}">
      </div>
      <div class="text t-l-regular t-black-T"
        [innerHTML]="textSrv.markdown(textSrv.replaceAll((farmer | translation: 'biography'), {'{picture}': embeddedFarmerPicURL}))">
      </div>
    </div>
    <div *ngIf="domSrv.getElementHeight('#farmer-history') === 948 || unfoldFarmerText" (click)="unfoldText(true)"
      class="read-more t-l-regular mob-pl-s mb-xl">
      {{textSrv.getText(unfoldFarmerText ? 'Read less' : 'Read more')}}
    </div>
    <div class="quote-block">
      <img class="quote" src="../../../../assets/img/ups/quote.svg" alt="">
      <div class="text">
        {{farmer.slogan}}
      </div>
    </div>
    <div class="separator">
    </div>
  </div>

  <!-- farm -->
  <div class="farm">
    <div class="name t-h2-blackW mt-xl mb-l t-black-T">
      {{(farm | translation:'name')}}
    </div>
    <div id="farm-history" class="history" [ngClass]="{'unfold': unfoldFarmText}">
      <div *ngIf="!embeddedFarmPicURL && farm.historyFarmPicture" class="img"
        [ngStyle]="{'background-image': 'url(' + (farm.historyFarmPicture | cdn:800) + ')'}">
      </div>
      <div class="text t-l-regular t-black-T pt-l"
        [innerHTML]="textSrv.markdown(textSrv.replaceAll((farm | translation: 'description'), {'{picture}': embeddedFarmPicURL}))">
      </div>
    </div>
    <div *ngIf="domSrv.getElementHeight('#farm-history') === 948 || unfoldFarmText" (click)="unfoldText(false)"
      class="read-more t-l-regular mob-pl-s mb-xl">
      {{textSrv.getText(unfoldFarmText ? 'Read less' : 'Read more')}}
    </div>
    <div class="separator">
    </div>
  </div>

  <!-- Video -->
  <video-player *ngIf="videoURL" class="col-12 resizable-video" [id]="videoURL" [noLazyStart]="true" platform="youtube">
  </video-player>

  <!-- Location -->
  <div id="locationInfoAnchor"></div>
  <div class="location-info" id="locationInfo">
    <div class="farm-info mob-ph-s">
      <div class="title t-h2-blackW t-black-T lh-100">
        {{textSrv.getText('Technical information and Location')}}
      </div>
      <div class="detail-farm d-flex flex-column pt-l">
        <div class="w-100 extra-info-row pr-l mob-pr-m">
          <div class="ph-l extra-info-icon-container">
            <i class="cf-icon-farm t-green-primary" aria-hidden="true"></i>
          </div>
          <div>
            <div class="t-m-regular t-grey">
              {{textSrv.getText('direction')}}
            </div>
            <div class="t-l-regular">
              {{farm.name}}, {{farm.address?.city}},
              {{farm.address?.country.toUpperCase()}}
            </div>
          </div>
        </div>
        <div *ngFor="let val of farm.extraInfo; let i = index" class="w-100 extra-info-row">
          <div class="pl-l pr-l extra-info-icon-container">
            <ds-icon *ngIf="val.type === 'Company Name'; else otherIcon" class="company-name-icon-color" [name]="upSrv.getIconForExtraInfo(val.type)" size="ds--size-28" ></ds-icon>
            <ng-template #otherIcon>
              <i class="t-h1-regular t-green-brand" [ngClass]="upSrv.getIconForExtraInfo(val.type)" aria-hidden="true" ></i>
            </ng-template>
          </div>
          <div class="mt-l mb-l">
            <div class="t-m-regular t-grey">
              {{textSrv.getText(val.type)}}
            </div>
            <div class="t-l-regular">
              {{val | translation: 'value'}}
            </div>
          </div>
        </div>
        <div class="farm-map mt-l">
          <iframe class="map-frame" src="" title="farm map location" frameborder="0" allowfullscreen>
          </iframe>
        </div>
      </div>
    </div>
  </div>
</div>

