@import '../../../../../scss/commons.scss';

.cross-selling {
  .products-list {
    white-space: nowrap;
    overflow-x: auto;
    overflow-y: hidden;
    list-style: none;
    margin: 0 -12px;
    padding: 0;

    &__elem {
      width: 256px;
      height: 100%;
      padding: 0 12px;
      display: inline-block;

      @media (min-width: map_get($grid-breakpoints, 'md')) {
        flex: 0 0 25%;
        width: 100%;
        max-width: 25%;
      }
    }
  }
}
