<div class="generic-popup-container text-center" id="{{id}}">
  <div *ngIf="config.data?.header" [ngClass]="{'popup-header-title': genericPopupSyle === 1,
    'd-flex justify-content-start t-m-medium t-black-T text-left mb-s': genericPopupSyle === 2}"
    [innerHTML]="config.data?.header"></div>

  <div class="popup-header-title" [ngClass]="{
      'popup-header-title': genericPopupSyle === 1,
      'd-flex justify-content-start t-m-regular t-grey text-left': genericPopupSyle === 2}"
    [innerHTML]="config.data?.msg"></div>

  <div *ngIf="genericPopupSyle === 1" class="mt-m">
    <cf-button id="generic-popup-accept-btn" (click)="onAccept()" [width]="'auto'">
      {{config.data?.btnText || textSrv.getText('Accept')}}
    </cf-button>
  </div>
</div>