@import '../../../scss/colors.scss';
@import '../../../scss/variables.scss';

.show-addres-container {
  max-width: 90vw;
}

.header {
  p {
    margin-bottom: 0;
  }

  .no-allowed-country {
    color: $errorForm;
  }

  .title {
    color: $black;
    font-size: 16px;
    font-weight: 600;
  }

  .subtitle {
    color: $grey;
    font-size: 14px;
    font-weight: 500;
  }
}

.text-button {
  width: 100%;
  padding: 20px;
  text-align: center;
  text-transform: capitalize;
  cursor: pointer;
  margin-bottom: 0;
}

.popup-header {
  background-color: $greyLight;
  color: $black;
  font-weight: 700;
  font-size: 16px;
  height: 50px;
  padding: 15px;
  padding-left: 25px;
  border-radius: 5px 5px 0 0;
}
