<div class="container my-up-harvest nopl nopr mt-m" *ngIf="up && status">
  <div *transloco="let t">
  <!-- ONE SHOT -->
  <!-- Out of season -->
  <!-- Renewal period has ended -->
  <status-box *ngIf="isOneShot && status.outOfSeason && status.renovationClosed" color="grey">
    <p class="nop nom">{{textSrv.getText('Renewal period has ended')}}</p>
  </status-box>
  <!-- Adoption has been liberated -->
  <status-box *ngIf="isOneShot && status.adoptionLiberated" color="grey">
    <p class="nop nom">{{textSrv.getText('This adoption is canceled')}}</p>
  </status-box>
  <!-- MULTISHOT -->
  <!-- On season -->
  <!-- There are pending orders to plan -->
  <status-box *ngIf="isMultiShot && status.onSeason && masterBoxLeft > 0 && !season.harvestBreak && !upCf.isDead && !orderRefunded" color="blue">
    <p class="nop nom">{{textSrv.getText('You have pending orders to plan')}}</p>
  </status-box>
  <!-- Farmer cannot send you more orders -->
  <status-box *ngIf="isMultiShot && status.onSeason && masterBoxLeft > 0 && season.harvestBreak" color="grey"
    icon="eva eva-alert-circle">
    <p class="nop nom">{{textSrv.getText('Farmer cannot send you more orders')}}</p>
  </status-box>
  <!-- You don´t have more boxes to plan and cant renew yet but you can order more -->
  <status-box *ngIf="isMultiShot && status.onSeason && masterBoxLeft === 0 && season.availableOverHarvest > 0 && !status.renewOpen && !upCf.isDead"
    color="blue" icon="eva eva-bell">
    <p class="nop nom">{{textSrv.getText('Good news')}}</p>
  </status-box>
  <!-- You don´t have more boxes to plan and cant renew yet and you can´t order more -->
  <status-box *ngIf="isMultiShot && status.onSeason && masterBoxLeft === 0 && season.availableOverHarvest === 0 && !status.renewOpen"
    color="grey">
    <p class="nop nom">{{textSrv.getText('You have already consumed')}}</p>
  </status-box>
  <!-- Out of season -->
  <!-- Renewal period has ended -->
  <status-box *ngIf="isMultiShot && status.outOfSeason && status.renovationClosed" color="grey">
    <p class="nop nom">{{textSrv.getText('Renewal period has ended')}}</p>
  </status-box>
  <!-- Adoption has been liberated -->
  <status-box *ngIf="isMultiShot && status.adoptionLiberated" color="grey">
    <p class="nop nom">{{textSrv.getText('This adoption is canceled')}}</p>
  </status-box>
  <div *ngIf="dataAccordion" class="mb-3">
    <accordion-gift [data]="dataAccordion"></accordion-gift>
  </div>
  <div class="row">
    <div class="col-12 col-md-6 pl-m pr-s mob-pr-m mob-mb-m d-flex flex-column">
      <div class="box-border border-rs pa-m">
        <!-- ONE SHOT -->
        <!-- On season and cant renew yet-->
        <p class="t-l-medium t-black-H mb-s" *ngIf="isOneShot && status.onSeason && !status.renewOpen">{{textSrv.getText('On season')}}</p>
        <!-- Renewal period open -->
        <p class="t-l-medium t-black-H mb-s" *ngIf="isOneShot && !status.adoptionLiberated && ((status.outOfSeason && status.renewOpen) || (status.onSeason && status.renewOpen))">
          {{textSrv.getText('This up is available to renew')}}
        </p>
        <!-- Renewal period ended -->
        <p class="t-l-medium t-black-H mb-s" *ngIf="isOneShot  && (status.outOfSeason && status.renovationClosed || status.adoptionLiberated)">
          {{textSrv.getText('Old garden')}}
        </p>
        <!-- Renewal period has not begun yet -->
        <p class="t-l-medium t-black-H mb-s" *ngIf="isOneShot && status.outOfSeason && status.renewNotOpen">
          {{textSrv.getText('Out of season')}}
        </p>
        <!-- MULTISHOT -->
        <!-- On season -->
        <p class="t-l-medium t-black-H mb-s" *ngIf="isMultiShot && status.onSeason && !(status.renewOpen && masterBoxLeft === 0)">
          {{textSrv.getText('On season')}}
        </p>
        <!-- Renewal period open -->
        <p class="t-l-medium t-black-H mb-s" *ngIf="isMultiShot && !status.adoptionLiberated && ((status.outOfSeason && status.renewOpen) || (status.onSeason && status.renewOpen && masterBoxLeft === 0))">
          {{textSrv.getText('This up is available to renew')}}
        </p>
        <!-- Renewal period ended -->
        <p class="t-l-medium t-black-H mb-s" *ngIf="isMultiShot && (status.outOfSeason && status.renovationClosed || status.adoptionLiberated)">
          {{textSrv.getText('Old garden')}}
        </p>
        <!-- Renewal period has not begun yet -->
        <p class="t-l-medium t-black-H mb-s" *ngIf="isMultiShot && status.outOfSeason && status.renewNotOpen">
          {{textSrv.getText('Out of season')}}
        </p>

        <!-- ONE SHOT -->
        <!-- On season and cant renew yet-->
        <p *ngIf="isOneShotAdoptionActive()" class="t-grey nom">
          <span *ngIf="status.adoptionsPurchaseClosed && season.availableOverHarvest > 0">
            {{t('page.last-shipment.title')}}
          </span>
          <span *ngIf="!status.adoptionsPurchaseClosed || (status.adoptionsPurchaseClosed && season.availableOverHarvest <= 0)">
            {{t('global.end-season.text-info')}}
          </span>
          <ng-container *ngIf="daysToEnd > 30; else lessThanOneMonth">
            <span class="t-green-primary t-m-medium">
              {{textSrv.getText('{date}', {'{date}': utilsSrv.dateForFront(season.shippingEndDate)})}}
            </span>
          </ng-container>
          <ng-template #lessThanOneMonth>
            <span class="t-green-primary t-m-medium">
              {{daysToEnd === 1 ? textSrv.getText('tomorrow')
              : textSrv.getText('in(preposition of time)') + ' ' + daysToEnd + ' ' + textSrv.getText('days')}}
            </span>
          </ng-template>
        </p>

        <!-- Box already delivered -->
        <p *ngIf="upCf.areDeliveredAllBoxes" class="t-grey t-s-medium mb-m">
          <span>{{t('global.delivered.label')}}</span>
        </p>

        <!-- MULTISHOT -->
        <!-- On season and cant renew yet or rewnew but you have boxes left-->
        <p *ngIf="isMultiShotsAdoptionActive()" class="t-grey nom">
          <span *ngIf="status.adoptionsPurchaseClosed && season.availableOverHarvest > 0">
            {{t('page.last-shipment.title')}}
          </span>
          <span *ngIf="!status.adoptionsPurchaseClosed || (status.adoptionsPurchaseClosed && season.availableOverHarvest <= 0)">
            {{t('global.end-season.text-info')}}
          </span>
          <ng-container *ngIf="daysToEnd > 30; else lessThanOneMonth">
            <span class="t-green-primary t-m-medium">
              {{textSrv.getText('{date}', {'{date}': utilsSrv.dateForFront(season.shippingEndDate)})}}
            </span>
          </ng-container>
          <ng-template #lessThanOneMonth>
            <span class="t-green-primary t-m-medium">
              {{daysToEnd === 1 ? textSrv.getText('tomorrow')
              : textSrv.getText('in(preposition of time)') + ' ' + daysToEnd + ' ' + textSrv.getText('days')}}
            </span>
          </ng-template>
        </p>

        <!-- Box already delivered -->
        <p *ngIf="upCf.areDeliveredAllBoxes" class="t-grey t-s-medium mb-m">
          <span>{{t('global.delivered.label')}}</span>
        </p>

        <!-- ONE SHOT -->
        <!-- On season and cant renew yet -->
        <p class="t-grey t-m-regular" *ngIf="isOneShot && status.onSeason && !status.renewOpen && !orderRefunded">
          {{textSrv.getText('Season can be shortened')}}
        </p>
        <!-- Renewal period open -->
        <div *ngIf="isOneShot && !status.adoptionLiberated && ((status.outOfSeason && status.renewOpen) || (status.onSeason && status.renewOpen)) && !orderRefunded">
          <p class="t-grey t-m-regular mb-s">
            {{textSrv.getText('The renewal deadline is')}}
            <span class="t-green-primary t-m-medium" *ngIf="daysToRenew > 30">{{
              textSrv.getText('{maxRenovationDate}', {'{maxRenovationDate}':
              utilsSrv.dateForFront(season.maxRenovationDate)})
              }}.</span>
            <span class="t-green-primary t-m-medium" *ngIf="daysToRenew <= 30">
              {{
              daysToRenew === 1
              ? textSrv.getText('tomorrow')
              : textSrv.getText('in(preposition of time)') + ' ' + daysToRenew + ' ' + textSrv.getText('days')
              }}.
            </span>
            {{textSrv.getText('If you do not wish to renew')}}
          </p>
        </div>
        <!-- Renewal period ended but more available UPS -->
        <p class="t-grey t-m-regular"
          *ngIf="isOneShot && ((!status.outOfSeason && status.renovationClosed && status.remainingUps) || status.adoptionLiberated)">
          {{textSrv.getText('Farmer has adoptions')}}
        </p>
        <!-- Renewal period ended and no available UPS -->
        <p class="t-grey t-m-regular"
          *ngIf="isOneShot && status.outOfSeason && status.renovationClosed">
          {{textSrv.getText('Farmer has not available')}}
        </p>
        <!-- Renewal period has not begun yet -->
        <div *ngIf="isOneShot && status.outOfSeason && status.renewNotOpen">
          <p class="t-grey t-m-regular mb-s">{{textSrv.getText('The renewal period has not yet begun')}}</p>
          <p class="t-grey t-m-regular">{{textSrv.getText('Meanwhile you can see more')}}</p>
        </div>
        <!-- MULTISHOT -->
        <!-- On season and cant renew yet or rewnew but you have boxes left -->
        <p class="t-grey t-m-regular" *ngIf="isMultiShot && status.onSeason && !(status.renewOpen && masterBoxLeft === 0)">
          {{textSrv.getText('Season can be shortened')}}</p>
        <!-- Renewal period open -->
        <div *ngIf="isMultiShot && !status.adoptionLiberated && ((status.outOfSeason && status.renewOpen) || (status.onSeason && status.renewOpen && masterBoxLeft === 0))">
          <p class="t-grey t-m-regular mb-s">
            {{textSrv.getText('The renewal deadline is')}}
            <span class="t-green-primary t-m-medium" *ngIf="daysToRenew > 30">{{
              textSrv.getText('{maxRenovationDate}', {'{maxRenovationDate}':
              utilsSrv.dateForFront(season.maxRenovationDate)})
              }}.</span>
            <span class="t-green-primary t-m-medium" *ngIf="daysToRenew <= 30">
              {{
              daysToRenew === 1
              ? textSrv.getText('tomorrow')
              : textSrv.getText('in(preposition of time)') + ' ' + daysToRenew + ' ' + textSrv.getText('days')
              }}.
            </span>
            {{textSrv.getText('If you do not wish to renew')}}
          </p>
          <p class="t-grey t-m-regular">
            {{textSrv.getText('Last season orders')}}
            <span class="t-green-primary t-m-medium">
              {{
              masterBoxReserved
              ? masterBoxReserved && masterBoxReserved > 1
              ? masterBoxReserved + ' ' + textSrv.getText('boxes')
              : masterBoxReserved + ' ' + textSrv.getText('box')
              : ''
              }}
              ({{up.selectedMasterBox.weight * masterBoxReserved}} {{up.selectedMasterBox | translation: 'weightUnit'
              }})
            </span>
          </p>
        </div>
        <!-- Renewal period ended but more available UPS -->
        <p class="t-grey t-m-regular"
          *ngIf="isMultiShot && ((!status.outOfSeason && status.renovationClosed && status.remainingUps) || status.adoptionLiberated)">
          {{textSrv.getText('Farmer has adoptions')}}
        </p>
        <!-- Renewal period ended and no available UPS -->
        <p class="t-grey t-m-regular"
          *ngIf="isMultiShot && status.outOfSeason && status.renovationClosed">
          {{textSrv.getText('Farmer has not available')}}
        </p>
        <!-- Renewal period has not begun yet -->
        <div *ngIf="isMultiShot && status.outOfSeason && status.renewNotOpen">
          <p class="t-grey t-m-regular mb-s">{{textSrv.getText('The renewal period has not yet begun')}}</p>
          <p class="t-grey t-m-regular">{{textSrv.getText('Meanwhile you can see more')}}</p>
        </div>

        <!-- ONE SHOT -->
        <!-- On season -->
        <div *ngIf="isOneShot && status.onSeason && !status.renewOpen && !orderRefunded">
          <p class="t-s-medium t-black-H mb-s">{{textSrv.getText('Box content')}}</p>
          <ul class="list-unstyled t-grey">
            <li *ngFor="let product of products; let i = index" [ngClass]="{hidden: i >= 5 && !isShown}">
              {{product.quantity}}x&nbsp;{{product | translation: '_m_name'}}
            </li>
          </ul>
          <cf-button [size]="'s'" iconLeft="true" [flat]="true" class="nop" *ngIf="products && products.length > 5"
            (click)="isShown = !isShown">
            <i class="eva" [ngClass]="{'eva-plus-circle-outline': !isShown, 'eva-minus-circle-outline': isShown}"
              aria-hidden="true"></i>
            <div>{{isShown ? textSrv.getText('See less') : textSrv.getText('See more')}}</div>
          </cf-button>
        </div>
        <!-- Arrival Estimated Delivery (only ONE_SHOT) -->
        <div *ngIf="isOneShotAdoptionActive()">
          <span class="t-m-medium t-black-H">{{t('page.Estimated-delivery.body')}}</span>
          <span class="t-grey t-m-medium">
            {{textSrv.getText('{date}', {'{date}': utilsSrv.dateForFront(getArrivalEstimateDate())})}}
          </span>
        </div>

        <!-- MULTISHOT -->
        <!-- On season and cant renew yet or rewew but you have boxes left-->
        <div *ngIf="isMultiShot && status.onSeason && !(status.renewOpen && masterBoxLeft === 0) && !upCf.isDead && !orderRefunded">
          <div class="mt-m">
            <div class="d-flex justify-content-between">
              <div class="reserved-boxes reserved-boxes-used d-flex flex-column align-items-center">
                <div class="t-green-primary t-h1-bold">{{masterBoxUsed}}</div>
                <div class="t-grey t-s-regular t-a-center">{{textSrv.getText('Shipped boxes')}}</div>
              </div>
              <div class="reserved-boxes reserved-boxes-left d-flex flex-column align-items-center">
                <div class="t-grey t-h1-bold">{{masterBoxLeft <= 0 ? 0 : masterBoxLeft }}</div>
                <div class="t-grey t-s-regular t-a-center">{{textSrv.getText('Boxes to plan')}}</div>
              </div>
            </div>

            <div class="reserved-progress d-flex justify-content-between align-items-center mt-m mb-m">
              <div *ngFor="let box of masterBoxReservedColl" class="border-rs"
                [ngClass]="{'box-used': box === 'used', 'box-left': box === 'left'}"></div>
            </div>
          </div>
        </div>

        <!-- ONE SHOT -->
        <!-- Renewal period open -->
        <div *ngIf="isOneShot && status.renewOpen && !status.adoptionLiberated">
          <div class="mt-s">
            <label class="d-block t-grey t-xs-regular nom">{{textSrv.getText('your adoption name')}}</label>
            <cf-input class="nom" disabled="true">
              <input [value]="upCf | translation: 'name'" />
            </cf-input>
          </div>
          <div class="mt-s" *ngIf="up.masterBoxes.length > 1">
            <label class="d-block t-grey t-xs-regular nom pl-s">{{textSrv.getText('Select which masterBox you want')
              }}</label>
            <cf-select [optionsValue]="masterBoxesNames" [selected]="masterBoxesNames[0]" [whiteSelect]="true"
              (selectedChange)="selectMasterbox($event)" *ngIf="masterBoxesNames"></cf-select>
          </div>
          <div class="pt-m country-selector-trigger-fix" *ngIf="availableCountriesByISO.length > 0">
            <country-selector [data]="availableCountriesByISO" [selected]="upCf.country"
              (returnData)="changeCountry($event)"></country-selector>
          </div>
        </div>
        <!-- MULTISHOT -->
        <!-- Renewal period open -->
        <div *ngIf="isMultiShot && !status.adoptionLiberated && ((status.outOfSeason && status.renewOpen) || (status.onSeason && status.renewOpen && masterBoxLeft === 0))">
          <div class="mt-s">
            <label class="d-block t-grey t-xs-regular nom">{{textSrv.getText('your adoption name')}}</label>
            <cf-input class="nom" disabled="true">
              <input [value]="upCf | translation: 'name'" />
            </cf-input>
          </div>
          <p class="mt-s mb-m t-xs-regular t-grey">
            {{
            textSrv.getText('Select the number of boxes you want. Min is {min}{weightUnit} and max is {max}{weightUnit}(bold)', {
            '{min}': up.masterUnitsMin,
            '{max}': up.masterUnitsMax,
            '{weightUnit}': up.selectedMasterBox | translation: 'weightUnit'
            })
            }}
          </p>

          <div class="d-flex align-items-end">
            <cf-quantity [size]="'s'" (step)="addSubsctract($event)" [quantity]="numberOfBoxes" [min]="min" [max]="max">
            </cf-quantity>

            <p class="t-grey nomb ml-s">
              ({{up.selectedMasterBox.weight * numberOfBoxes}} {{up.selectedMasterBox | translation: 'weightUnit'}})
            </p>
          </div>
        </div>

        <!-- ONE SHOT -->
        <!-- Renewal period open -->
        <div class="d-flex align-items-center justify-content-between mt-m"
          *ngIf="isOneShot && status.renewOpen && !status.adoptionLiberated">
          <span class="t-grey">{{textSrv.getText('Final price')}}</span>

          <div class="d-flex align-items-center">
            <span class="t-h5-medium t-black-H">{{(price ? price.amount : 0) | currency}}</span>
            <span class="t-grey">&nbsp;/&nbsp;{{textSrv.getText('Season')}}</span>
          </div>
        </div>
        <!-- MULTISHOT -->
        <!-- Renewal period open -->
        <div class="d-flex align-items-center justify-content-between mt-m"
          *ngIf="isMultiShot && !status.adoptionLiberated && ((status.outOfSeason && status.renewOpen) || (status.onSeason && status.renewOpen && masterBoxLeft === 0))">
          <span class="t-grey">{{textSrv.getText('Tree maintenance')}}</span>

          <div class="d-flex align-items-center">
            <span class="t-h5-medium t-black-H">{{(price ? price.amount : 0) | currency}}</span>
            <span class="t-grey">&nbsp;/&nbsp;{{textSrv.getText('Season')}}</span>
          </div>
        </div>

        <!-- ONE SHOT -->
        <!-- Renewal period open -->
        <div *ngIf="isOneShot && !status.adoptionLiberated && !status.isOldGarden && (status.renewOpen || status.cancelOpen)" 
            class="mt-l d-flex flex-column">
          <cf-button *ngIf="status.renewOpen" 
              (click)="renew()"
              [disabled]="productNotificationOpen"
              iconLeft="true"
              width="auto"
              id="'renewal-btn-details'">
            <i class="eva eva-flip-2-outline t-h3-regular" aria-hidden="true"></i>
            <span>{{t('global.Renew.text-info')}}</span>
          </cf-button>
          <!-- Cancel renewal -->
          <cf-button *ngIf="status.cancelOpen"
              (click)="autoLoginValidation('liberateAdoptionRenewal')"
              [disabled]="productNotificationOpen"
              [flat]="true"
              class="mt-s"
              width="auto">
            <span>{{t('page.cancel-adoption.button')}}</span>
          </cf-button>
        </div>
        <!-- Renewal period ended but more available UPS -->
        <div class="mt-m" *ngIf="isOneShot && ((status.outOfSeason && status.renovationClosed && status.remainingUps) || status.adoptionLiberated)">
          <cf-button (click)="routerSrv.navigate('/farmer/' + upCf.farmerSlug + '/up/' + up.slug)"
            [disabled]="productNotificationOpen" width="auto">
            <span>{{textSrv.getText('See project')}}</span>
          </cf-button>
        </div>
        <!-- Renewal period ended and no available UPS or Renewal period has not begun yet -->
        <div class="mt-m"
          *ngIf="!app && isOneShot && status.outOfSeason && ((status.renovationClosed) || status.renewNotOpen)">
          <cf-button (click)="navigateToFarmersMarket()" [disabled]="productNotificationOpen"
            width="auto">
            <span>{{t('page.header-de-button.button')}}</span>
          </cf-button>
        </div>
        <!-- MULTISHOT -->
        <!-- On season -->
        <!-- There are pending orders to plan -->
        <div class="mt-m" *ngIf="isMultiShot && status.onSeason && masterBoxLeft > 0 && !season.harvestBreak && !upCf.isDead && !orderRefunded">
          <cf-button [id]="'plandelivery-btn-details'" (click)="ticketOpened ? null : planShipment()" [disabled]="productNotificationOpen || ticketOpened"
            iconLeft="true" width="auto">
            <i class="eva eva-archive-outline t-h3-regular" aria-hidden="true"></i>
            <span>{{t('global.plan-delivery.button')}}</span>
          </cf-button>

          <div class="mt-s">
            <p class="nomb t-grey t-s-regular t-a-center" *ngFor="let product of products">{{product | translation:
              '_m_name'}}</p>
          </div>
        </div>
        <!-- Farmer cannot send you more orders -->
        <div class="mt-m" *ngIf="isMultiShot && status.onSeason && masterBoxLeft > 0 && season.harvestBreak">
          <cf-button disabled="true" iconLeft="true" width="auto">
            <i class="eva eva-archive-outline t-h3-regular" aria-hidden="true"></i>
            <span>{{t('global.plan-delivery.button')}}</span>
          </cf-button>

          <div class="mt-s">
            <p class="nomb t-grey t-s-regular t-a-center" *ngFor="let product of products">{{product | translation:
              '_m_name'}}</p>
          </div>
        </div>
        <!-- You don´t have more boxes to plan and cant renew yet but you can order more -->
        <div class="mt-m"
          *ngIf="isMultiShot && status.onSeason && masterBoxLeft === 0 && season.availableOverHarvest > 0 && !status.renewOpen">
          <cf-button (click)="routerSrv.navigate('/farmer/' + upCf.farmerSlug + '/up/' + up.slug + '/overharvest')"
            [disabled]="productNotificationOpen" [secondary]="true" iconLeft="true" width="auto">
            <i class="eva eva-archive-outline t-h3-regular" aria-hidden="true"></i>
            <span>{{textSrv.getText('Buy more boxes')}}</span>
          </cf-button>

          <div class="mt-s">
            <p class="nomb t-grey t-s-regular t-a-center" *ngFor="let product of products">{{product | translation:
              '_m_name'}}</p>
          </div>
        </div>
        <!-- You don´t have more boxes to plan and you can´t order more and cant renew yet -->
        <div class="mt-m"
          *ngIf="isMultiShot && status.onSeason && masterBoxLeft === 0 && season.availableOverHarvest === 0 && !status.renewOpen">
          <cf-button disabled="true" iconLeft="true" width="auto">
            <i class="eva eva-archive-outline t-h3-regular" aria-hidden="true"></i>
            <span>{{t('global.plan-delivery.button')}}</span>
          </cf-button>

          <div class="mt-s">
            <p class="nomb t-grey t-s-regular t-a-center" *ngFor="let product of products">
              {{product | translation: '_m_name'}}
            </p>
          </div>
        </div>
        <!-- Renewal period open -->
        <div *ngIf="isMultiShot &&
              ((status.outOfSeason) || (status.onSeason && masterBoxLeft === 0)) &&
              !status.adoptionLiberated &&
              !status.isOldGarden &&
              (status.renewOpen || status.cancelOpen)"
            class="mt-l d-flex flex-column">
          <cf-button 
              *ngIf="status.renewOpen" 
              (click)="renew()"
              [disabled]="productNotificationOpen" 
              iconLeft="true"
              width="auto"
              id="'renewal-btn-details'">
            <i class="eva eva-flip-2-outline t-h3-regular" aria-hidden="true"></i>
            <span>{{t('global.Renew.text-info')}}</span>
          </cf-button>
          <!-- Cancel renewal -->
          <cf-button 
              *ngIf="status.cancelOpen" 
              (click)="autoLoginValidation('liberateAdoptionRenewal')"
              [disabled]="productNotificationOpen"
              [flat]="true" 
              class="mt-s"
              width="auto">
            <span>{{t('page.cancel-adoption.button')}}</span>
          </cf-button>
        </div>
        <!-- Renewal period ended but more available UPS -->
        <div class="mt-m" *ngIf="isMultiShot && ((!status.outOfSeason && status.renovationClosed && status.remainingUps) || status.adoptionLiberated)">
          <cf-button (click)="routerSrv.navigate('/farmer/' + upCf.farmerSlug + '/up/' + up.slug)"
            [disabled]="productNotificationOpen" width="auto">
            <span>{{textSrv.getText('See project')}}</span>
          </cf-button>
        </div>
        <!-- Renewal period ended and no available UPS or Renewal period has not begun yet -->
        <div class="mt-m"
          *ngIf="!app && isMultiShot && status.outOfSeason && ((status.renovationClosed) || status.renewNotOpen) || orderRefunded">
          <cf-button (click)="navigateToFarmersMarket()" [disabled]="productNotificationOpen"
            width="auto">
            <span>{{t('page.header-de-button.button')}}</span>
          </cf-button>
        </div>
      </div>

      <!-- ONE SHOT -->
      <div class="mt-m box-border border-rs pa-m"
        *ngIf="isOneShot && status.renewOpen && products && products.length > 0 && !status.adoptionLiberated">
        <div class="t-l-medium t-black-H">{{textSrv.getText('Box content')}}</div>

        <ul class="list-unstyled t-grey nomb mt-s">
          <li *ngFor="let product of products; let i = index" [ngClass]="{hidden: i >= 5 && !isShown}">
            {{product.quantity}}x&nbsp;{{product | translation: '_m_name'}}
          </li>
        </ul>
        <cf-button [size]="'s'" iconLeft="true" [flat]="true" class="nop mt-s" *ngIf="products && products.length > 5"
          (click)="isShown = !isShown">
          <i class="eva eva-plus-circle-outline" aria-hidden="true"></i>
          <div>{{textSrv.getText('See more')}}</div>
        </cf-button>
      </div>

      <!-- MULTISHOT -->
      <!-- On season or off season but renewal period open-->
      <div class="mt-m box-border border-rs pa-m"
        *ngIf="isMultiShot && ((status.onSeason && masterBoxReserved - masterBoxUsed > 0) || ((status.outOfSeason && status.renewOpen) ||
          (status.onSeason && status.renewOpen && masterBoxLeft === 0))) && !upCf.isDead && !orderRefunded">
        <div class="d-flex align-items-center justify-content-between mt-s mb-s">
          <p class="nomb" [ngClass]="{'t-black-H': isCalculateCostsActive, 't-grey': !isCalculateCostsActive}">
            {{textSrv.getText('Logistic calculator link')}}
          </p>
          <cf-toggle (valueChange)="openSeasonSimulator()"></cf-toggle>
        </div>
        <div *ngIf="isCalculateCostsActive">
          <season-calculator [data]="calculateCostsData"></season-calculator>
        </div>
      </div>

      <div *ngIf="showAutoRenewalSwitch" class="mt-m box-border border-rs pa-m">
        <div class="f18 t-m-medium t-black-H mb-s">{{t('page.automatic-renewal.title')}}</div>
        <div class="d-flex align-items-center justify-content-between mt-s mb-s">
          <p class="nomb" [ngClass]="{'t-black-H': isCalculateCostsActive, 't-grey': !isCalculateCostsActive}">
            {{t('page.automatic-renewal.body')}}
          </p>
          <cf-toggle id="chkAutoRenew" [(value)]="autoRenewActive" (valueChange)="toggleAutoRenew()"></cf-toggle>
        </div>
      </div>
    </div>

    <div class="col-12 col-md-6 pr-m pl-s mob-pl-m d-flex flex-column" *ngIf="orders">
      <div class="box-border border-rs pa-m">
        <div class="f18 t-m-medium t-black-H mb-s">{{textSrv.getText('Latest orders')}}</div>

        <div class="order-cards">
          <div *ngFor="let order of orders; index as id" class="mb-s">
            <order-card *ngIf="id <= 2" [order]="order" (detailInUp)="detailInUp(id)" minVersion="true"></order-card>
          </div>
        </div>
      </div>

      <div #documentationSection id="documentationSection" class="mt-m box-border border-rs pa-m">
        <div class="f18 t-m-medium t-black-H">{{textSrv.getText('Documentation')}}</div>

        <div class="d-flex flex-column mt-s">
          <div class="d-flex align-items-center justify-content-between">
            <p class="documentation-text t-grey t-m-medium">{{textSrv.getText('technical profile')}}</p>
            <button class="download-btn" (click)="loadProfile()">
              <i class="eva eva-download-outline t-h3-regular"></i>
            </button>
          </div>
          <div class="d-flex align-items-center justify-content-between">
            <p class="documentation-text t-grey t-m-medium">{{textSrv.getText('certificate')}}</p>
            <div class="d-flex">
              <button class="edit-btn" (click)="editCert()">
                <i class="eva eva-edit-outline t-h3-regular"></i>
              </button>
              <button class="download-btn" (click)="loadCert()">
                <i class="eva eva-download-outline t-h3-regular"></i>
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
