<div *transloco="let t" class="order-group-card" tabindex="1" (click)="goToOrderDetail()">
  <div class="order-group-card__images-wrapper">
    <images-group [images]="images"></images-group>
  </div>
  <div class="order-group-card__container">
    <div class="order-group-card__info-wrapper">
      <span class="order-group-card__text order-group-card__text--description">{{ orderNumber }} · {{ createdAt }}</span>
      <!-- Title -->
      <p class="order-group-card__text order-group-card__text--title">
        {{t('global.group-order.text-info')}}
      </p>

      <!-- Order participants -->
      <p class="order-group-card__text order-group-card__text--subtitle">
        {{t('global.number-people.text-info', {'number': amountPeople})}}
      </p>
      <span class="order-group-card__text order-group-card__text--total-price hide-desktop">{{ totalPrice | currency }}</span>

      <!-- Price paid -->
      <div *ngIf="!hasBeenCancelled && !tagStatus" class="order-group-card__price-paid-wrapper">
        <span class="order-group-card__text order-group-card__text--price-paid-amount t-s-regular t-grey">
          <span class="t-bold text-black">{{totalPrice === pricePaid ? "100%" : pricePaid | currency}}</span>
          <span class="ml-xs">{{t('global.paid.text-info')}}</span>
        </span>
      </div>

      <!-- Progess bar -->
      <div *ngIf="!hasBeenCancelled && !tagStatus" class="progress-bar">
        <div [ngStyle]="{'width': ((pricePaid / totalPrice) * 100) + '%'}"></div>
      </div>

      <!-- Order status -->
      <div class="mt-2">
        <order-status-chip *ngIf="!hasBeenCancelled && tag && tagStatus && !filterCanceledState"
          [leftStatusLabel]="tagLeftStatusLabel" [leftTicketLabel]="tagLeftTicketLabel" [statusParams]="tagStatus">
        </order-status-chip>
        <!-- Canceled order status -->
        <order-status-chip *ngIf="hasBeenCancelled || filterCanceledState" [statusParams]="orderStatusCanceled || tagStatus"></order-status-chip>
      </div>
    </div>

    <!-- Total price -->
    <div class="order-group-card__total-price-wrapper hide-mobile">
      <span class="order-group-card__text order-group-card__text--total-price">{{ totalPrice | currency }}</span>
      <span aria-hidden="true" class="eva eva-chevron-right-outline f22"></span>
    </div>
  </div>
</div>
