@import '../../../../../scss/commons.scss';

.order-group-card {
  padding: 1rem;
  background-color: $white;
  height: 100%;
  max-height: 200px;
  display: flex;
  border-radius: 5px;
  transition: box-shadow 0.35s ease;

  &:hover,
  &:focus {
    outline: none;
    box-shadow: 0 8px 16px 0 rgba(121, 131, 143, 0.32);
    cursor: pointer;

    .eva-chevron-right-outline {
      color: map_get($color, 'primary');
    }
  }

  &__images-wrapper {
    width: 95px;

    @media (min-width: map_get($grid-breakpoints, 'lg')) {
      width: 140px;
    }
  }

  &__container {
    width: 100%;
    margin-left: 1rem;
    flex: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__info-wrapper {
    height: min-content;
    width: 100%;
    display: grid;
    align-items: center;

    @media (min-width: map_get($grid-breakpoints, 'lg')) {
      width: 70%;
    }
  }

  &__text-block {
    display: grid;
  }

  &__text {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;

    &--title {
      margin-bottom: 0;
      font-weight: 600;
      font-size: 16px;
      line-height: 24px;
      color: $darkTexts;
    }

    &--subtitle {
      font-weight: 400;
      font-size: 16px;
      line-height: 24px;
      margin-bottom: 16px;
      color: $CF3;

      @media (max-width: map_get($grid-breakpoints, 'md')) {
        margin-bottom: 0;
      }
    }

    &--description {
      font-weight: 400;
      font-size: 14px;
      line-height: 20px;
      color: $CF3;

      @media (max-width: map_get($grid-breakpoints, 'md')) {
        display: none;
      }
    }

    &--payment {
      font-weight: 400;
      font-size: 14px;
      line-height: 20px;
      color: $CF3;
    }

    &--total-price {
      margin-right: 24px;
      font-size: 16px;
      font-weight: 400;
      color: $CF3;

      @media (max-width: map_get($grid-breakpoints, 'md')) {
        margin-bottom: 16px;
      }
    }
  }

  &__price-paid-wrapper {
    display: flex;
    align-items: flex-end;
  }

  &__total-price-wrapper {
    @media (min-width: map_get($grid-breakpoints, 'lg')) {
      margin-left: 1rem;
      display: flex;
      flex-wrap: nowrap;
      align-items: center;
    }
  }
}

.eva-chevron-right-outline {
  color: $CF3;
}

.progress-bar {
  margin: 0.5rem 0;
  width: 100%;
  height: 6px;
  background-color: #dfe3e3;
  border-radius: 6px;

  @media (min-width: map_get($grid-breakpoints, 'lg')) {
    width: 60%;
  }

  & > div {
    border-radius: 6px;
    height: 100%;
    background-color: map_get($color, 'primary');
  }
}
