<div class="filters d-flex flex-row flex-wrap justify-content-start align-items-center">
  <div *ngFor="let item of filter; index as id"
    class="item d-flex col-md-6 flex col-lg-3 flex-nowrap justify-content-start"
    [ngClass]="{'disabled': !item.available}" (click)="checkItem(id, !item.available)">
    <cf-check *ngIf="!domSrv.getIsDeviceSize()" [(checked)]="item.checked" [colour]="'grey1BG'"
      class="d-flex align-items-center ml-m" [disabled]="!item.available" [decorative]="true">
    </cf-check>
    <div class="col-10 content nop d-flex align-items-center">
      <img *ngIf="(pickedFilter === 'seals') || (pickedFilter === 'categories')" class="" src="{{item.imageUrl | cdn}}" alt="" >
      <div *ngIf="pickedFilter === 'countries'" class="flag-icon flag-icon-{{item.iso}}">
      </div>
      <span class="t-l-regular" [ngClass]="{'checked':item.checked}">
        {{(item | translation:'name')}}
      </span>
    </div>
    <cf-check [(checked)]="item.checked" *ngIf="domSrv.getIsDeviceSize()"
      class=" col-2 cf-check-container cf-component d-flex align-items-center nop justify-content-end"
      [colour]="'grey1BG'" [disabled]="!item.available" [decorative]="true">
    </cf-check>
  </div>
</div>
