<ng-container *transloco="let t">
  <section class="cf-tracking-info">
    <div class="d-flex t-body-s text-primary-88">
      <span class="mr-16">{{ t('global.Shipping.text-info') }}</span>
      <a
        class="d-flex cf-tracking-info__link"
        target="_blank"
        [href]="orderData.lapiInfo.boxes[0]?.trackingLandingURL">
        <span class="text-primary-48">{{ orderData.lapiInfo?.providerPublicName[0] }}</span>
        <span class="ml-8">
          <ds-icon name="external-link" size="ds--size-20" color="semantic-primary-medium"></ds-icon>
        </span>
      </a>
    </div>
    <div class="d-flex t-body-s text-primary-88">
      <span class="mr-16">{{ t('global.tracking.title') }}</span>
      <span class="text-grey-56">{{ orderData.lapiInfo.boxes[0].tracking.trackId }}</span>
    </div>
  </section>
  <a *ngIf="getCheckStatus()" class="d-flex cf-tracking-info__link t-component-semibold-s mt-16" target="_blank" [href]="openIncidentLink">
    <span class="text-primary-48">{{ t('page.Report-issue.title') }}</span>
  </a>
</ng-container>
