@import '@crowdfarming/ds-library/src/styles/global';

.cf-tracking-info {
  position: relative;
  display: inline-flex;
  flex-direction: column;
  background: map-get($globalColors, 'ds--color-grey-4');
  border: pxToRem(1) solid map-get($globalColors, 'ds--color-grey-16');
  border-radius: pxToRem(8);
  padding: pxToRem(16);

  &__link {
    &:hover {
      text-decoration: none;
    }
  }
}
