<div *transloco="let t" class="product-go-invitation">
  <div class="row align-items-center pointer" (click)="toggleDetail()">
    <div class="col-3 col-md-2">
      <div #square class="product-img overflow-hidden" [ngStyle]="{ 'height.px': square.offsetWidth }">
        <img class="w-100 h-100" [src]="getProductImgSrc() | cdn" [alt]="getProductImgAlt()" />
      </div>
    </div>

    <div class="col">
      <h4 class="t-black-T t-m-medium nom mb-1">{{ getProductTitle() }} {{ product.up | translation: 'production' }}</h4>
      <p class="t-black-T t-m-bold mb-s nom nop">
        {{ t('page.delivery-date.title') }}:
        <span class="nop nom t-m-regular t-grey-o">{{ utilsSrv.dateForFront(product.selectedDate) }}</span>
      </p>
    </div>

    <div class="col-auto">
      <i class="eva eva-chevron-down-outline t-grey t-s-medium ml-1" [ngClass]="{ rotate: showDetail }"></i>
    </div>
  </div>

  <div
    class="product-go-invitation__detail"
    [@collapse]="!showDetail"
    (@collapse.start)="onAnimationEvent($event)"
    (@collapse.done)="onAnimationEvent($event)">
    <div class="product-go-invitation__detail-container" *ngIf="detailAnimationDone">
      <div class="dropdown-container">
        <div class="d-flex flex-column">
          <p
            class="nop nom t-m-regular t-grey-o"
            [ngClass]="{ 'mb-1': i < product.products.length - 1 }"
            *ngFor="let mbProduct of product.products; let i = index">
            {{ mbProduct.quantity }} x {{ mbProduct | translation: 'name' }}
          </p>
        </div>

        <div class="product-go-invitation-price d-flex justify-content-end">
          <p class="nop nom t-m-bold t-black-T">{{ product.price | currency }}</p>
        </div>
      </div>
    </div>
  </div>
</div>
