<div class="payment card">
  <div class="row">
    <div class="col">
      <custom-input [formControl]="nameFC" placeholder="{{ 'page.name-surname.form' | transloco }}"></custom-input>
    </div>
  </div>
  <div class="row mt-m">
    <div class="col">
      <div #cardElement class="stripe-element card" [ngClass]="{ hidden: !showStripe }"></div>
      <p class="stripe-element__error nom mt-s" *ngIf="cardError">{{ cardError }}</p>
    </div>
  </div>
  <div class="mt-l">
    <cf-button [width]="'auto'" (click)="onAdd()" [disabled]="!nameFC.valid || !isCardDataComplete || !!cardError">
      {{ 'page.pay.button' | transloco }}
    </cf-button>
  </div>
</div>
