<ng-container *transloco="let t">
  <div class="checkout-shipment-section">
    <h4 class="t-h6-bold t-black-H mb-m">
      <ng-container [ngSwitch]="displayType">
        <ng-container *ngSwitchCase="'default'">{{ t('page.shipping-address.title') }}</ng-container>
        <ng-container *ngSwitchCase="'select'">{{ t('page.select-address.text-info') }}</ng-container>
        <ng-container *ngSwitchCase="'edit'">{{ t('page.edit-address.button') }}</ng-container>
        <ng-container *ngSwitchCase="'add'">{{ t('page.new-shipping-address.text-link') }}</ng-container>
      </ng-container>
    </h4>

    <ng-container *ngIf="displayType === 'default' || displayType === 'select'; else addressFormTpl">
      <ng-container *ngIf="isOptionSelected && !isAddressSelectorActive; else optionSelectorTpl">
        <user-address-card
          [address]="selectedAddress$ | async"
          [countriesByIso]="countriesByIso"
          (editAddress)="handleEditAddress()"></user-address-card>
      </ng-container>

      <div class="row justify-content-between align-items-center mt-m">
        <div class="col-auto">
          <p *ngIf="selectedAddressId" class="t-m-medium nom pointer" (click)="addressSelectorActiveToggle()">
            <ng-container *ngIf="isAddressSelectorActive">{{ t('page.return.button') }}</ng-container>
            <ng-container *ngIf="!isAddressSelectorActive">{{ t('page.select-another-delivery-address.text-link') }}</ng-container>
          </p>
        </div>

        <div *ngIf="isAddressSelectorActive" class="col-auto">
          <div class="pointer d-flex align-items-center" (click)="addNewAddress()">
            <i class="eva eva-plus-outline t-m-medium mr-2" aria-hidden="true"></i>
            <span class="t-m-medium">{{ t('global.add-shipment-address.text-link') }}</span>
          </div>
        </div>
      </div>
    </ng-container>
  </div>

  <ng-template #addressFormTpl>
    <address-form
      [addressToEdit]="addressToEdit"
      [canGoBack]="!!addresses.length"
      [showFavCheckbox]="showAddressFormFavCheckbox"
      [countriesByIso]="countriesByIso"
      (goBack)="handleGoBack()"
      (submitForm)="submitFormHandler($event)"></address-form>
  </ng-template>

  <ng-template #optionSelectorTpl>
    <ul *ngIf="addresses.length > 0" class="user-addresses-list">
      <li class="user-address" *ngFor="let item of maxAddresses; let i = index">
        <user-address-card
          [selectable]="true"
          [address]="item"
          [countriesByIso]="countriesByIso"
          [isOptionSelected]="selectedAddressId === item.id"
          (optionSelectedChange)="handleOptionSelected(i)"
          (editAddress)="handleEditAddress(item.id)">
        </user-address-card>
      </li>
    </ul>
    <full-list-toggle *ngIf="addresses.length > 2" [(displayFullList)]="fullListLength"></full-list-toggle>
  </ng-template>
</ng-container>
