@import '../../../../../scss/commons';

.promotion {
  &:hover {
    text-decoration: none;
  }

  &-name {
    display: flex;
    flex-direction: column;
    margin-left: 32px;
    margin-top: 6px;
    border-bottom: 2px solid #64b2ae;
    color: black;
    padding-bottom: 10px;

    span {
      @media (max-width: map_get($grid-breakpoints, 'xl')) {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        width: 140px;
      }

      @media (max-width: map_get($grid-breakpoints, 'md')) {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        width: 100%;
      }
    }
  }

  &-container {
    max-width: 352px;
    box-shadow: 0 5px 10px -1px rgba(0, 0, 0, 0.3);
    transition: transform 1.5s ease, box-shadow 1.5s ease;
    height: 100%;
    border-radius: 5px;
    overflow: hidden;
    position: relative;
    display: flex;
    flex-wrap: wrap;

    &:hover {
      transform: translate(0, -5px);
      box-shadow: 0 20px 20px -10px rgba(0, 0, 0, 0.3);
    }
  }

  &-image {
    text-align: center;
    background-position: center;
    background-size: cover;
    height: 248px;
    width: 100%;
    font-size: 25px;
    font-weight: 900;

    @media (min-width: map_get($grid-breakpoints, 'md')) {
      min-height: 248px;
    }
  }

  &-location {
    padding: 5px 7px;
    background: rgba(255, 255, 255, 0.7);
    color: $CF1;
    width: 40%;
    height: fit-content;
    position: absolute;
    bottom: 15px;
    right: 10px;
  }

  &-title {
    margin: 0 auto 0 auto;
    height: 98px;
    color: $CF1;
    min-height: 65px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .country-promos {
    background-color: $blackBG;
    color: white;
    font-size: 13px;
    font-weight: 200;
    padding: 2px 33px;
    border-radius: 15px;
    position: absolute;
    bottom: 0;
    right: 16px;
    margin-bottom: 8px;
  }

  // Loading...

  &-container-loading {
    min-height: 200px;

    .loading-container {
      background: linear-gradient(to right, #eee 8%, #ddd 18%, #eee 33%);
      background-size: 200% 100% !important;
      animation-name: loadAnimation;
      animation-duration: 5s;
      animation-iteration-count: infinite;
      animation-timing-function: linear;

      &-green {
        background: linear-gradient(to right, #c3f5f2 8%, #b2e4e1 18%, #c3f5f2 33%);
      }
    }

    @keyframes loadAnimation {
      0% {
        background-position: 100% 0;
      }

      20% {
        background-position: 100% 0;
      }

      100% {
        background-position: -100% 0;
      }
    }

    .promotion-image {
      background-color: rgba(50, 50, 50, 1);
    }

    .promotion-title {
      width: 80%;
      height: 24px;
      margin: 40px auto 30px auto;
    }

    .promotion-button {
      width: 75%;
      height: 45px;
      border-radius: 5px;
      margin: 30px auto 30px;
    }
  }

  .promotion-button .cf-button {
    box-shadow: none;
  }

  .btn-sub {
    height: 16px;
    font-family: Montserrat, sans-serif;
    font-size: 12px;
    color: rgba(121, 131, 143, 0.9);
  }
}
