<!-- OPEN PROJECT -->
<div *ngIf="ss.upsAvailable && ss.inSeason" class="text t-grey t-l-medium"
  [innerHTML]="textSrv.getText('This project is active. Adopt {publicVariety}', {'{publicVariety}' : up.publicVariety})">
</div>
<!-- OUT OF SEASON -->
<div *ngIf="!ss.inSeason" class="text t-grey t-l-medium"
  [innerHTML]="textSrv.getText('There is not available dates to make a shipment, it can be too late or too early')">
</div>
<!-- COMPLETED -->
<!-- OH -->
<div *ngIf="ss.ohAvailable && !ss.upsAvailable && !ss.cantSendCountry && !ss.noDatesLeft && ss.inSeason"
  class="text t-grey t-l-medium"
  [innerHTML]="textSrv.getText('You are late to adopt {publicVariety}, but you can buy overharvest of {publicName}',
    {'{publicVariety}' : up?.publicVariety, '{publicName}' : up?.selectedMasterBox?.name})">
</div>
<!-- !OH -->
<div *ngIf="!ss.upsAvailable && !ss.ohAvailable && !ss.cantSendCountry && !ss.noDatesLeft && ss.inSeason"
  class="text t-grey t-l-medium"
  [innerHTML]="textSrv.getText('You are late to adopt {publicVariety}, but you can take a look to other proyects')">
</div>
<!-- GEO NO AVAILABLE -->
<!-- cant send to that country -->
<div *ngIf="ss.cantSendCountry && ss.inSeason" (click)="openLocationSelector()" class="text">
  <span class="t-grey t-l-medium" [innerHTML]="textSrv.getText('The farmer does not ship to the selected country yet:')">
  </span>&nbsp;
  <span class="t-green-primary t-l-medium pointer text-underline">{{countriesByIso[selectedCountry] |
    translation:'name'}}</span>
  <i class="ml-xs t-green-primary fa fa-angle-down t-xl-medium"></i>
</div>
<!-- not available dates for that country -->
<div *ngIf="ss.noDatesLeft && ss.inSeason" class="text">
  <span class="t-grey t-l-medium"
    [innerHTML]="textSrv.getText('The farmer has not any dates to {country}. Take a look to other proyects')">
  </span>&nbsp;
  <span (click)="openLocationSelector()" class="t-green-primary t-l-medium pointer text-underline">
    {{countriesByIso[selectedCountry] | translation: 'name'}}
  </span>
  <i class="ml-xs t-green-primary fa fa-angle-down t-xl-medium"></i>
</div>
