@import '../../../scss/commons.scss';

.img {
  max-height: 80px;
  height: 80px;
}

.type {
  color: black;
  text-decoration: underline;
  margin-top: 5px;
  max-width: calc(100% + 32px);
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}
