<ng-container *transloco="let t">
  <section *ngIf="isLoading && !agroupment?.projects?.length" class="d-flex skeleton-container">
    <project-card
      *ngFor="let dummy of dummySkeleton[type]; let i = index"
      id="project-card-skeleton-container"
      class="mtb mbm pointer col-12 col-md-6"
      [lang]="currentLang"
      [ngClass]="{ 'd-none d-md-block': i >= 1, 'col-lg-4': type === PROJECT_TYPE.ADOPTIONS, 'col-lg-3': type === PROJECT_TYPE.BOXES }"
      [home]="path === FavouriteSection.HOME"
      [adoptionSkeleton]="type === PROJECT_TYPE.ADOPTIONS"
      [boxSkeleton]="type !== PROJECT_TYPE.ADOPTIONS"
      [adoption]="type === PROJECT_TYPE.ADOPTIONS"></project-card>
  </section>
  <ds-agroupments
    *ngIf="agroupment?.projects?.length"
    [title]="path === FavouriteSection.LANDING ? '' : agroupment._m_title[currentLang]"
    [data]="agroupment.projects"
    [contentType]="setSizeAgroupment()">
    <ng-template let-item let-i="index">
      <ds-adoption-card
        *ngIf="type === PROJECT_TYPE.ADOPTIONS"
        class="pointer"
        [isFavourite]="favouriteSrv.isFavourite(type, item.up.id)"
        [hasFavourite]="(path === FavouriteSection.FM && favouriteSrv.favouriteFM$ | async) || (path === FavouriteSection.LANDING && favouriteSrv.favouriteLanding$ | async)"
        [imageUrl]="item.up.pictureURL"
        [imgAlt]="'Picture'"
        [overline]="cardSrv.getAdoptionText(item.up)"
        [title]="item.up | translation : 'title'"
        [farmerName]="item.farmer.name"
        [farmName]="item.farm | translation : 'name'"
        [country]="item.farm.country"
        [deliveryDate]="cardSrv.setDeliveryDates(item)"
        [price]="cardSrv.getMbAdoptionPrice(item) | currency"
        [multipleMbsFromText]="t('global.Adopt.From')"
        [minWeight]="cardSrv.getWeight(item)"
        [seals]="item.upSeals?.header | translateSeals"
        [areMultipleMbs]="false"
        [tagState]="cardSrv.getTagState(item)"
        [imageTagIcon]="path !== FavouriteSection.LANDING && (stateSrv.giftEnabled && item.filters.giftAvailable ? 'gift' : null)"
        [tagText]="t(cardSrv.getTagText(item).key, { units: cardSrv.getTagText(item).params })"
        (isFavouriteChange)="favouriteSrv.handleFavourite(item, {index: i, agroupmentName: agroupment._m_title.en}, type)"
        (cardClick)="handleCardClick(item, i, agroupment)">
      </ds-adoption-card>
      <ds-oh-card
        *ngIf="type === PROJECT_TYPE.BOXES"
        class="pointer"
        [ngClass]="{ 'col-lg-4': domSrv.getIsDeviceSize('laptop') }"
        [isFavourite]="favouriteSrv.isFavourite(type, item.up.id)"
        [hasFavourite]="(path === FavouriteSection.FM && favouriteSrv.favouriteFM$ | async) || (path === FavouriteSection.LANDING && favouriteSrv.favouriteLanding$ | async)"
        [imageUrl]="item.up.pictureURL"
        [imgAlt]="'Picture'"
        [title]="item.up | translation : 'title'"
        [farmerName]="item.farmer.name"
        [farmName]="item.farm | translation : 'name'"
        [country]="item.farm.country"
        [deliveryDate]="cardSrv.setDeliveryDates(item)"
        [price]="cardSrv.getMbOhPrice(item) | currency"
        [weight]="cardSrv.getMbOhWeight(item.filters.masterBoxes[0])"
        [selectBoxSize]="cardSrv.isMBsSelectorVisibleForOh(item.filters.masterBoxes)"
        [selectLabel]="t('page.box-size.drop')"
        [options]="item?.options"
        [selectedOption]="item?.defaultMb"
        [selectDisabled]="cardSrv.areAllMbsDisabled(item.filters.masterBoxes)"
        [buttonContent]="t('page.cart.buttom')"
        [seals]="item.upSeals?.header | translateSeals"
        [buttonDisabled]="cardSrv.isButtonDisabled(item)"
        [buttonHasIcon]="false"
        (toggleChange)="setSelectedMb($event, item)"
        (emitButtonClick)="addToCart(item, i, false, agroupment?._m_title?.en); $event.preventDefault()"
        (isFavouriteChange)="favouriteSrv.handleFavourite(item, {index: i, agroupmentName: agroupment._m_title.en}, type)"
        (cardClick)="handleCardClick(item, i, agroupment)">
      </ds-oh-card>
    </ng-template>
  </ds-agroupments>
</ng-container>
