@import '../../../../../scss/commons.scss';

.gp-info-popup {
  &-container {
    width: 100%;
    max-width: 100%;

    @media (min-width: map_get($grid-breakpoints, 'xl')) {
      width: 1140px;
      max-width: 540px;
    }
  }

  &__placeholder {
    width: 100%;
    max-width: 200px;
  }
}
