<div class="collapsable-card">
  <card>
    <ng-container body>
      <div class="collapsable-card__main">
        <div class="row align-items-center">
          <div class="col">
            <span [ngClass]="isActive ? 't-black-T t-m-medium' : 't-grey-o t-m-regular'">{{ title }}</span>
          </div>
          <div class="col-auto">
            <cf-toggle [value]="isActive" (valueChange)="onIsActiveChange()"></cf-toggle>
          </div>
        </div>
      </div>
      <div class="collapsable-card__collapsable-content" [@collapse]="!isActive">
        <div class="pt-m">
          <ng-content></ng-content>
        </div>
      </div>
    </ng-container>
  </card>
</div>
