<div class="ilustration" *ngIf="!isMobile"></div>
<div *transloco="let t" class="container-fluid info-how-section pt-l pb-l mob-pt-s mob-pb-s">
  <div class="container nop">
    <h4 class="title t-h2-blackW t-a-center t-black-T d-block nom  mt-4 mt-md-0">
      {{t('page.make-real-impact.title')}}
    </h4>
    <div class=" row pt-xl mob-pt-s" id="market-cards-icons">
      <div *ngFor="let card of cards; let i=index" class="card-container col-12 col-md-6 my-4 my-md-0">
        <div class="info-how-section-content col-12 text-center">
          <img class="w-100 pb-l" [src]="card.img" alt="{{t(card.title)}}"/>
          <div class="texts pr-0 pl-md-0">
            <p class="d-lg-block t-h3-bold t-primary-T t-a-center nom">
              {{t(card.title)}}
            </p>
            <p class="t-m-medium t-black-T t-a-center nom pt-4 fw-lighter"
              [ngClass]="{'unfoldDiv': isUnfold && indexCard === i}">
              {{t(card.text)}}
            </p>
            <div *ngIf="isMobile" class="fold-button">
              <a (click)="unfold(i)">
                {{ t(isUnfold ? 'global.read-less.text-link' : 'page.learn-more.text-link')}}
              </a>
            </div>
            <cf-button [width]="'auto'" (click)="routerSrv.navigateToFarmersMarket(card.section)">
              {{t(card.linkText)}}
            </cf-button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>