<ng-container *transloco="let t">
  <div class="go-invitation">
    <ng-container *ngIf="isPageLoaded">
      <ng-container *ngIf="isAvailable; else noSlotsTpl">
        <div class="container">
          <div class="row justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-6">
              <p class="t-black-T t-m-medium mb-l" [innerHTML]="headerText | safeHtml"></p>

              <div class="divider mb-l"></div>

              <h4 class="t-black-H t-l-bold mb-l">{{ t('global.oder-summary.title') }}</h4>

              <ul class="products-list mb-l">
                <li class="product" *ngFor="let product of products; let i = index">
                  <app-product-go-invitation [product]="product"></app-product-go-invitation>
                </li>
              </ul>

              <div class="row justify-content-between mb-l">
                <div class="col-auto">
                  <p class="t-black-H t-l-bold nom">{{ t('page.total-amount.body') }}</p>
                </div>
                <div class="col-auto">
                  <div class="d-flex flex-column align-items-end">
                    <p class="t-xs-regular t-grey nom">{{ t('global.vat-included.text-info') }}</p>
                    <p class="t-l-bold t-green-primary nom">{{ purchaseInfo?.totalToPay?.amount | currency }}</p>
                  </div>
                </div>
              </div>

              <p class="t-grey t-m-regular nop mb-l">
                <sup>*</sup>
                {{ t('page.shipping-vary-weather.body') }}
              </p>

              <div class="divider mb-l"></div>

              <div class="green-box">
                <div class="row justify-content-between align-items-center mb-3">
                  <div class="col">
                    <p class="t-black-T t-m-medium nom">{{ t('page.your-part-to-pay.label') }}</p>
                  </div>
                  <div class="col-auto">
                    <p class="t-l-bold t-green-primary nom">{{ purchaseInfo?.totalToPay?.groupOrderAmount?.guests | currency }}</p>
                  </div>
                </div>

                <cf-button [width]="'auto'" (click)="onPayButtonClick()">
                  {{ t('page.complete-order.button') }}
                </cf-button>
              </div>
            </div>
          </div>
        </div>
      </ng-container>
    </ng-container>

    <div [hidden]="!isPageLoaded || isAvailable || !isCsActive" class="container cross-selling mb-xxl mt-xxl">
      <div [hidden]="loadingProjects">
        <cross-selling-block-component
          #CSBlockCmp
          [params]="csParams"
          [specifications]="csSpecifications"
          [loadOnInit]="false"
          (crossSellingProductAdded)="onCrossSellingProductAdded()"
          (crossSellingProductReceived)="onCrossSellingProductReceived()"></cross-selling-block-component>
      </div>

      <div *ngIf="loadingProjects" class="rowNoMargin d-flex">
        <project-card
          *ngFor="let dummy of [1, 2, 3, 4]; let i = index"
          id="project-card-cont"
          class="project-card-cont mtb mbm pointer col-12 col-md-6 col-lg-3"></project-card>
      </div>
    </div>
  </div>
</ng-container>

<ng-template #noSlotsTpl>
  <ng-container *transloco="let t">
    <div class="container">
      <div class="row align-items-center">
        <div class="col-lg-6">
          <img src="../../../../../assets/img/group-order/no-slots.svg" class="w-100" />
        </div>
        <div class="col-lg-6">
          <h2 class="t-black-H no-slots__header-title">{{ t('page.group-order-not-available.title') }}</h2>
          <div class="t-m-regular t-grey-o" [innerHTML]="t('page.group-order-not-available.body') | safeHtml"></div>
          <div class="no-slots__cta">
            <cf-button (click)="navToRoute()">{{ t('page.header-de-button.button') }}</cf-button>
          </div>
        </div>
      </div>
    </div>
  </ng-container>
</ng-template>
