@import '@crowdfarming/ds-library/src/styles/global';

.infography-item {
  width: 100%;
  min-width: 280px;

  @include bp(device-m) {
    min-width: 186px;
  }

  .image {
    border-radius: 8px;
    width: 100%;
  }

  .title {
    color: map-get($contentColors, 'content-1');
    text-align: center;
    margin: 8px 0;
  }

  .description {
    text-align: center;
    color: map-get($contentColors, 'content-1');
  }
}
