@import '../../../scss/colors.scss';

.countries-prefix-mbl-trigger {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 9;
}

::ng-deep cf-select .cf-select-options {
  min-width: 300px;
}

::ng-deep cf-select .cf-select-box {
  padding-right: 32px !important;
}

::ng-deep #add-address-prefix-input .cf-select-box .cf-select-selected .country-name {
  display: none;
}

::ng-deep #add-address-prefix-input .cf-select-box .cf-select-selected .country-prefix {
  white-space: pre-wrap;
}

::ng-deep #add-address-prefix-input .cf-select-options .country-name {
  white-space: pre-wrap;
}

::ng-deep #add-address-prefix-input .cf-select-options .country-prefix {
  white-space: nowrap;
}
