@import '../../../scss/colors.scss';

.country-selector-container {
  position: relative;
}

.countries-mbl-trigger {
  position: absolute;
  left: 0;
  width: 100%;
  height: calc(100% + 18px);
  top: -18px;
  z-index: 9;
}

::ng-deep #add-address-country-input .cf-select-box .cf-select-selected .country-name {
  white-space: pre-wrap;
}

::ng-deep #add-address-country-input .cf-select-options .country-name {
  white-space: pre-wrap;
}
