<section *transloco="let t" class="country-selector-container">
  <cf-select #countrySelector [placeholder]="label ? t(label) : t('page.Country.title')" optionsId="country-option"
    [(selected)]="dataToReturn" [whiteSelect]="true" (selectedChange)="saveCountry()" [error]="error">
    <div selected *ngIf="dataToReturn" class="cf-select-selected overflow-text p-relative">
      <div class="d-flex align-items-center">
        <div *ngIf="flag" class="flag-icon"
          [ngClass]="data[countrySelect.indexOf(dataToReturn)].iso ? 'flag-icon-' + data[countrySelect.indexOf(dataToReturn)].iso : ''"></div>
        <span class="country-name">
          {{ data[countrySelect.indexOf(dataToReturn)]._m_name[langSrv.getCurrentLang()] || data[countrySelect.indexOf(dataToReturn)]._m_name.en }}
        </span>
        <div *ngIf="domSrv.getIsDeviceSize()" class="countries-mbl-trigger" (click)="openCountrySelector()"></div>
      </div>
    </div>
    <div options class="cf-select-options">
      <div class="cf-select-option overflow-text" *ngFor="let country of data; let i = index"
        (click)="selectOption(countrySelect[i])" [id]="optionsId + '-' + i">
        <div class="d-flex align-items-center">
          <div *ngIf="flag" class="flag-icon" [ngClass]="country.iso ? 'flag-icon-' + country.iso : ''">
          </div>
          <span class="country-name">
            {{country._m_name[langSrv.getCurrentLang()]}}
          </span>
        </div>
      </div>
    </div>
  </cf-select>
</section>
