<div *transloco="let t" class="summary">
  <div class="summary__header">
    <h4 class="t-black-T summary__header-title">{{t('page.crowdgiving-donation-summary.title')}}</h4>
  </div>

  <div class="summary__body">
    <div class="selected-ngo">
      <card>
        <ng-container body>
          <app-cg-ngo-card [ngo]="selectedNgo"></app-cg-ngo-card>
        </ng-container>
      </card>
    </div>

    <div class="selected-products">
      <div *ngFor="let product of selectedProducts" class="selected-products__item">
        <card>
          <ng-container body>
            <app-cg-product-card [product]="product" [showQuantityLabel]="true"></app-cg-product-card>
          </ng-container>
        </card>
      </div>
    </div>
  </div>
</div>