<div class="container subscription-box-checkout" *transloco="let t">
  <!-- Next box section -->
  <ng-container *ngIf="plan">
    <div class="subscription-info-box d-flex flex-wrap justify-content-between mt-32 mb-32">
      <p class="t-component-semibold-l t-black-H">{{t('discoverybox.page.subscription-details-box.title')}}</p>
      <p class="t-component-semibold-l t-black-H">{{ plan.price | currency:'EUR' }}</p>
    </div>

    <div *ngIf="plan.boxes[plan.nextBox] as nextBox" class="container row mx-auto mb-32 p-0 next-box">
      <div class="next-box--title mb-16">
        <h2 class="t-h6-bold t-black-H">{{ t('discoverybox.page.checkout.title') }}</h2>
      </div>

      <div class="next-box--wrapper d-flex">
        <img [src]="nextBox.image" [alt]="t('discoverybox.global.' + nextBox.monthText + '.month')" class="mr-16" />
        <div class="content d-flex flex-column flex-grow-1 justify-content-center">
          <p class="t-component-semibold-m title">{{ nextBox.multiLangTitle[currentLangIso$ | async] }}</p>
          <p>{{t('page.Estimated-delivery.body')}}: {{ nextBox.deliveryDate | date:'dd/MM/yyyy' }}</p>
          <p>{{t('discoverybox.page.landing.order-before.label')}}: {{ nextBox.processDate | date:'dd/MM/yyyy' }}</p>
        </div>
      </div>
    </div>

    <!-- Address section -->
    <div class="mb-32">
      <shipment-app
        [addresses]="addresses"
        [selectedAddressId]="selectedAddressId"
        [countriesByIso]="countriesByIso"
        [currentIso]="currentCountry$ | async"
        (selectedAddressChange)="onSelectedAddressChangeHandler($event)"
        (addressesOnChange)="addressesOnChangeHandler($event)"
        (editingAddress)="editingAddressHandler($event)"></shipment-app>
    </div>

    <!-- Payment section -->
    <ng-container *ngIf="selectedAddressId && !editingAddress">
      <h2 class="t-h6-bold t-black-H mt-32 mb-16">{{ t('page.payment-method.title') }}</h2>
      <app-payment
        #paymentCmp
        [amount]="plan.price"
        [user]="user"
        [selectedPaymentId]="selectedPaymentId"
        [allowedPaymentMethods]="allowedPaymentMethods"
        [currentIso]="currentCountry$ | async"
        [isDiscoveryBox]="true"
        [(isPaymentMethodSelectorActive)]="isPaymentMethodSelectorActive"
        (selectedPaymentIdChange)="selectedPaymentIdChangeHandler($event)"
        (attachPaymentMethod)="attachPaymentMethodHandler($event)"></app-payment>

      <div *ngIf="!isPaymentMethodSelectorActive" class="payment-section__footer">
        <ds-button
          variant="primary"
          width="full"
          [content]="t('page.pay.button')"
          [disabled]="!isPaymentButtonEnabled"
          (buttonClick)="onPay()"></ds-button>
      </div>

      <!-- Payment method icons -->
      <div class="checkout-payment__footer mt-32 mb-32">
        <p class="t-s-14 t-grey">{{ t('page.secure-payment-methods.body') }}</p>
        <app-payments-methods-icons [showExtraBadges]="true" [allowedPaymentMethods]="allowedPaymentMethods"></app-payments-methods-icons>
      </div>
    </ng-container>
  </ng-container>
</div>
