<div class="popover-accordion cf-shadow-s"
  [ngStyle]="{'height' : scrollableHeight > 0 ? scrollableHeight + 'px' : 'auto', 'overflow-y': 'auto'}" id="accordion">
  <div *ngFor="let section of sections; index as i" (click)="changeSection(i)" class="section t-black-T"
    [ngClass]="section === selected ? 't-l-bold' : 't-l-regular'">
    <div class="container">
      <div *ngIf="section === selected" class="fa fa-angle-right">
      </div>
      {{textSrv.getText(section)}}
    </div>
  </div>
</div>
