<ng-container *transloco="let t">
  <div class="container-fluid is-mobile">
    <div class="wrapper-mobile-menu" id="wrapper-mobile-menu" [ngClass]="{'no-transition': removeMobileMenu}">
      <div class="mobileMenuContainer mh-100 mt-16">
        <!-- Links -->
        <div
          class="col-12 pointer mobile-link-container mobile-link-menu fw6 f16 text-mobile-menu"
          [ngClass]="{ 'active-text': isMenuOpen }"
          (click)="toggleOpen()">
          <div class="d-flex align-items-center">
            {{ t('global.farmers-market.drop') }}
            <i class="eva f24 mgl-4" [ngClass]="isMenuOpen ? 'eva-chevron-up-outline': 'eva-chevron-down-outline'" aria-hidden="true"></i>
          </div>
        </div>
        <div class="mobile-link-container-collapsible" [ngClass]="{'open': isMenuOpen}">
          <div *ngFor="let link of linksFarmersMarket"
            class="t-m-regular ml-xl pl-m pr-m pb-m pt-s"
            (click)="farmersMarketNavigate(link.section)"
            id="{{link.id}}">
            {{t(link.text)}}
          </div>
        </div>
        <div class="col-12 pointer mobile-link-container mobile-link-menu text-mobile-menu fw6 f16"
          (click)="manifest()">
          {{ t('global.Manifesto.button') }}</div>

        <div class="col-12 pointer mobile-link-container mobile-link-menu text-mobile-menu fw6 f16"
          (click)="goToBlog()">
          {{ t('global.blog.text-link') }}</div>

        <!-- Divider between Links and My Account -->
        <hr class="col-11 mobile-line mt-8 mb-8">

        <!-- Country Selector -->
        <div
          class="col-12 pointer mobile-link-container mobile-link-menu text-mobile-menu fw6 f16 d-flex align-items-center"
          (click)="showLocationLangMobileSelector(true)">
          <span>{{t('global.delivery-country.title')}}</span>
          <i class="eva eva-chevron-right-outline f22 mgl-4" aria-hidden="true"></i>
        </div>

        <!-- Language Selector -->
        <div
          class="col-12 pointer mobile-link-container mobile-link-menu text-mobile-menu fw6 f16 d-flex align-items-center"
          (click)="showLocationLangMobileSelector(false)">
          <span>{{t('global.language.drop')}}</span>
          <i class="eva eva-chevron-right-outline f22 mgl-4" aria-hidden="true"></i>
        </div>

        <!-- Divider between Language Selector and Logout -->
        <hr class="col-11 mobile-line mt-8 mb-8" *ngIf="authSrv.isLogged()">

        <!-- My Account -->
        <div *ngIf="authSrv.isLogged()"
          class="col-12 pointer mobile-link-container mobile-link-menu text-mobile-menu fw6 f16 d-flex align-items-center"
          (click)="openUserMenu()">
          <span class="mgl-4">{{t('global.my-account.drop')}}</span>
          <i class="eva eva-chevron-right-outline f22 mgl-4" aria-hidden="true"></i>
        </div>

        <!-- Logout -->
        <div
          class="col-12 pointer mobile-link-container mobile-link-menu text-mobile-menu d-flex align-items-center fw6 f16"
          (click)="logout()" *ngIf="authSrv.isLogged()">
          <i class="eva eva-log-out-outline rotated-icon f24 h25" aria-hidden="true"></i>
          <span class="mgl-4">{{t('global.log-out.drop')}}</span>
        </div>

        <!-- Divider between Links and My Account -->
        <hr class="col-11 mobile-line mt-8 mb-8" *ngIf="!authSrv.isLogged()" >
        <div class="col-12 pointer mobile-link-container mobile-link-menu text-mobile-menu fw6 f16" (click)="login(false)" *ngIf="!authSrv.isLogged()" >
          {{t('global.login.button')}}</div>
      </div>
    </div>
    <div class="background-popup mobile-menu-background" (click)="closeMobileMenu()"></div>
  </div>
</ng-container>
