@import '../../../../../src/scss/commons.scss';

.gall-card {
  height: 100%;
  border-radius: 5px;

  .layer {
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 25px;

    &-opacity {
      position: absolute;
      width: 100%;
      height: 100%;
      opacity: 0.56;
      background-color: map_get($color, 'black-1');
      z-index: 1;
    }
  }

  .texts {
    z-index: 2;
    overflow: auto;

    .gallery-header {
      font-size: 25px;
      font-weight: bold;
      line-height: 1.28;
      text-align: center;
      color: map_get($color, 'black-1');

      &.show-text {
        font-size: 25px;
        font-weight: bold;
        line-height: 1.28;
        text-align: center;
        color: map_get($color, 'white-1');
      }
    }

    .text {
      @media (max-width: map_get($grid-breakpoints, 'md')) {
        font-size: 16px;
        line-height: 24px;
      }

      color: map_get($color, 'white-1');
    }
  }

  .button {
    background-color: $white;
    width: 48px;
    border-radius: 50%;
    height: 48px;
    z-index: 2;

    .eva-close-outline {
      color: map_get($color, 'supp-3');
    }

    .eva-plus-outline {
      color: map_get($color, 'primary');
    }
  }
}
