@import '../../../../../scss/commons';
@import '@crowdfarming/ds-library/src/styles/global';

.chips-wrapper {
  padding-top: 18px;
  margin-bottom: 18px;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  column-gap: 8px;
  row-gap: 10px;
}

.divider {
  height: 1px;
  width: 100%;
  position: absolute;
  background-color: map_get($color, 'grey-12');
  left: 0;
}

.header {
  margin-top: 24px;
  width: 100%;
  display: flex;
  flex-direction: column-reverse;
  align-items: center;

  @include bp(device-l) {
    margin-top: 0;
    min-height: 96px;
    flex-direction: row;
    align-items: stretch;
    justify-content: space-between;
  }

  & ds-tabs {
    @include bp(device-l) {
      display: flex;
      align-items: flex-end;
    }
  }

  &__buttons-area {
    margin-bottom: 22px;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 12px;

    @include bp(device-m) {
      grid-template-columns: repeat(2, 1fr);
    }

    @include bp(device-l) {
      margin-bottom: 0;
      display: flex;
      justify-content: flex-end;
      align-items: center;
      flex-direction: row;
    }

    & sorting-selector {
      @include bp(device-l) {
        flex: 0.5;
      }
    }
  }
}

:host ::ng-deep ds-tabs {
  .ds-tabs-box .ds-tabs-options .ds-tabs-tab::after {
    height: 0 !important;
  }
}

.search-container {
  padding: 0;
}
