@import '../../../../../scss/colors.scss';
@import '../../../../../scss/variables.scss';
@import '../../../../../scss/commons.scss';

.gift {
  background-color: $giftIconBG;
  color: $giftBlueIcon;
  padding: 4px;
  height: 24px;
  text-transform: uppercase;
  border-radius: 4px;
  font-weight: 600;
  font-size: 12px;

  span {
    &[class*='eva-'] {
      font-family: 'Eva-Icons', serif;
    }
  }
}
